
body {
  font-family: "Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif !important;
}
h3 {
  font-weight: 400;
}
button:focus {
  outline: none !important;	
}
.d-none {
  display: none !important;
}
.font-12 {
  font-size: 12px;
}
.m-0 {
  margin: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-8 {
  margin-bottom: 8px;
}
.mr-8 {
  margin-right: 8px;
}
.ml-4 {
  margin-left: 4px;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.pt-8 {
  padding-top: 8px;
}
.w-124 {
  width: 124px;
}
.wpx-36 {
  width: 36px !important;
}
.w-70 {
  width: 70px;
}

/*custom scroll*/
.scrollbar-panel::-webkit-scrollbar {
width: 8px;
height: 8px;
}

/* Track */
.scrollbar-panel::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
.scrollbar-panel::-webkit-scrollbar-thumb {
background: #888888; 
border-radius: 10px;
}

/* Handle on hover */
.scrollbar-panel::-webkit-scrollbar-thumb:hover {
background: #555555; 
}
.custom-panel {
  margin: 10px 0;
  border: 1px solid #d4d4d4;
  background-color: #ffffff;
}
.panel-head {
  color: #1b1b1b;
  padding: 8px 15px;
  background-color: #ffffff;
}
.panel-body {
  background-color: #ffffff;
}
.custom-form-group .form-control {
  border-radius: 0;
  box-shadow: none;
}
.custom-form-group .form-control:focus {
  border-color: #1d6ec0;
}
.custom-btn,
.custom-btn:focus {
  background-color: #1d6ec0;
  border-color: #1d6ec0;
  color: #ffffff;
  border-radius: 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.custom-btn:hover {
  color: #1d6ec0;
  background-color: #fff;
  border-color: #1d6ec0;
}
.custom-btn-two-cancel {
  border-radius: 2px;
  color: #fff;
  background-color: #7B7A7A;
  border-color: #7B7A7A;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.custom-btn-two-cancel:hover, .custom-btn-two-cancel:focus {
  background: #ffffff;
  color: #7B7A7A;
  border-color: #7B7A7A;
}
.Customer-edit-lock-btn-box {
  text-align: center;
}
.Customer-edit-lock-btn-box .custom-edit-btn {
  margin-right: 0px;
}
.Customer-edit-lock-btn-box .custom-edit-btn,
.Customer-edit-lock-btn-box .custom-lock-btn {
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  border-radius: 50%;
  border: 0;
  padding: 0;
  transition: all 0.3s;
  background-color: #e7e7e7;
  margin: 0 2px;
}
.Customer-edit-lock-btn-box .custom-edit-btn {
  color: #1d6ec0;
  display: inline-block;
}
.Customer-edit-lock-btn-box .custom-edit-btn:hover,
.Customer-edit-lock-btn-box .custom-delete-btn:hover {
  background-color: #cccccc;
}

.Customer-table {
  margin-top: 20px;
  border: 1px solid #d2d2d2;
}
.custom-table {
  background-color: #ffffff;
}
@media (max-width: 1199px) {
  .Customer-table .custom-table {
      min-width: 1170px;
  }
}
.Customer-table .custom-table {
  margin-bottom: 0;   
}
.Customer-table .custom-table tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}
.Customer-table .custom-table thead tr {
  background-color: #ffffff !important;
  border-top: 0 !important;
}
.Customer-table .table tbody tr {
  border-top: 1px solid #d2d2d2;
}
.Customer-table .table>thead>tr>th {
  width: 10%;
  border-bottom: 0;
  font-weight: 400;
  white-space: nowrap;
}
.white-space-nowrap {
  white-space: nowrap;
}
.Customer-table .table>tbody>tr>td {
  border-top: 0;
  padding: 10px 8px;
  word-break: break-word;
}
.Customer-table-ellipsis-1,
.Customer-table-ellipsis-2 {
  display: inline;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.Customer-table-ellipsis-1 {
  -webkit-line-clamp: 1;
}
.Customer-table-ellipsis-2 {
  -webkit-line-clamp: 2;
}
.Customer-footer-btn-group {
  margin-top: 14px;
}
.Customer-footer-btn-group .w-87 {
  width: 87px;
}
.Customer-footer-btn-group .custom-btn-two-danger,
.Customer-footer-btn-group .custom-btn-two-danger:focus {
  border-radius: 2px;
  color: #fff;
  background-color: #7B7A7A;
  border-color: #7B7A7A;
}
.Customer-footer-btn-group .custom-btn-two-danger:hover {
  background: #ffffff;
  color: #7B7A7A;
  border-color: #7B7A7A;
}

.Customer-modal-footer {
  text-align: center;
}

.chip-panel {
  overflow-x: auto;
}
.chip-box {
  display: flex;
  padding: 0 0 3px 0;
}
.upload-chip {
  border-radius: 20px;
  border: 1px solid #d2d2d2;
  padding: 4px 10px;
  margin-bottom:8px;
  margin-right: 4px;
  font-size: 12px;
  height: 28px;
  white-space: nowrap;
  background-color: #ffffff;
}
.upload-chip:hover {
  background-color: #f2f2f2;
}
.close-round {
  width: 22px;
  height: 22px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0px 7px 0 rgba(0,0,0,0.23);
  opacity: 1;
  text-align: center;
  line-height: 22px;
}
.close-round:hover {
  opacity: 1;
  background-color: #333333;
  color: #ffffff;
}
.close-icon {
  position: relative;
  top: -2px;
  left: 0px;
}
.border-0 {
  border: 0 !important;
}
.description-read-mode {
  font-size: 12px;
  color: #1d6ec0;
  text-decoration: underline;
}
.search-box {
  max-width: 208px;
  margin-bottom: 0;
}
.Customer-top-panel-box-istad {
  margin-top: -5px;
}
.color-red {
  color: #ff0000;
}

#tablefooterMyCustomer
{
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#tablenavMyCustomer {
  float: left;
}
  
#tablenavMyCustomer div 
{
  float: left;
  margin-right: 15px;
}

#tablelocationMyCustomer {
  float: right;
  font-size: 12px;
}
#tablelocationMyCustomer div {
  float: left;
  margin-left: 15px;
}



#txtFilterStatus {
   width: 267px !important;
   margin-left: 0px !important;
}
#peoplePickerSale div>div{
width:auto;

}
#SalesPersonfilter div>div{
width:auto;
}

/* footer fix bottom */
body #s4-workspace {
  min-height: 100% !important;
}
#s4-bodyContainer {
  min-height: -webkit-calc( 100vh - 38px );
  min-height: calc( 100vh - 38px );
}

#modalAddNewClient .modal-dialog{
  margin:7px auto;	
}

#modalAddNewClient .modal-body {
    max-height: calc(100vh - 168px);
    overflow: auto;
    margin: 0 3px;
    padding: 10px 16px !important;
}


#modalAddNewClient .modal-body::-webkit-scrollbar-thumb {
border: 2px solid transparent;
border-radius: 10px;
background-color: #666;
background-clip: content-box;
-webkit-background-clip: content-box;

}


#modalAddNewClient .modal-body::-webkit-scrollbar-thumb:hover {
background-color: #666;;
background-clip: border-box;
-webkit-background-clip: border-box;

}

#modalAddNewClient .modal-body::-webkit-scrollbar {
width: 8px;
height: 8px;
background-color: transparent;
}


@media screen and (max-width: 767px) {
  .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
      white-space: normal;
  }
}
@media (max-width: 600px) {
  .Customer-top-panel-box-istad {
      width: 100%;
  }
  .Customer-top-panel-box-istad .search-box {
      margin: auto;
  }
  .Customer-btn-position {
      text-align: center;
      margin-bottom: 10px;
  }
}
@media (max-width: 425px) {
  .Customer-inbox-istab .col-xs-6 {
      width: 100%;
  }
}






