/*Common CSS*/
	/*Padding Classes*/
		.p0{padding:0 !important;}
        .p5{padding:5px !important;}
        .p10{padding:10px !important;}
        .p20{padding:20px !important;}
        .p12{padding:12px !important;}
		.pt0{padding-top: 0;}
		.pt5{padding-top: 5px !important;}
		.pt10{padding-top: 10px !important;}
		.pt15{padding-top: 15px !important;}
		.pt20{padding-top: 20px !important;}
		.pt25{padding-top: 25px !important;}
		.pt30{padding-top: 30px !important;}
		.pt35{padding-top: 35px !important;}
		.pt40{padding-top: 40px !important;}

		.pb0{padding-bottom: 0 !important;}
		.pb3{padding-bottom: 3px !important;}
		.pb5{padding-bottom: 5px !important;}
		.pb10{padding-bottom: 10px !important;}
		.pb15{padding-bottom: 15px !important;}
		.pb20{padding-bottom: 20px !important;}
		.pb25{padding-bottom: 25px !important;}
		.pb30{padding-bottom: 30px !important;}
		.pb35{padding-bottom: 35px !important;}
		.pb40{padding-bottom: 40px !important;}

		.pl0{padding-left: 0;}
		.pl5{padding-left: 5px !important;}
		.pl10{padding-left: 10px !important;}
		.pl15{padding-left: 15px !important;}
		.pl20{padding-left: 20px !important;}
		.pl25{padding-left: 25px !important;}
		.pl30{padding-left: 30px !important;}

		.pr0{padding-right: 0;}
		.pr3{padding-right: 3px !important;}
		.pr5{padding-right: 5px !important;}
		.pr10{padding-right: 10px !important;}
		.pr15{padding-right: 15px !important;}
		.pr20{padding-right: 20px !important;}
		.pr25{padding-right: 25px !important;}
		.pr30{padding-right: 30px !important;}
		/*For Ipad Pro*/
			@media(max-width: 1024px){
				.ip0{padding:0 !important;}
				.ipt0{padding-top: 0px !important;}
				.ipt5{padding-top: 5px !important;}
				.ipt10{padding-top: 10px !important;}
				.ipt15{padding-top: 15px !important;}
				.ipt20{padding-top: 20px !important;}
				.ipt25{padding-top: 25px !important;}
				.ipt30{padding-top: 30px !important;}

				.ipb0{padding-bottom: 0px !important;}
				.ipb5{padding-bottom: 5px !important;}
				.ipb10{padding-bottom: 10px !important;}
				.ipb15{padding-bottom: 15px !important;}
				.ipb20{padding-bottom: 20px !important;}
				.ipb25{padding-bottom: 25px !important;}
				.ipb30{padding-bottom: 30px !important;}

				.ipl0{padding-left: 0px !important;}
				.ipl5{padding-left: 5px !important;}
				.ipl10{padding-left: 10px !important;}
				.ipl15{padding-left: 15px !important;}
				.ipl20{padding-left: 20px !important;}
				.ipl25{padding-left: 25px !important;}
				.ipl30{padding-left: 30px !important;}

				.ipr0{padding-right: 0px !important;}
				.ipr5{padding-right: 5px !important;}
				.ipr10{padding-right: 10px !important;}
				.ipr15{padding-right: 15px !important;}
				.ipr20{padding-right: 20px !important;}
				.ipr25{padding-right: 25px !important;}
				.ipr30{padding-right: 30px !important;}
			}
		/*For Ipad Pro*/
		/*For Tablets*/
			@media(max-width: 767px){
				.t-pull-left{
					float: left !important;
				}
				.t-pull-right{
					float: right !important;
				}
				.t-pull-none{
					float: none !important;
				}


				.tp{padding:0 !important;}
				.tpt0{padding-top: 0px !important;}
				.tpt5{padding-top: 5px !important;}
				.tpt10{padding-top: 10px !important;}
				.tpt15{padding-top: 15px !important;}
				.tpt20{padding-top: 20px !important;}
				.tpt25{padding-top: 25px !important;}
				.tpt30{padding-top: 30px !important;}

				.tpb0{padding-bottom: 0px !important;}
				.tpb5{padding-bottom: 5px !important;}
				.tpb10{padding-bottom: 10px !important;}
				.tpb15{padding-bottom: 15px !important;}
				.tpb20{padding-bottom: 20px !important;}
				.tpb25{padding-bottom: 25px !important;}
				.tpb30{padding-bottom: 30px !important;}

				.tpl0{padding-left: 0px !important;}
				.tpl5{padding-left: 5px !important;}
				.tpl10{padding-left: 10px !important;}
				.tpl15{padding-left: 15px !important;}
				.tpl20{padding-left: 20px !important;}
				.tpl25{padding-left: 25px !important;}
				.tpl30{padding-left: 30px !important;}

				.tpr0{padding-right: 0px !important;}
				.tpr5{padding-right: 5px !important;}
				.tpr10{padding-right: 10px !important;}
				.tpr15{padding-right: 15px !important;}
				.tpr20{padding-right: 20px !important;}
				.tpr25{padding-right: 25px !important;}
				.tpr30{padding-right: 30px !important;}
			}
		/*For Tablets*/
		/*For Mobile*/
			@media(max-width: 425px){
				.m-text-left{
					text-align: left;
				}
				.m-text-center{
					text-align: center;
				}
				.m-text-right{
					text-align: right;
				}
				.m-pull-left{
					float: left !important;
				}
				.mp0{padding:0;}
				.mpt0{padding-top: 0 !important;}
				.mpt5{padding-top: 5px !important;}
				.mpt10{padding-top: 10px !important;}
				.mpt15{padding-top: 15px !important;}
				.mpt20{padding-top: 20px !important;}
				.mpt25{padding-top: 25px !important;}
				.mpt30{padding-top: 30px !important;}

				.mpb0{padding-bottom: 0 !important;}
				.mpb5{padding-bottom: 5px !important;}
				.mpb10{padding-bottom: 10px !important;}
				.mpb15{padding-bottom: 15px !important;}
				.mpb20{padding-bottom: 20px !important;}
				.mpb25{padding-bottom: 25px !important;}
				.mpb30{padding-bottom: 30px !important;}

				.mpl0{padding-left: 0 !important;}
				.mpl5{padding-left: 5px !important;}
				.mpl10{padding-left: 10px !important;}
				.mpl15{padding-left: 15px !important;}
				.mpl20{padding-left: 20px !important;}
				.mpl25{padding-left: 25px !important;}
				.mpl30{padding-left: 30px !important;}

				.mpr0{padding-right: 0 !important;}
				.mpr5{padding-right: 5px !important;}
				.mpr10{padding-right: 10px !important;}
				.mpr15{padding-right: 15px !important;}
				.mpr20{padding-right: 20px !important;}
				.mpr25{padding-right: 25px !important;}
				.mpr30{padding-right: 30px !important;}
			}
		/*For Mobile*/

	/*Padding Classes*/

	/*Margin Classes*/
		.ma0{margin: 0 auto;float: none;}
		.m0{margin:0 !important;}
		.mt0{margin-top: 0;}
		.mt5{margin-top: 5px !important;}
		.mt10{margin-top: 10px !important;}
		.mt15{margin-top: 15px !important;}
		.mt20{margin-top: 20px !important;}
		.mt25{margin-top: 25px !important;}
		.mt30{margin-top: 30px !important;}

		.mb0{margin-bottom: 0 !important;}
		.mb5{margin-bottom: 5px !important;}
		.mb10{margin-bottom: 10px !important;}
		.mb15{margin-bottom: 15px !important;}
		.mb20{margin-bottom: 20px !important;}
		.mb25{margin-bottom: 25px !important;}
		.mb30{margin-bottom: 30px !important;}

		.ml0{margin-left: 0 !important;}
		.ml5{margin-left: 5px !important;}
		.ml10{margin-left: 10px !important;}
		.ml15{margin-left: 15px !important;}
		.ml20{margin-left: 20px !important;}
		.ml25{margin-left: 25px !important;}
		.ml30{margin-left: 30px !important;}

		.mr0{margin-right: 0 !important;}
		.mr5{margin-right: 5px !important;}
		.mr10{margin-right: 10px !important;}
		.mr15{margin-right: 15px !important;}
		.mr20{margin-right: 20px !important;}
		.mr25{margin-right: 25px !important;}
		.mr30{margin-right: 30px !important;}
		/*For Ipad Pro*/
			@media(max-width: 1024px){
				.i-pull-left{
					float:left;
				}
				.i-pull-right{
					float:right;
				}
				.i-pull-none{
					float:none;
				}

				.i0{margin:0 !important;}
				.imt0{margin-top: 0px !important;}
				.imt5{margin-top: 5px !important;}
				.imt10{margin-top: 10px !important;}
				.imt15{margin-top: 15px !important;}
				.imt20{margin-top: 20px !important;}
				.imt25{margin-top: 25px !important;}
				.imt30{margin-top: 30px !important;}

				.imb0{margin-bottom: 0px !important;}
				.imb5{margin-bottom: 5px !important;}
				.imb10{margin-bottom: 10px !important;}
				.imb15{margin-bottom: 15px !important;}
				.imb20{margin-bottom: 20px !important;}
				.imb25{margin-bottom: 25px !important;}
				.imb30{margin-bottom: 30px !important;}

				.iml0{margin-left: 0px !important;}
				.iml5{margin-left: 5px !important;}
				.iml10{margin-left: 10px !important;}
				.iml15{margin-left: 15px !important;}
				.iml20{margin-left: 20px !important;}
				.iml25{margin-left: 25px !important;}
				.iml30{margin-left: 30px !important;}

				.imr0{margin-right: 0px !important;}
				.imr5{margin-right: 5px !important;}
				.imr10{margin-right: 10px !important;}
				.imr15{margin-right: 15px !important;}
				.imr20{margin-right: 20px !important;}
				.imr25{margin-right: 25px !important;}
				.imr30{margin-right: 30px !important;}
			}
		/*For Ipad Pro*/
		/*For Tablets*/
			@media(max-width: 767px){
				.t-pull-left{
					float:left !important;
				}
				.t-pull-right{
					float:right !important;
				}
				.t-pull-none{
					float:none !important;
				}

				.tm0{margin:0 !important;}
				.tmt0{margin-top: 0 !important;}
				.tmt5{margin-top: 5px !important;}
				.tmt10{margin-top: 10px !important;}
				.tmt15{margin-top: 15px !important;}
				.tmt20{margin-top: 20px !important;}
				.tmt25{margin-top: 25px !important;}
				.tmt30{margin-top: 30px !important;}

				.tmb0{margin-bottom: 0 !important;}
				.tmb5{margin-bottom: 5px !important;}
				.tmb10{margin-bottom: 10px !important;}
				.tmb15{margin-bottom: 15px !important;}
				.tmb20{margin-bottom: 20px !important;}
				.tmb25{margin-bottom: 25px !important;}
				.tmb30{margin-bottom: 30px !important;}

				.tml0{margin-left: 0 !important;}
				.tml5{margin-left: 5px !important;}
				.tml10{margin-left: 10px !important;}
				.tml15{margin-left: 15px !important;}
				.tml20{margin-left: 20px !important;}
				.tml25{margin-left: 25px !important;}
				.tml30{margin-left: 30px !important;}

				.tmr0{margin-right: 0 !important;}
				.tmr5{margin-right: 5px !important;}
				.tmr10{margin-right: 10px !important;}
				.tmr15{margin-right: 15px !important;}
				.tmr20{margin-right: 20px !important;}
				.tmr25{margin-right: 25px !important;}
				.tmr30{margin-right: 30px !important;}
			}
		/*For Tablets*/
		/*For Mobile*/
			@media(max-width: 425px){
				.m-pull-left{
					float:left !important;
				}
				.m-pull-right{
					float:right !important;
				}
				.m-pull-none{
					float:none !important;
				}

				.mm0{margin:0 !important;}
				.mmt0{margin-top: 0 !important;}
				.mmt5{margin-top: 5px !important;}
				.mmt10{margin-top: 10px !important;}
				.mmt15{margin-top: 15px !important;}
				.mmt20{margin-top: 20px !important;}
				.mmt25{margin-top: 25px !important;}
				.mmt30{margin-top: 30px !important;}

				.mmb0{margin-bottom: 0 !important;}
				.mmb5{margin-bottom: 5px !important;}
				.mmb10{margin-bottom: 10px !important;}
				.mmb15{margin-bottom: 15px !important;}
				.mmb20{margin-bottom: 20px !important;}
				.mmb25{margin-bottom: 25px !important;}
				.mmb30{margin-bottom: 30px !important;}

				.mml0{margin-left: 0 !important;}
				.mml5{margin-left: 5px !important;}
				.mml10{margin-left: 10px !important;}
				.mml15{margin-left: 15px !important;}
				.mml20{margin-left: 20px !important;}
				.mml25{margin-left: 25px !important;}
				.mml30{margin-left: 30px !important;}

				.mmr0{margin-right: 0 !important;}
				.mmr5{margin-right: 5px !important;}
				.mmr10{margin-right: 10px !important;}
				.mmr15{margin-right: 15px !important;}
				.mmr20{margin-right: 20px !important;}
				.mmr25{margin-right: 25px !important;}
				.mmr30{margin-right: 30px !important;}
			}
		/*For Mobile*/
		/*For Small Mobile*/
			@media(max-width: 320px){
				.sm-pull-left{
					float:left !important;
				}
				.sm-pull-right{
					float:right !important;
				}
				.sm-pull-none{
					float:none !important;
				}

				.smm0{margin:0 !important;}
				.smmt0{margin-top: 0 !important;}
				.smmt5{margin-top: 5px !important;}
				.smmt10{margin-top: 10px !important;}
				.smmt15{margin-top: 15px !important;}
				.smmt20{margin-top: 20px !important;}
				.smmt25{margin-top: 25px !important;}
				.smmt30{margin-top: 30px !important;}

				.smmb0{margin-bottom: 0 !important;}
				.smmb5{margin-bottom: 5px !important;}
				.smmb10{margin-bottom: 10px !important;}
				.smmb15{margin-bottom: 15px !important;}
				.smmb20{margin-bottom: 20px !important;}
				.smmb25{margin-bottom: 25px !important;}
				.smmb30{margin-bottom: 30px !important;}

				.smml0{margin-left: 0 !important;}
				.smml5{margin-left: 5px !important;}
				.smml10{margin-left: 10px !important;}
				.smml15{margin-left: 15px !important;}
				.smml20{margin-left: 20px !important;}
				.smml25{margin-left: 25px !important;}
				.smml30{margin-left: 30px !important;}

				.smmr0{margin-right: 0 !important;}
				.smmr5{margin-right: 5px !important;}
				.smmr10{margin-right: 10px !important;}
				.smmr15{margin-right: 15px !important;}
				.smmr20{margin-right: 20px !important;}
				.smmr25{margin-right: 25px !important;}
				.smmr30{margin-right: 30px !important;}
			}
		/*For Small Mobile*/
			@media(max-width:320px){
				.margin-button-small{
					margin-top: 10px;
				}
			}
			@media(max-width: 360px){
				.margin-button-medium{
					margin-top: 10px;
				}
			}
			@media(max-width: 375px){
				.margin-button-large{
					margin-top: 10px;
				}
			}
	/*Margin Classes*/
/*Common CSS*/