
body {
	font-family: "Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif !important;
}
h3 {
    font-weight: 400;
}
button:focus {
    outline: none !important;	
}
.font-12 {
    font-size: 12px;
}
.m-0 {
    margin: 0;
}
.mb-0 {
    margin-bottom: 0;
}

.mb-8 {
    margin-bottom: 8px;
}
.mr-8 {
    margin-right: 8px;
}
.ml-4 {
    margin-left: 4px;
}
.pl-4 {
    padding-left: 4px;
}
.pr-4 {
    padding-right: 4px;
}
.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.pt-8 {
    padding-top: 8px;
}
.w-121 {
    width: 121px;
}
.wpx-36 {
    width: 36px !important;
}

/*custom scroll*/
.scrollbar-panel::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
.scrollbar-panel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.scrollbar-panel::-webkit-scrollbar-thumb {
  background: #888888; 
  border-radius: 10px;
}

/* Handle on hover */
.scrollbar-panel::-webkit-scrollbar-thumb:hover {
  background: #555555; 
}
.custom-panel {
    margin: 10px 0;
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
}
.panel-head {
    color: #1b1b1b;
    padding: 8px 15px;
    background-color: #ffffff;
}
.panel-body {
    background-color: #ffffff;
}
.custom-form-group .form-control {
    border-radius: 0;
    box-shadow: none;
}
.custom-form-group .form-control:focus {
    border-color: #1d6ec0;
}
.custom-btn,
.custom-btn:focus {
    background-color: #1d6ec0;
    border-color: #1d6ec0;
    color: #ffffff;
    border-radius: 2px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.custom-btn:hover {
    color: #1d6ec0;
    background-color: #fff;
    border-color: #1d6ec0;
}
.custom-btn-two-cancel,
.custom-btn-two-cancel:focus {
    border-radius: 2px;
    color: #fff;
    background-color: #7B7A7A;
    border-color: #7B7A7A;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.custom-btn-two,
.custom-btn-two:focus {
    border-radius: 16px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    font-size: 10px;
    padding: 1px 3px;
    min-width: 39px !important;
}
.custom-btn-two-cancel:hover {
    background: #ffffff;
    color: #7B7A7A;
    border-color: #7B7A7A;
}
/* Common css end */


/*Emp Details +++++++++++++++++++++++++++++++++++++*/
.emp-row {
    display: flex;
}
.emp-upload-image-box {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 16px auto 6px auto;
    border: 3px solid #bbbbbb;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 0.20);
    overflow: hidden;
    transition: all 0.5s;
}
.emp-upload-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.emp-upload-image-box-btn {
    position: absolute;
    bottom: -80px;
    left: 0;
    width: 100%;
    background: rgb(0 0 0 / 80%);
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    transition: all 0.5s;
    padding: 30px 10px;
}
.emp-upload-image-inp {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    max-width: 178px;
    top: 0;
    left: 8px;
    margin: auto;
    border-radius: 0 0px 250px 250px;
}
.emp-upload-image-inp[type='file']{
    cursor: pointer;
    font-size: 0;
}
.emp-upload-image-span {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: all 0.5s;
    line-height: 25px;
}
.emp-upload-image-box:hover .emp-upload-image-box-btn {
    bottom: 0;
}
.employee-details {
    background-color: #f5f5f5;
    border: 1px solid #e9e9e9;
    border-left: 0;
    border-right: 0;
}
.emp-name {
    font-size: 28px;
    color: #415271;
    padding-bottom: 10px;
}
.emp-deg {
    font-size: 14px;
    font-weight: 500;
    color: #415271;
    padding-bottom: 20px;
}
.emp-lb,
.emp-data {
    font-weight: 600;
    color: #415271;
    padding-bottom: 10px;
}
.emp-lb {
    width: 120px;
    padding-right: 0 !important;
}
.emp-data {
    font-weight: 400;
}
.emp-details-img {
    margin: 0px auto;
}
.employee-details-box1 {
    padding: 20px 0;
}
.employee-info {}
.employee-info .tabs{
    margin-top:20px;
    font-size:15px;
    padding:0px;
    list-style:none;
    background:#fff;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
    display:inline-block;
    position:relative;
    width: 100%;
    border-radius: 4px;
}

.employee-info .tabs a{
    text-decoration:none;
    color: #777;
    text-transform:uppercase;
    padding:10px 20px;
    display:inline-block;
    position:relative;
    z-index:1;
    transition-duration:0.6s;
}

.employee-info .tabs a.active{
    color:#fff;
}

.employee-info .tabs a i{
    margin-right:5px;
}
.font-18 {
    font-size: 18px;
}
.b-700 {
    font-weight: 700;
}
.mb-5 {
    margin-bottom: 5px;
}
.employee-info .tabs .selector{
    height:100%;
    display:inline-block;
    position:absolute;
    left:0px;
    top:0px;
    z-index:1;
    border-radius: 4px;
    transition-duration:0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background: #1d6ec0;
}
.required {
    color: #ff0000;
}
.employee-info .tab-content {
    padding: 14px 0 0;
}
.introduction-img {
    height: 100%;
    width: 16px;
    margin-top: -4px;
    transition: all 0.4s;
}
.introduction-tab.active .introduction-img {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(152deg) brightness(209%) contrast(128%);
}
@media (min-width: 992px) {
    .Introduction-btn-box {
        height: 200px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .employee-details-box1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}
@media (max-width: 991px) {
    .Introduction-btn-box {
        text-align: center;
        margin-top: 16px;
    }
    .emp-details-img {
        margin-bottom: 20px;
    }
}
@media (max-width: 767px) {
    .is-phone-hode {
        display: none;
    }
    .employee-info .tabs a {
        padding: 10px 19px;
        font-size: 18px;
    }
    .employee-info .tabs a i {
        margin: auto; 
    }
}
@media (max-width: 575px) {
    #Profile .col-xs-6,
    #Details .col-xs-6,
    #Address .col-xs-6 {
        width: 100%;
    }
}
