
body {
    font-family: "Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif !important;
}
h3 {
    font-weight: 400;
}
button:focus {
    outline: none !important;	
}
.d-none {
    display: none !important;
}
.font-12 {
    font-size: 12px;
}
.font-16 {
    font-size: 16px;
}
.font-28 {
    font-size: 28px;
}
.m-0 {
    margin: 0;
}
.mt-0 {
    margin-top: 0px !important;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-8 {
    margin-bottom: 8px;
}
.mr-8 {
    margin-right: 8px;
}
.ml-4 {
    margin-left: 4px;
}
.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.pr-4 {
    padding-right: 4px;
}
.pt-8 {
    padding-top: 8px;
}
.wpx-36 {
    width: 36px !important;
}
.w-30 {
    width: 30%;
}
.border-top-0 {
    border-top: 0px !important;
}
/*custom scroll*/
.scrollbar-panel::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
.scrollbar-panel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.scrollbar-panel::-webkit-scrollbar-thumb {
  background: #888888; 
  border-radius: 10px;
}

/* Handle on hover */
.scrollbar-panel::-webkit-scrollbar-thumb:hover {
  background: #555555; 
}
/*custom scroll*/
.scrollbar-panel2::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.scrollbar-panel2::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.scrollbar-panel2::-webkit-scrollbar-thumb {
  background: #888888; 
  border-radius: 10px;
}

/* Handle on hover */
.scrollbar-panel2::-webkit-scrollbar-thumb:hover {
  background: #555555; 
}
.custom-panel {
    margin: 10px 0;
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
}
.panel-head {
    color: #1b1b1b;
    padding: 8px 15px;
    background-color: #ffffff;
}
.panel-body {
    background-color: #ffffff;
}

.custom-form-group .form-control {
    border-radius: 0;
    box-shadow: none;
}
.custom-form-group .form-control:focus {
    border-color: #1d6ec0;
}
.custom-btn,
.custom-btn:focus {
    background-color: #1d6ec0;
    border-color: #1d6ec0;
    color: #ffffff;
    border-radius: 2px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.custom-btn:hover {
    color: #1d6ec0;
    background-color: #fff;
    border-color: #1d6ec0;
}
.custom-btn-two-cancel {
    border-radius: 2px;
    color: #fff;
    background-color: #7B7A7A;
    border-color: #7B7A7A;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.custom-btn-two-cancel:hover, .custom-btn-two-cancel:focus {
    background: #ffffff;
    color: #7B7A7A;
    border-color: #7B7A7A;
}
.dms-edit-lock-btn-box {
    text-align: center;
}
.dms-edit-lock-btn-box .custom-edit-btn {
    margin-right: 0px;
}
.dms-edit-lock-btn-box .custom-edit-btn,
.dms-edit-lock-btn-box .custom-lock-btn {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    border: 0;
    padding: 0;
    transition: all 0.3s;
    background-color: #e7e7e7;
    margin: 0 2px;
}
.dms-edit-lock-btn-box .custom-edit-btn {
    color: #1d6ec0;
    display: inline-block;
}
.dms-edit-lock-btn-box .custom-edit-btn:hover,
.dms-edit-lock-btn-box .custom-delete-btn:hover {
    background-color: #cccccc;
}

.dms-table {
    border: 1px solid #d2d2d2;
}
.custom-table {
    background-color: #ffffff;
}
.dms-table .custom-table {
    min-width: 1100px;
}
.dms-table-3 .custom-table {
    min-width: 470px;
}
.dms-table-3 {
    max-height: 380px;
}
@media (max-width: 1199px) {
    .dms-table-2 .custom-table {
        min-width: 800px;
    }
}
.dms-table .custom-table {
    margin-bottom: 0;   
}
.dms-table .custom-table tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}
.dms-table .custom-table thead tr {
    background-color: #ffffff !important;
    border-top: 0 !important;
}
.dms-table .table tbody tr {
    border-top: 1px solid #d2d2d2;
}
.dms-table .table>thead>tr>th {
    width: 10%;
    border-bottom: 0;
    font-weight: 400;
    white-space: nowrap;
}
.white-space-nowrap {
    white-space: nowrap;
}
.dms-table .table>tbody>tr>td {
    border-top: 0;
    padding: 10px 8px;
    word-break: break-word;
}
.dms-table-ellipsis-1,
.dms-table-ellipsis-2 {
    display: inline;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.dms-table-ellipsis-1 {
    -webkit-line-clamp: 1;
}
.dms-table-ellipsis-2 {
    -webkit-line-clamp: 2;
}
.dms-footer-btn-group {
    margin-top: 14px;
}
.wpx-87 {
    width: 87px;
}
.dms-footer-btn-group .custom-btn-two-danger,
.dms-footer-btn-group .custom-btn-two-danger:focus {
    border-radius: 2px;
    color: #fff;
    background-color: #7B7A7A;
    border-color: #7B7A7A;
}
.dms-footer-btn-group .custom-btn-two-danger:hover {
    background: #ffffff;
    color: #7B7A7A;
    border-color: #7B7A7A;
}

.dms-modal-footer {
    text-align: center;
}
.close-round {
    width: 22px;
    height: 22px;
    min-width: 22px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0px 7px 0 rgba(0,0,0,0.23);
    opacity: 1;
    text-align: center;
    line-height: 22px;
}
.close-round:hover {
    opacity: 1;
    background-color: #333333;
    color: #ffffff;
}
.close-icon {
    position: relative;
    top: -2px;
    left: 0px;
}
.border-0 {
    border: 0 !important;
}
.description-read-mode {
    font-size: 12px;
    color: #1d6ec0;
    text-decoration: underline;
}
.search-box {
    max-width: 208px;
    margin-bottom: 0;
}
.dms-top-panel-box-istad .search-box {
    margin-left: auto;
}
.custom-breadcrumb .breadcrumb {
    margin-bottom: 0;
    background: #ffffff;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 16px;
}
.custom-breadcrumb .breadcrumb>li+li:before {
    content: "\f105";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #555555;
}
.custom-breadcrumb .breadcrumb .breadcrumb-item {
    font-weight: 500;
}
.d-flex {
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.align-items-center {
    align-items: center;
    -webkit-align-items: center;
}
.justify-content-between {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.dms-deta-btn-panel {
    flex-wrap: wrap;
}
.dms-table-btn {
    margin: 0px 6px 10px 0px;
}
.dms-table-btn:last-child {
    margin-right: 0px;
}
.dms-table-btn .btn {
    background: #fff;
    padding: 4px 8px 4px 8px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    transition: all 0.3s;
}
.dms-table-btn .btn:active {
    box-shadow: none;
}
.dms-table-btn .btn:hover {
    background: #efefef;
}
.dms-table-btn-active .btn,
.dms-table-btn-active .btn:hover {
    background: #1d6ec0;
    color: #ffffff;
}
.dms-button-image-icon {
    max-width: 20px;
    filter: invert(28%) sepia(95%) saturate(1091%) hue-rotate(187deg) brightness(101%) contrast(88%);
}
.dms-table-btn-active .dms-button-image-icon {
    filter: invert(100%);
}
.dms-table-btn-active .dropdown-menu .dms-button-image-icon {
    filter: invert(28%) sepia(95%) saturate(1091%) hue-rotate(187deg) brightness(101%) contrast(88%);
}

.hpx-20 {
    height: 20px;
}
.w-2 {
    width: 2% !important;
}
.w-4 {
    width: 4% !important;
}
.w-8 {
    width: 8% !important;
}
.vertical-ellipsis-button {
    border: 0;
    background: transparent;
    height: 25px;
    width: 25px;
    /*background: #d6d6d6;*/
    border-radius: 50px;
    padding: 0;
    text-align: center;
    font-size: 18px;
    color: #5d5d5d;
}
.vertical-ellipsis-button>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 4px;
    filter: invert(53%) sepia(0%) saturate(35%) hue-rotate(136deg) brightness(88%) contrast(98%);
}
.color-red {
    color: #ff0000;
}
.color-green {
    color: #039203;
}
.custom-pagination .active a {
    background: #1d6ec0;
}
.custom-pagination {
    margin-top: 0;
    margin-bottom: 0;
}
.dms-table-total-items {
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}
.total-items,
.total-items-value {
    font-weight: 500;
    margin-bottom: 0;
}
.resize-none {
    resize: none;
}
.files-upload-drop-box {
    height: 280px;
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
}
.form-check-box {
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}
.form-check-box .custom-form-group {
    width: 100%;
}
.form-check-box .checkbox {
    width: 12px;
    margin-top: 20px;
}
.add-button-box {
    position: relative;
}
.link-input-fild {
    padding-right: 40px;
}
.link-add-btn, .link-add-btn:focus, .link-delete-btn, .link-delete-btn:focus {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 34px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0px;
    padding-right: 0px;
}
.remove-btn {
    padding: 0px 4px;
    font-size: 12px;
}
.close-round:hover {
    opacity: 1;
    background-color: #333333;
    color: #ffffff;
    text-shadow: none;
}
.repository-table-icon {
    width: 50px;
    vertical-align: middle !important;
}
.dropdown-menu {
    border: 0;
    padding: 10px 0;
}
.dms-search-table.dms-table .table tbody tr:first-child {
    border-top: 0px;
}
.dms-search-table-image-icon {
    width: 100%;
    max-width: 34px;
}
.version-history-card {
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}
.version-history-card-head {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    border: 2px solid #bbbbbb;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    overflow: hidden;
    transition: all 0.5s;
}
.version-history-card-head>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.version-history-card-body {
    padding-left: 12px;
    width: calc(100% - 40px);
}
.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.members-card {
    border: 1px solid #cccccc;
    padding: 6px 6px 6px 6px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}
.members-card-head {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    border: 2px solid #bbbbbb;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    overflow: hidden;
    transition: all 0.5s;
}
.members-card-head>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.members-card-body {
    padding-left: 12px;
    width: calc(100% - 40px);
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
}
.members-card-body-info {
    width: 100%;
}

@media (min-width: 991px) {
    .members-card .members-card-body .remove-btn {
        opacity: 0;
        transition: all 0.3s;
    }
}
.members-card:hover .members-card-body .remove-btn {
    opacity: 1;
}
.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.member-name {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    margin-top: 0px;
}
.member-deg, .member-dep, .member-email {
    font-size: 14px;
    line-height: 1.2;
}
.member-deg, .member-dep {
    margin-bottom: 2px;
}
.member-email {
    margin-bottom: 4px;
}
.member-title {
    margin-bottom: 3px;
}
.members-right-box .form-control {
    padding: 2px 4px;
    height: auto;
    margin-top: 17px;
    width: 98px;
}
.members-right-box .remove-btn {
    float: none;
}
.custom-panel-box {
    border: 0;
}
.project-edit-lock-btn-box {
    text-align: center;
}
.project-edit-lock-btn-box .custom-edit-btn {
    margin-right: 0px;
}
.project-edit-lock-btn-box .custom-edit-btn,
.project-edit-lock-btn-box .custom-lock-btn {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    border: 0;
    padding: 0;
    transition: all 0.3s;
    background-color: #e7e7e7;
    margin: 0 2px;
}
.project-edit-lock-btn-box .custom-edit-btn {
    color: #1d6ec0;
    display: inline-block;
}
.project-edit-lock-btn-box .custom-edit-btn:hover,
.project-edit-lock-btn-box .custom-delete-btn:hover {
    background-color: #cccccc;
}
.advance-search-panel {
    position: absolute;
    bottom: 10px;
    left: 65px;
    transition: all 0.5s;
}
.revok-icon {
    max-width: 16px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 4px;
}

.dms-table-btn .fa {
    color: #1d6ec0;
}
.dms-table-btn-active .btn .fa, .dms-table-btn-active .btn:hover .fa {
    color: #ffffff;
}
.dropdown-color-menu-icon {
    min-width: 214px;
}
.dropdown-color-menu-icon li a {
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    padding: 6px 20px;
}
.dropdown-menu>li>a {
    padding: 6px 20px;
    display: flex;
    align-items: center;
}
.color-dms-icon-info {
    max-width: 18px;
    width: 100%;
    object-fit: contain;
}
.sharing-type-icon-panel {
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    margin-top: 15px;
}

.modal-dialog-700 {
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.members-modal-search-box {
    max-width: 200px;
}
.member-modal-scroll {
    max-height: 80vh;
    overflow: auto;
}
.advance-document-search-modal-scroll {
    max-height: 70vh;
    overflow: auto;
}
.share-history-search-box2 {
    text-align: right;
}
.share-history-search-box2 .custom-btn {
    width: 94px;
}
.revoke-btn,
.revoke-btn:focus {
    background-color: #ed7d31;
    border-color: #ed7d31;
}
.revoke-btn:hover {
    color: #ed7d31;
    background-color: #fff;
    border-color: #ed7d31;
}
.advance-search-icon {
    display: none;
}
.modal-body {
    padding-left: 20px;
    padding-right: 20px;
}
.modal-body label {
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 12px;
}
.member-iu-gu-box {
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    padding-right: 2px;
}
.member-dropdown .form-control {
    padding: 0px 4px;
    height: auto;
    width: 140px;
}
.rename-btn {
    color: #1d6ec0;
    position: absolute;
    bottom: -5px;
    line-height: 1;
    right: 14px;
    font-size: 13px;
}
.w-20 {
    width: 20% !important;
}

.member-status-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.member-status-image-box {
    max-width: 140px;
}
.member-status-image-box img {
    width: 100%;
}

.input-with-add-btn-box {
    display: flex;
}
.input-with-add-btn-box .form-control {
    border-right: 0px;
}
.input-with-add-btn-box .btn {
    border-radius: 0px;
}
@media (max-width: 991px) {
    .member-iu-gu-box {
        max-height: calc(100vh - 322px);
        margin-bottom: 8px;
    }
}
@media screen and (max-width: 767px) {
    .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
        white-space: normal;
    }
    .dms-table-footer {
        margin-top: 0px !important;
    }
    .advance-search-panel {
        left: 0px;
    }
    .advance-search-panel .custom-btn {
        border-radius: 0;
        width: 48px;
        height: 38px;
        font-size: 20px;
    }
    .advance-search-text {
        display: none;
    }
    .advance-search-icon {
        display: block;
    }
    .advance-document-search-modal-scroll {
        max-height: 74vh;
    }
}
@media (max-width: 600px) {
    .dms-top-panel-box-istad {
        width: 100%;
    }
    .dms-top-panel-box-istad .search-box {
        margin: auto;
    }
    .dms-btn-position {
        text-align: center;
        margin-bottom: 10px;
    }
}
@media (max-width: 575px) {
    .dms-inbox-istab575 .col-xs-6 {
        width: 100%;
    }
    .share-history-search-box1 .search-box {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8px;
    }
    .share-history-search-box2 {
        text-align: center;
    }
}
@media (max-width: 425px) {
    .dms-inbox-istab .col-xs-6 {
        width: 100%;
    }
    .custom-pagination li a {
        padding: 4px 10px;
    }
}


/* dashboard css classes ***********************************************************/
.dashboard-panel {
    margin-top: -1px;
    margin-bottom: 0px;
    border: 0;
}
.external-emp-box {
    margin-top: 0px;
    margin-bottom: 0px;
}
.tab-col {
    box-shadow: 1px 5px 5px 0 rgb(0 0 0 / 22%);
    background: #ffffff;
    padding-left: 0;
    padding-right: 0;
    z-index: 10;
    position: fixed;
    width: 250px;
    height: calc(100vh);
    transition: width 0.5s;
}
.main-menu-panel {
    width: 48px;
}
.mobile-hide-tabs-name {
    /*white-space: nowrap;*/
}

/*.main-menu-panel .mobile-hide-tabs-name {
    display: none;
}*/

.deta-col {
    margin-left: 250px;
    width: calc(100% - 250px);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.deta-col.main-deta-panel {
    margin-left: 48px;
    width: calc(100% - 48px);
}
.external-emp-tab-area .nav-pills li img {
    width: 31px;
    height: 31px;
    filter: grayscale(100%);
}
.external-emp-tab-area .nav-pills li.active img,
.external-emp-tab-area .nav-pills li .dms-left-panel-tab-active img {
    filter: grayscale(0%);
}

.external-emp-tab-area .tab-col .nav-pills > li a {
    font-size: 16px;
    border: 0;
    margin-right: 0;
    font-weight: 400;
    border-radius: 0px;
    padding: 6px 8px;
    width: auto;
    display: block;
    color: #000;
}
.external-emp-tab-area .tab-col .nav-pills > li a:focus, 
.external-emp-tab-area .tab-col .nav-pills > li a:hover {
    text-decoration: none;
    outline: 0;
}
.external-emp-tab-area .tab-col .nav-pills > li.active a, 
.external-emp-tab-area .tab-col .nav-pills > li .dms-left-panel-tab-active, 
.external-emp-tab-area .tab-col .nav-pills > li.active a:focus, 
.external-emp-tab-area .tab-col .nav-pills > li.active a:hover {
    background: #ffffff;
    color: #1d6ec0 !important;
    border: 0;
    text-decoration: none;
    outline: 0;
    font-weight: 600;
}


.external-emp-tab-area .tab-col .nav-pills > li.panel {
    margin-bottom: 0px;
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #f1f1f1;
    margin-top: 0px;
}
.external-emp-tab-area .tab-col .nav-pills > li.panel:last-child {
    border-bottom: 0px;
}
.inner-collapse-panel {
    padding: 5px 0px 5px 28px;
}
.inner-collapse-panel .panel-group {
    margin-bottom: 0;
}
.main-menu-panel .inner-collapse-panel .panel-group {
    max-height: 210px;
    overflow-y: auto;
}
/*custom scroll*/
.main-menu-panel .inner-collapse-panel .panel-group::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
.main-menu-panel .inner-collapse-panel .panel-group::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.main-menu-panel .inner-collapse-panel .panel-group::-webkit-scrollbar-thumb {
  background: #888888; 
  border-radius: 10px;
}

/* Handle on hover */
.main-menu-panel .inner-collapse-panel .panel-group::-webkit-scrollbar-thumb:hover {
  background: #555555; 
}
.inner-collapse-panel .panel-group .panel {
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #f1f1f1;
}
.inner-collapse-panel .panel-group .panel:last-child {
    border-bottom: 0px;
}
.inner-collapse-panel .panel-group .panel .panel-heading {
    padding: 0px;
}
.inner-collapse-panel .panel-group .panel .panel-heading .panel-title > a,
.inner-collapse-panel .panel-group .panel .panel-heading .panel-title > a:hover,
.inner-collapse-panel .panel-group .panel .panel-heading .panel-title > a:focus {
    text-align: left;
    padding-left: 8px;
    padding-right: 0;
    font-size: 14px;
    color: #000000 !important;
    background: #ffffff;
    font-weight: 400;
    padding-right: 5px;
}
.inner-collapse-panel .panel-group .panel .panel-heading .panel-title > a img {
    filter: grayscale(100%);
}
.inner-collapse-panel .panel-group .panel .panel-collapse .panel-body {
    padding: 5px;
    border: 0;
}
.inner-collapse-panel .panel-group .panel .panel-heading .panel-title > a[aria-expanded="true"],
.inner-collapse-panel .nav .panel.active .panel-heading .panel-title > a,
.inner-collapse-panel .panel-group .panel .panel-heading .panel-title .dms-left-panel-tab-active-inner,
.inner-collapse-panel .panel-group .panel .panel-heading .panel-title .dms-left-panel-tab-active-inner:focus,
.inner-collapse-panel .panel-group .panel .panel-heading .panel-title .dms-left-panel-tab-active-inner:hover {
    background: #ffffff;
    color: #1d6ec0 !important;
    font-weight: 600;   
}
.inner-collapse-panel .panel-group .panel .panel-heading .panel-title > a[aria-expanded="true"] img,
.inner-collapse-panel .nav .panel.active .panel-heading .panel-title > a img,
.inner-collapse-panel .panel-group .panel .panel-heading .panel-title .dms-left-panel-tab-active-inner img{
    filter: grayscale(0%);
}

.w-100 {
    width: 100%;
}
.b-600 {
    font-weight: 600;
}
.menu-icon-box {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 24px;
    text-align: center;
    margin-left: 6px;
    color: #777777;
    cursor: pointer;
    display: none;
}
.menu-icon-box .fa-angle-left {
    height: 35px;
    line-height: 35px;
    font-size: 36px;
}
.menu-icon-box .fa-bars {
    display: none;
    line-height: 35px;
}
.menu-icon-active .fa-bars {
    display: block;
}
.menu-icon-active .fa-angle-left {
    display: block;
}
.menu-icon-box .fa-angle-left {
    height: 35px;
    line-height: 35px;
    font-size: 36px;
}
.menu-icon-box.menu-icon-active .fa-angle-left {
    display: none;
}

@media (min-width: 768px) {
    .custom-fixed-nav {
        max-height: calc(100vh - 110px);
        overflow: auto;
    }
    .custom-fixed-nav {
        overflow-x: hidden;
    }
    .main-menu-panel .mobile-hide-tabs-name {
        visibility: hidden;
        white-space: nowrap;
    }
    .main-menu-panel .custom-fixed-nav {
        overflow: unset !important;
    }
    .main-menu-panel .inner-collapse-panel-mobile {
        left: 100%;
        position: absolute;
        top: 0;
        width: 230px;
        z-index: 10;
        background: #fff;
        box-shadow: 3px 1px 4px 0px rgb(0 0 0 / 20%);
    }
    .main-menu-panel .inner-collapse-panel {
        padding: 5px 0px 5px 8px;
    }
    .tab-col .nav-pills > li.panel.active .inner-collapse-panel-mobile .inner-collapse-panel .mobile-hide-tabs-name {
        visibility: visible;
        white-space: initial;
    }

    .main-menu-panel .advance-search-panel {
        left: 0px;
    }
    .main-menu-panel .advance-search-panel .custom-btn {
        border-radius: 0;
        width: 48px;
        height: 38px;
        font-size: 20px;
    }
    .main-menu-panel .advance-search-text {
        display: none;
    }
    .main-menu-panel .advance-search-icon,
    .menu-icon-box {
        display: block;
    }
}
@media screen and (max-width: 767px) {
    .mobile-hide-tabs-name {
        display: none;
    }
    .tab-col {
        max-width: 48px;
        min-width: 48px;
    }
    .deta-col {
        margin-left: 48px;
        width: calc(100% - 48px);
    }
    .inner-collapse-panel-mobile {
        left: 100%;
        position: absolute;
        top: 0;
        width: 210px;
        z-index: 10;
        background: #fff;
        box-shadow: 3px 1px 4px 0px rgb(0 0 0 / 20%);
    }
    .inner-collapse-panel {
        padding: 5px 0px 5px 8px;
    }
    .inner-collapse-panel-mobile .inner-collapse-panel .mobile-hide-tabs-name {
        display: block;
    }
    .side-bar-icon-center {
        justify-content: center;
        -webkit-justify-content: center;
    }
    .dms-modal-footer-multi-btn-group button {
        width: 49%;
        margin: 2px 0 !important;
    }
}
@media (max-width: 600px) {
    .members-modal-search-box-panel {
        flex-direction: column;
    }
    .members-modal-search-box-panel .members-modal-search-box {
        margin-left: auto;
    }
}


.upload-progress {
    height: 8px;
    margin-top: 6px;
    margin-bottom: 14px;
}

.departmental-documents-modal .members-modal-search-box-panel {
    padding: 0 15px;
}
.departmental-documents-modal .modal-body {
    padding-left: 0px;
    padding-right: 0px;
}
.departmental-documents-modal .members-modal-search-box-panel .members-modal-search-box {
    margin-left: auto;
}

.searched-documents-modal-w .modal-dialog {
    width: 85%;
}
@media (max-width: 767px) {
   .searched-documents-modal-w .modal-dialog {
        width: auto;
    } 
}
.d-none {
    display: none !important;
}

.custom-selectpicker .btn.dropdown-toggle {
    border-radius: 0;
    outline: none !important;
    box-shadow: none;
    background: transparent;
    opacity: 1;
    color: #333;
}
.custom-selectpicker .btn.dropdown-toggle:hover {
    background-color: transparent;
    color: #333;
}
.custom-selectpicker .btn.dropdown-toggle:hover {
    border-color: #cccccc;
}
.custom-selectpicker .btn.dropdown-toggle[aria-expanded="true"],
.custom-selectpicker .btn.dropdown-toggle:focus {
    border-color: #1d6ec0 !important;
    background-color: transparent;
    color: #333;
}
.custom-selectpicker .btn.dropdown-toggle .bs-caret .caret {
    border: 0px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.custom-selectpicker .btn.dropdown-toggle .bs-caret .caret:before {
    content: "\f078";
    top: -6px;
    right: 2px;
    position: relative;
    font-size: 11px;
    color: #555;
}

.custom-selectpicker .dropdown-menu {
    border: 1px solid #adadad;
    border-radius: 0;
}
.custom-selectpicker .dropdown-menu.inner {
    overflow-y: auto;
    max-height: 100px;
}
/*custom scroll for select picker*/
.custom-selectpicker .dropdown-menu.inner::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.custom-selectpicker .dropdown-menu.inner::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.custom-selectpicker .dropdown-menu.inner::-webkit-scrollbar-thumb {
  background: #888888; 
  border-radius: 10px;
}

/* Handle on hover */
.custom-selectpicker .dropdown-menu.inner::-webkit-scrollbar-thumb:hover {
  background: #555555; 
}
.custom-selectpicker .dropdown-menu.inner .selected {
    background-color: #1d6ec0;
}
.custom-selectpicker .dropdown-menu.inner .selected a {
    color: #ffffff;
    outline: none;
}
.selected-user-detail-card {
    margin-left: 0px;
    margin-right: 0px;
    max-height: 200px;
    overflow-y: auto;
}
.selected-user-detail-card .members-card {
    margin-bottom: 4px;
}
.selected-user-detail-box {
    border: 1px solid #cccccc;
    padding-top: 12px;
    padding-bottom: 12px;
}
.selected-user-detail-add-user {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}
.selected-user-detail-card .col-md-6:nth-child(odd) {
    padding-right: 8px;
    padding-left: 12px;
}
.selected-user-detail-card .col-md-6:nth-child(even) {
    padding-left: 8px;
    padding-right: 12px;
}
.selected-user-detail-add-user .custom-btn-circle {
    border-radius: 50%;
    padding: 0;
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    margin-left: 10px;
    font-size: 16px;
}

.sharing-add-user-input {
    width: 0;
    transition: all 0.5s ease-in;
    padding: 0px;
    border-width: 0px;
}

.sharing-add-user-input.sharing-add-user-input-active {
    width: 250px;
    padding: 6px 12px;
    border: 1px solid #ccc;
}

.selected-user-detail-add-user .custom-btn-circle .fa-minus,
.selected-user-detail-add-user .sharing-add-user-input.sharing-add-user-input-active ~ .custom-btn-circle .fa-plus {
    display: none;
}
.selected-user-detail-add-user .sharing-add-user-input.sharing-add-user-input-active ~ .custom-btn-circle .fa-minus {
    display: block;
    line-height: 1px;
    margin-top: 2px;
}

.user-add-box-area {
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: flex-end;
}
.user-add-box-area .custom-form-group {
    width: calc(100% - 48px);
}
.sharing-type-icon-image {
    max-width: 190px;
    width: 100%;
    object-fit: contain;
}
.cursor-pointer {
    cursor: pointer;
}
.share-project-box {
    position: relative;
}
.share-project-box .form-control {
    padding-right: 40px;
}
.share-search-icon {
    position: absolute;
    right: 0;
    top: 0px;
    background: #1d6ec0;
    height: 100%;
    width: 34px;
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}
.checkbox-space-align {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkbox-space-align label {
    margin-bottom: 0px;
}
.checkbox-space-align label input {
    top: -2px;
}
.checkbox-space-align:last-child {
    margin-bottom: 0px;
}
.custom-radio-inline {
    margin-bottom: 4px !important;
}
.custom-radio-inline input {
    top: -2px;
}
.selected-user-detail-card-h100 {
    max-height: 105px;
}
.radio-btn-position-top-0 {
    top: 0;
}
.radio-btn-position-top--2 {
    top: -2px;
}
.due-date-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    margin-top: 0px !important;
    margin-bottom: 0px;
}
.due-date-container label {
    min-width: 80px;
    position: relative;
    margin-bottom: 0px;
}
.settings-table-box {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
.settings-table-box .custom-table {
    min-width: 500px;
}
.settings-table-box .table>thead>tr>th:nth-child(1) {
    width: 3%;
}
.settings-table-box .table>thead>tr>th:nth-child(2) {
    width: 20%;
}
.settings-table-box .table>thead>tr>th:nth-child(3) {
    width: 12%;
}
.settings-table-box .table>thead>tr>th:nth-child(4) {
    width: 6%;
}
.settings-table-box .table>thead>tr>th:nth-child(5) {
    width: 5%;
}
.vertical-align-middle {
    vertical-align: middle !important;
}
.settings-table-box .table tbody tr.fixed-table-footer td {
    position: sticky;
    bottom: 0;
    background: #f5f5f5;
}


@media (max-width: 424px) {
    .sharing-add-user-input.sharing-add-user-input-active {
        width: 188px;
    }
}






.full-expand-panel {
    width: 100%;
    margin: 0;
}

.d-flex {
    display: flex !important;
}
.full-expand-panel .detail-view-deta-btn-panel {
    flex-wrap: wrap;
}
.full-expand-panel .detail-view-table-btn {
    margin: 0px 6px 10px 0px;
}
.full-expand-panel .detail-view-table-btn .btn {
    background: #fff;
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 4px 8px 4px 8px;
    transition: all 0.3s;
}
.full-expand-panel .detail-view-table-btn .btn:hover {
    background: #efefef;
}
.full-expand-panel .detail-view-table-btn .btn:active {
    box-shadow: none;
}
.full-expand-panel .detail-view-icon-info {
    max-width: 20px;
    filter: invert(28%) sepia(95%) saturate(1091%) hue-rotate(187deg) brightness(101%) contrast(88%);
}
.mr2 {
    margin-right: 2px;
}
.ml2 {
    margin-left: 2px;
}
.full-expand-panel .preview-box {
    border: 1px solid #cccccc;
    min-height: calc(100vh - 125px);
    max-height: calc(100vh - 125px);
    overflow: auto;
}
.full-expand-panel .detail-label {
    font-size: 12px;
    margin-bottom: 2px;
    font-weight: 500;
}
.full-expand-panel .detail-title {
    font-size: 14px;
}
.full-expand-panel .ellipsis-2 {
    display: inline;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.full-expand-panel .ellipsis-2 {
    -webkit-line-clamp: 2;
}
.full-expand-panel .detail-vide-panel {
    list-style-type: none;
    padding-left: 0px;
    max-height: calc(100vh - 372px);
    overflow: auto;
    padding-right: 3px;
}
.full-expand-panel .detail-vide-panel li {
    margin-bottom: 5px;
}
.full-expand-panel .change-properties-pannel {
    text-align: right;
}
.full-expand-panel .change-properties-pannel a {
    color: #1d6ec0;
}
.full-expand-panel .modal-content {
    border: 0;
    border-radius: 0px;
}
.full-expand-panel .custom-panel {
    border: 0px;
    border-radius: 0px !important;
    box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 15%);
    margin-bottom: 22px;
}
.full-expand-panel .custom-panel:last-child {
    margin-bottom: 0px !important;
}
.full-expand-panel .custom-panel .detail-panel-link {
    padding: 0px;
}

.full-expand-panel .custom-panel .detail-panel-link .panel-title a {
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding: 12px 15px;
    font-weight: 400;
    font-size: 18px;
    background-color: #ffffff;
}
.full-expand-panel .custom-panel .detail-panel-link .panel-title a:hover,
.full-expand-panel .custom-panel .detail-panel-link .panel-title a:focus {
    text-decoration: none;
}
.full-expand-panel .custom-panel .detail-panel-link .panel-title a > i {
    font-size: 20px;
    transition: all 0.5s;
}
.full-expand-panel .custom-panel .detail-panel-link .panel-title a[aria-expanded="true"] i {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}
.full-expand-panel .detail-vide-panel-align {
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.full-expand-panel .detail-panel-inner-link {
    white-space: nowrap;
    margin-left: 4px;
}

@media (min-width: 1200px) {
    .full-expand-panel .modal-body {
        height: calc(100vh - 56px);
    }
}
@media (max-width: 1199px) {
    .full-expand-panel .preview-box {
        margin-bottom: 24px;
        min-height: calc(100vh - 220px);
        max-height: calc(100vh - 220px);
    }
}

/* image checkbox classes*/
.chexbox_mg {
    position: relative;
    width: 42px;
}
.chexbox_mg input[type="checkbox"][id^="myCheckbox"] {
    display: none;
}
.chexbox_mg label {
    border: 1px solid #fff;
    padding: 3px;
    display: block;
    position: relative;
    margin: 3px;
    cursor: pointer;
    border-radius: 5px;
}
.chexbox_mg label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid #1e9201;
    position: absolute;
    top: -7px;
    left: -8px;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 14px;
    transition-duration: 0.4s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}

.chexbox_mg label img {
    height: 100%;
    width: 100%;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}
.chexbox_mg :checked + label {
    border-color: #1e9201;
}

.chexbox_mg :checked + label:before {
    content: " " !important;
    background-image: url('../images/checkmark.png');
    background-position: top 1px center;
    background-repeat: no-repeat;
    background-size: 12px;
}

.chexbox_mg :checked + label img {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
}



/* custom-search-dropdown-panel */

.custom-search-dropdown-panel .custom-search-dropdown-panel-button {
    border: 1px solid #ccc;
    outline: none !important;
    text-align: left;
    position: relative;
}
.custom-search-dropdown-panel .custom-search-dropdown-panel-button:after {
    position: absolute;
    content: "\f078";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    right: 3px;
    top: 11px;
    font-size: 11px;
}

.custom-search-dropdown-result {
    width: 100%;
    margin-top: 0px;
    padding: 16px;
}
.custom-inner-search-box {
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    width: 100%;
}
.custom-inner-search-box1 {
    position: relative;
    width: calc(100% - 47px);
}
.custom-inner-search-list {
    margin-bottom: 0px;
    list-style-type: none;
    padding-left: 0px;
    margin-top: 12px;
    overflow: auto;
    max-height: 280px;
}
.custom-inner-search-box1 .form-control {
    border-radius: 20px;
    padding-right: 34px;
}
.custom-inner-search-box1 .fa {
    position: absolute;
    right: 12px;
    top: 9px;
    font-size: 16px;
}
.custom-inner-search-box1 .form-control:focus ~ .fa {
    color: #1d6ec0;
}
.form-group-search-data {
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}
.form-group-search-data input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group-search-data label {
  position: relative;
  cursor: pointer;
  font-weight: 400;
  display: -webkit-box;
  display: -moz-box; 
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  margin-bottom: 0px;
}

.form-group-search-data label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group-search-data input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.form-group-search-data .members-card-body-info {
    margin-left: 12px;
}
.form-group-search-data .members-card-body-info .member-name {
    line-height: 1.4;
}
.custom-inner-search-list li {
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
}
.custom-inner-search-list li:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
}
.group-user-list {
    list-style-type: none;
    padding-left: 0px;
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    overflow-x: auto;
}
.group-user-list li {
    padding: 0px;
    border: 0px;
    padding-right: 10px;
    margin-bottom: 2px;
}
.group-user-list li:last-child {
    padding-right: 0px;
}
.group-user-list li .group-user-list-image {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.group-user-list li .group-user-list-name-lt {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #1d6ec0;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
}
.guest-client-card .guest-client-head {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #1d6ec0;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
}
.guest-client-card .guest-client-body {
    width: calc(100% - 30px);
}
.sharing-expiry-date-panel-box {
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    align-items: center;
    -webkit-align-items: center;
    margin-top: 5px;
}
.sharing-expiry-date-panel-box label input,
.sharing-expiry-date-panel label input {
    top: -2px;
}
.main-menu-panel .section-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(255 255 255 / 0%);
    z-index: -1;
    display: none;
}
.main-menu-panel .section-overlay[aria-expanded="true"] {
    display: block;
}
.d-block {
    display: block !important;
}
.modal-top-onestep {
    z-index: 999999;
    background: rgb(0 0 0 / 50%);
}

@media (max-width: 575px) {
    .sharing-expiry-date-panel {
        flex-direction: column;
        align-items: flex-start;
        -webkit-align-items: flex-start;
    }
    .sharing-expiry-date-panel-box {
        margin-left: 0px;
        margin-top: 6px;
    }
}


