body {
    font-family: SegoeUI;
}


@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url("//adaptindia.sharepoint.com///adaptindia.sharepoint.com///adaptindia.sharepoint.com///c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2") format("woff2"),
        url("//adaptindia.sharepoint.com///adaptindia.sharepoint.com///adaptindia.sharepoint.com///c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff") format("woff"),
        url("//adaptindia.sharepoint.com///adaptindia.sharepoint.com///adaptindia.sharepoint.com///c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf") format("truetype");
    font-weight: 400;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
}
a {
    color: #333;
    text-decoration: none !important ;
}
a:hover {
    text-decoration: none !important ;
}
.z3 {z-index: 3;}
.custom-scroll::-webkit-scrollbar-track
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background-color: #999;
}

.text-bold {
    font-weight: 600;
}
/*
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0px !important;
}
*/
.owl-theme .owl-nav.disabled {
    margin-top: 0px !important;
}
.owl-theme .owl-nav {
    margin-top: 0px !important; 
}
.owl-theme .owl-dots .owl-dot span {
    margin: 0px 5px !important;
}
.owl-theme .owl-dots {
    text-align: right !important;
}
button.owl-dot {
    outline: none;
}
.shade {
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,0.8));
    display: block;
    position: absolute;
    height: 100%;
    width: 99%;
    top: 0px;
}
.shade-lg {
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,0.8));
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
}
.shade-sm {
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,0.8));
    display: block;
    position: absolute;
    height: 99%;
    width: 99%;
    top: 0px;
}
.panel-mb5 {margin-bottom:5px;}
.panel-heading-announcements {
    padding: 14px 0px 7px 0px !important;
    border: none !important;
    background-color: transparent !important;
}
.panel-body-announcements {
    padding: 5px 7px !important;
}
.announcement-head-text {
    padding: 4px 12px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #ff9e20 !important;
    width: 100%;
}
.announcement-title{
    font-size: 19px;
}

a.announcements-button  {
    display: block;
    font-size: 12px;
    padding: 5px 10px;
    color: #666;
    background-color: transparent;
    border: 1px solid #666 !important;
    border-radius: 10px;
    cursor: pointer;
    float: right;
}
a.announcements-button:hover {
    color: #fff;
    background-color: #333 !important;
    border: 1px solid #333 !important;
}

.view{
    background: url("../../DefaultHome/images/view.png");
    width: 31px;
    height: 11px;
    display: block;
}
.view:hover{
    background: url("../../DefaultHome/images/view.png");
    width: 31px;
    height: 11px;
    display: block;
    
}

.panel-heading-announcements-alert {
    padding: 14px 0px 7px 0px !important;
    border: none !important;
    background-color: transparent !important;
}
.panel-body-announcements-alert {
    padding: 5px 7px !important;
}
.announcement-head-text-alert {
    padding: 4px 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #f00 !important;
    width: 100%;
}
.announcement-title-alert {
    font-size: 19px;
}

a.announcements-alert-button  {
    display: block;
    font-size: 12px;
    padding: 5px 10px;
    color: #666;
    background-color: transparent;
    border: 1px solid #666 !important;
    border-radius: 10px;
    cursor: pointer;
    float: right;
}
a.announcements-alert-button:hover {
    color: #fff;
    background-color: #333 !important;
    border: 1px solid #333 !important;
}

.panel-heading-welcome {
    padding: 14px 0px 7px 0px !important;
    border: none !important;
    background-color: transparent !important;
}
.panel-body-welcome {
    padding: 5px 7px !important;
    position: relative;
    overflow: hidden;
}
.welcome-head-text {
    padding: 4px 12px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #ff9e20 !important;
    width: 100%;
}
.welcome-title{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 0px;
}
.welcome-content {
    margin-top: 63px;
}
.welcome-button-area a {
    position: absolute;
    bottom: 0px;
    left: 50px;
}
a.welcome-button  {
    display: block;
    font-size: 12px;
    padding: 5px 10px;
    color: #666;
    background-color: transparent;
    border: 1px solid #666 !important;
    border-radius: 10px;
    cursor: pointer;
    float: left;
}
a.welcome-button:hover {
    color: #fff;
    background-color: #333 !important;
    border: 1px solid #333 !important;
}
.welcome-bg-area {
    background: #fff;
    width: 225px;
    height: 85%;
    position: absolute;
    border-radius: 50%;
    bottom: -100px;
    left: -60px;
    box-shadow: 2px -3px 0px rgb(0,0,0);
    z-index: 2;
}
.welcome-image-div {
}
.welcome-image-div img{
    display: block;
    overflow: hidden;
    position: absolute;
    right: -49px;
    bottom: -33px;
    border-radius: 50%;
    width: 240px;
    height: 270px;
}
.welcome-view a {
    display: inline-block;
    width: auto !important;
    text-decoration: none;
}
.welcome-type {
    font-size: 18px;
    margin-bottom: 50px;
}


.panel-heading-recognition {
    padding: 14px 0px 7px 0px !important;
    border: none !important;
    background-color: transparent !important;
}
.panel-body-recognition {
    padding: 5px 7px !important;
    position: relative;
    overflow: hidden;
}
.recognition-head-text {
    padding: 4px 12px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #ff9e20 !important;
    width: 100%;
}
.recognition-title{
    font-size: 26px;
    font-weight: 600;
    margin-bottom:0px ;
}
.recognition-content {
    margin-top: 63px;
    text-align: right;
}
.recognition-button-area a {
    position: absolute;
    bottom: 0px;
    right: 50px;
}
a.recognition-button  {
    display: block;
    font-size: 12px;
    padding: 5px 10px;
    color: #666;
    background-color: transparent;
    border: 1px solid #666 !important;
    border-radius: 10px;
    cursor: pointer;
    float: left;
}
a.recognition-button:hover {
    color: #fff;
    background-color: #333 !important;
    border: 1px solid #333 !important;
}
.recognition-bg-area {
    background: #fff;
    width: 225px;
    height: 85%;
    position: absolute;
    border-radius: 50%;
    bottom: -98px;
    right: -54px;
    box-shadow: -2px -3px 0px rgb(0,0,0);
    z-index: 2;
}
.recognition-image-div {
}

.recognition-image-div img{
    display: block;
    overflow: hidden;
    position: absolute;
    left: -60px;
    bottom: -55px;
    border-radius: 50%;
    width: 240px;
    height: 270px;
}
.recognition-view a {
    display: inline-block;
    width: auto !important;
    text-decoration: none;
}
.recognition-type {
    font-size: 18px;
    margin-bottom: 50px;
}


.panel-heading-general {
    padding: 14px 0px 7px 0px !important;
    border: none !important;
    background-color: transparent !important;
}
.panel-body-general {
    padding: 5px 7px !important;
    position: relative;
    overflow: hidden;
}
.general-head-text {
    padding: 4px 12px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #ff9e20 !important;
    width: 100%;
}
.general-title{
    font-size: 26px;
    font-weight: 600;
    margin-bottom:0px ;
    text-align: center;
}
.general-content {
    text-align: center;
}
.general-content p {
    margin-bottom: 10px;
}

.general-view {
    text-align: left;
}
.general-view a {
    display: inline-block;
    width: auto !important;
    text-decoration: none;
}
.general-type {
    font-size: 18px;
    margin-bottom: 0px;
    text-align: center;
}
.panel-body-general img.image-general {
    height: 206px;
    border-radius: 4px;
}


.general-popup-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
}
.general-popup-designation {
    font-size: 17px;
    margin-bottom: 0px;
}
.general-popup-area-image{
    display: inline-block;
}    
.general-popup-area-image img{
    border-radius: 4px;
} 
a.general-button  {
/*    display: block;*/
    font-size: 12px;
    padding: 5px 10px;
    color: #666;
    background-color: transparent;
    border: 1px solid #666 !important;
    border-radius: 10px;
    cursor: pointer;
/*  float: left;*/
}
a.general-button:hover {
    color: #fff;
    background-color: #333 !important;
    border: 1px solid #333 !important;
}

.general-comment-area {
    width: 80%;
    float: left;
    resize: none !important;
    min-height: 50px !important;
}
.general-comment-btn {
    width: 18%;
    height: 54px;
    margin-right: 0px;
    margin-left: 10px !important;
}
.general-popup-title-text {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
.general-popup-description-text {
    color: #000;
    font-size: 15px;
    text-align: justify;
}
.general-popup-like-button a {
    font-size: 23px;
    color: #ff9e20;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.general-popup-like-button a:hover {
    color: #e08207;
}
.general-popup-like-button p {
    display: inline-block;
    font-size: 16px;
}
a.general-popup-show-button  {
    display: block;
    font-size: 12px;
    padding: 5px 10px;
    color: #666;
    background-color: transparent;
    border: 1px solid #666 !important;
    border-radius: 10px;
    cursor: pointer;
    float: left;
}
a.general-popup-show-button:hover {
    color: #fff !important;
    background-color: #333 !important;
    border: 1px solid #333 !important;
}
    
a.general-popup-hide-button  {
    display: block;
    font-size: 12px;
    padding: 5px 10px;
    color: #666;
    background-color: transparent;
    border: 1px solid #666 !important;
    border-radius: 10px;
    cursor: pointer;
    float: left;
}
a.general-popup-hide-button:hover {
    color: #fff !important;
    background-color: #333 !important;
    border: 1px solid #333 !important;
}
.attachment-badge {
    display: block;
    text-align: center;
}
.attachment-badge a {
    font-size: 12px;
    margin-top: 3px;
    margin-left: 3px;
    padding: 5px 10px;
    color: #666 !important;
    background-color: transparent !important;
    border: 1px solid #666 !important;
    width: auto;
    float: left;
    border-radius: 20px;
}
    
.owl-carousel-general-popup {
    width: 100% !important;
}
.general-popup .owl-nav .owl-prev:after,
.general-popup .owl-nav .owl-prev:after, .general-popup .owl-nav .owl-next:after {
    content: '';
    position: absolute;
    margin: auto;
    left: 49%;
    bottom: -45px;
    width: 35px;
    height: 35px;
}

.general-popup .owl-nav .owl-prev:after {
  background-image: url("../../DefaultHome/images/c_ar.png")!important;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  -webkit-transform: rotate(180deg) translate(20px,0px);
      -ms-transform: rotate(180deg) translate(20px,0px);
          transform: rotate(180deg) translate(20px,0px);
}

.general-popup .owl-nav .owl-next:after{
  background-image: url("../../DefaultHome/images/c_ar.png")!important;
    background-repeat: no-repeat;
    background-size: 35px;
    right: 47%;
    bottom: -44px;
    width: 35px;
    height: 35px;
}
.general-popup .owl-nav button{
  font-size: 0!important
}

.general-popup .owl-nav{
  height: 0;
}

.general-popup .item {
    padding: 5px;
    border: 1px solid #ddd;
}
.owl-carousel.owl-carousel-general-popup .owl-item img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.general-popup.owl-theme .owl-dots {
    text-align: center !important;
    margin-top: 10px !important;
}







.timeline-filter a {
    font-size: 12px;
    padding: 1px 10px;
    color: #666;
    background-color: transparent;
    border: 1px solid #666 !important;
    float: left;
    border-radius: 20px;
}
.owl-carousel.timeline-filter {
    width: 80% !important;
    margin-left: 25px;
}
 .timeline-filter a:hover,.timeline-filter a:focus,.timeline-filter a:active {
  text-decoration: none;
  color: #ffffff;
  display: block;
  background: #333;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}    
     
.timeline-filter .owl-nav .owl-prev:after,
.timeline-filter .owl-nav .owl-prev:after, .timeline-filter .owl-nav .owl-next:after {
  content: '';
  position: absolute;
  bottom: 0px;
  margin: auto;
  width: 25px;
  height: 25px;
}

.timeline-filter .owl-nav .owl-prev:after {
  background-image: url("../../DefaultHome/images/c_ar.png")!important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  right: -24px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.timeline-filter .owl-nav .owl-next:after{
  background-image: url("../../DefaultHome/images/c_ar.png") !important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  right: -40px
}
.timeline-filter .owl-nav button{
  font-size: 0!important
}

.timeline-filter .owl-nav{
  height: 0;
}

a.timeline-extend  {
/*    display: block;*/
    font-size: 12px;
    padding: 5px 10px;
    color: #666;
    background-color: transparent;
    border: 1px solid #666 !important;
    border-radius: 10px;
    cursor: pointer;
/*  float: left;*/
}
a.timeline-extend:hover {
    color: #fff;
    background-color: #333 !important;
    border: 1px solid #333 !important;
}

.info-filter a {
    font-size: 12px;
    padding: 1px 10px;
    color: #666;
    background-color: transparent;
    border: 1px solid #666 !important;
    float: left;
    border-radius: 20px;
}
.owl-carousel.info-filter {
    width: 83% !important;
    margin-left: 25px;
}
.info-filter a:hover, .info-filter a:active, .info-filter a:focus {
  text-decoration: none;
  color: #ffffff;
  display: block;
  background: #333;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}  
     
.info-filter .owl-nav .owl-prev:after,
.info-filter .owl-nav .owl-prev:after, .info-filter .owl-nav .owl-next:after {
  content: '';
  position: absolute;
  bottom: 0px;
  margin: auto;
  width: 25px;
  height: 25px;
}

.info-filter .owl-nav .owl-prev:after {
  background-image: url("../../DefaultHome/images/c_ar.png")!important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  right: -24px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.info-filter .owl-nav .owl-next:after{
  background-image: url("../../DefaultHome/images/c_ar.png") !important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  right: -40px
}
.info-filter .owl-nav button{
  font-size: 0!important
}

.info-filter .owl-nav{
  height: 0;
}


li.dropdown-custom ul li a {
    padding: 10px 20px !important;
}
.navbar-nav li a {
    color: #000 !important;
    padding: 15px 30px !important;
}
.navbar-custom {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    border: none !important;
    border-radius: 0px !important;
    font-size: 16px !important;
    background: #fff;
}
.navbar-brand {
    padding: 5px 15px !important;
}     
a.navbar-brand {
/*    width: 150px;*/
    width: auto;
}
img.logo {
/*    width: 100%;*/
    height: 100%;
}
.header-search {
    background-color: #d7d7d7 !important;
    border: none !important;
    box-shadow: none !important;
}
.header-search-btn {
    background-color: #d7d7d7 !important;
    border-color: #d7d7d7 !important;
    outline: none !important;
}
.panel-padding-area {
    padding: 5px 5px;
    min-height: 2152px;
    height: 2152px;
    overflow-y: scroll;
}
.panel-heading-info {
    padding: 5px 5px !important;
    border: none !important;
    background-color: transparent !important;
}
.info-part-lg {
    height: 400px;
    overflow: hidden;
}
.info-part-lg a {
    text-decoration: none !important;
    color: #fff !important;
}
.image-lg-section {
/*
    position: relative;
    width: 100%;
*/
    height: 100%;
}
.image-lg-section img {
    width: 100%;
    height: 100%;
/*
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0;
    left: 0;
*/
    object-fit: cover;
    object-position: center;
}


.panel-heading-info-lg {
    padding: 14px 0px 7px 0px !important;
    border: none !important;
    background-color: transparent !important;
    position: absolute;
    top: 0px;
}
.info-head-text-lg {
    padding: 4px 12px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    background-color: #ff9e20 !important;
    width: 100%;
}
.info-content-lg {
    color: #fff;
    bottom: 0px;
    position: absolute;
}
.info-content-lg p {
    margin: 0px;
}

.info-part-sm {
    height: 200px;
}
.info-part-sm a {
    text-decoration: none !important;
    color: #fff !important;
}
.image-sm-section {
/*
    position: relative;
    width: 100%;
*/
    height: 100%;
}
.image-sm-section img {
    width: 100%;
    height: 100%;
/*
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0;
    left: 0;
*/
    object-fit: cover;
    object-position: center;
}
.panel-heading-info-sm {
    padding: 14px 0px 7px 0px !important;
    border: none !important;
    background-color: transparent !important;
    position: absolute;
    top: 0px;
}
.info-head-text-sm {
    padding: 4px 12px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    background-color: #ff9e20 !important;
    width: 100%;
}
.info-content-sm {
    color: #fff;
    bottom: 0px;
    position: absolute;
}
.info-content-sm p {
    margin: 0px;
}





.info-web .owl-nav .owl-prev:after,
.info-web .owl-nav .owl-prev:after, .info-web .owl-nav .owl-next:after {
    content: '';
    position: absolute;
    bottom: 0px;
    margin: auto;
    width: 20px;
    height: 20px;
}

.info-web .owl-nav .owl-prev:after {
  background-image: url("../../DefaultHome/images/icons/c_ar.png")!important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  right: 56px;
  -webkit-transform: rotate(180deg) translate(20px,0px);
      -ms-transform: rotate(180deg) translate(20px,0px);
          transform: rotate(180deg) translate(20px,0px);
}

.info-web .owl-nav .owl-next:after{
  background-image: url("../../DefaultHome/images/icons/c_ar.png")!important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  right: 45px
}
.info-web .owl-nav button{
  font-size: 0!important
}

.info-web .owl-nav{
  height: 0;
}

.info-web .item {
  padding: 0px 0px 0px 0px;
  height: 400px;
}
.info-web p {
  margin: 5px;
  text-align: left;
}

.info-web h5 {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
}
.info-web a {
  text-decoration: none;
}

.owl-carousel-info-web {
    width: 100% !important;
}
.info-view a {
    display: inline-block;
    width: auto !important;
    cursor: pointer;
}
.info-view img {
    width: auto !important;
}    
.info-web.owl-theme .owl-dots {
    display: inline-block;
    right: 30px;
    position: absolute;
    bottom: 10px;
} 

.info-web-plus{
    line-height: 0.50 !important;
    font-size: 26px !important;
    padding: 7px 0px 0px 0px !important;
    position: absolute;
    bottom: 10px;
    right: 5px;
    z-index: 10;
}
.info-web-plus strong {
    color: #666;
    background-color: #fff;
    border: 1px solid #666 !important;
    float: left;
    border-radius: 20px;
    padding: 0px 0px 5px 0px;
}
.info-web-plus strong:hover, .info-web-plus strong:focus, .info-web-plus strong:active {
    text-decoration: none;
    color: #ffffff;
    display: block;
    background: #333;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}



.panel-body-prayer {
    padding: 5px 0px !important;
}
.owl-carousel-prayer {
    width: 100% !important;
}
.owl-carousel.owl-carousel-prayer .owl-item img {
    display: block;
    width: 100%;
    height: 218px;
    object-fit: cover;
    object-position: center;
}
.prayer .item {
    padding: 0px;
    border: 1px solid #666;
    border-radius: 10px;
}
.prayer p {
  margin: 5px;
  text-align: left;
}

.prayer h5 {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
}
.prayer a {
  text-decoration: none;
}
.panel-body-prayer .form-group {
    margin-bottom: 0px;
}




.event-filter {
    padding: 0px 5px;
}
.event-filter a {
    font-size: 12px;
    padding: 1px 10px;
    color: #666;
    background-color: transparent;
    border: 1px solid #666 !important;
    float: left;
    border-radius: 20px;
}
.owl-carousel.event-filter {
    width: 83% !important;
    margin-left: 26px;
}
.event-filter a:hover, .event-filter a:active, .event-filter a:focus {
  text-decoration: none;
  color: #ffffff;
  display: block;
  background: #333;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}  
     
.event-filter .owl-nav .owl-prev:after,
.event-filter .owl-nav .owl-prev:after, .event-filter .owl-nav .owl-next:after {
  content: '';
  position: absolute;
  bottom: 0px;
  margin: auto;
  width: 25px;
  height: 25px;
}

.event-filter .owl-nav .owl-prev:after {
  background-image: url("../../DefaultHome/images/c_ar.png")!important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  right: -20px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.event-filter .owl-nav .owl-next:after{
  background-image: url("../../DefaultHome/images/c_ar.png") !important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  right: -35px
}
.event-filter .owl-nav button{
  font-size: 0!important
}

.event-filter .owl-nav{
  height: 0;
}


.events .owl-nav .owl-prev:after,
.events .owl-nav .owl-prev:after, .events .owl-nav .owl-next:after {
    content: '';
    position: absolute;
    bottom: 0px;
    margin: auto;
    width: 20px;
    height: 20px;
}

.events .owl-nav .owl-prev:after {
  background-image: url("../../DefaultHome/images/icons/c_ar.png")!important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  right: 56px;
  -webkit-transform: rotate(180deg) translate(20px,0px);
      -ms-transform: rotate(180deg) translate(20px,0px);
          transform: rotate(180deg) translate(20px,0px);
}

.events .owl-nav .owl-next:after{
  background-image: url("../../DefaultHome/images/icons/c_ar.png")!important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  right: 45px
}
.events .owl-nav button{
  font-size: 0!important
}

.events .owl-nav{
  height: 0;
}

.events .item {
  padding: 5px 0px 0px 0px;
}
.events p {
  margin: 5px;
  text-align: left;
}

.events h5 {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
}
.event-button a {
    display: block;
    font-size: 12px;
    padding: 5px 10px;
    color: #666;
    background-color: transparent;
    border: 1px solid #666 !important;
    border-radius: 10px;
    float: right;
    cursor: pointer;
}
.event-button a:hover {
    color: #fff;
    background-color: #333 !important;
    border: 1px solid #333 !important;
}
.event-time {
    font-size: 22px;
    font-weight: 600;
}

.events a {
  text-decoration: none;
}

.owl-carousel-events {
    width: 100% !important;
}
.owl-carousel.owl-carousel-events .owl-item img {
    display: block;
    width: 100%;
    height: 190px;
    object-fit: cover;
    object-position: center;
}
.panel-heading-events {
    padding: 0px 5px !important;
    border: none !important;
    background-color: transparent !important;
    font-size: 24px;
    font-weight: 600;
}
.panel-body-events {
    padding: 5px 0px !important;
}
.panel-heading-event-catgry-lg {
    padding: 19px 0px 7px 0px !important;
    border: none !important;
    background-color: transparent !important;
    position: absolute;
    top: 0px;
}
.event-head-catgry-text-lg {
    padding: 4px 12px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    background-color: #ff9e20 !important;
    width: 100%;
}
.event-view a {
    display: inline-block;
    width: auto !important;
}
.event-view img {
    width: auto !important;
}    
.events.owl-theme .owl-dots {
    display: inline-block;
    right: 0px;
    position: absolute;
    bottom: -23px;
}    

.survey-plus{
    line-height: 0.50 !important;
    font-size: 26px !important;
    padding: 7px 0px 0px 0px !important;
    float: right;
}
.survey-plus strong {
    color: #666;
    background-color: transparent;
    border: 1px solid #666 !important;
    float: left;
    border-radius: 20px;
    padding: 0px 0px 5px 0px;
}
.survey-plus strong:hover, .survey-plus strong:focus, .survey-plus strong:active {
    text-decoration: none;
    color: #ffffff;
    display: block;
    background: #333;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.survey-text-head {
    font-size: 20px;
}
hr.survey {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #eee;
}
.survey p {
  margin: 10px 5px;
  text-align: left;
}

.survey h5 {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
}
.survey-button a {
    font-size: 12px;
    padding: 5px 10px;
    color: #666;
    background-color: transparent;
    border: 1px solid #666 !important;
    border-radius: 10px;
    cursor: pointer;
    float: right;
}
.survey-button a:hover {
    color: #fff;
    background-color: #333 !important;
    border: 1px solid #333 !important;
}


.survey-button-left a {
    font-size: 12px;
    padding: 5px 10px;
    color: #666;
    background-color: transparent;
    border: 1px solid #666 !important;
    border-radius: 10px;
    cursor: pointer;
}
.survey-button-left a:hover {
    color: #fff;
    background-color: #333 !important;
    border: 1px solid #333 !important;
}
.survey a {
  text-decoration: none;
}

.panel-heading-survey {
    padding: 0px 5px !important;
    border: none !important;
    background-color: transparent !important;
    font-size: 24px;
    font-weight: 600;
}
.panel-body-survey {
    padding: 5px 5px !important;
    border-radius: 0px 0px 5px 5px;
    outline: none;
    min-height: 376px !important;
    height: 376px !important;
    overflow-y: auto;
}

.survey-view a {
    display: inline-block;
    width: auto !important;
}
.survey-view img {
    width: auto !important;
}

.occasions .owl-nav .owl-prev:after,
.occasions .owl-nav .owl-prev:after, .occasions .owl-nav .owl-next:after {
    content: '';
    position: absolute;
    bottom: 0px;
    margin: auto;
    width: 20px;
    height: 20px;
}

.occasions .owl-nav .owl-prev:after {
  background-image: url("../../DefaultHome/images/icons/c_ar.png")!important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  right: 56px;
  -webkit-transform: rotate(180deg) translate(20px,0px);
      -ms-transform: rotate(180deg) translate(20px,0px);
          transform: rotate(180deg) translate(20px,0px);
}

.occasions .owl-nav .owl-next:after{
  background-image: url("../../DefaultHome/images/icons/c_ar.png")!important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  right: 45px
}
.occasions .owl-nav button{
  font-size: 0!important
}

.occasions .owl-nav{
  height: 0;
}

.occasions .item {
  padding: 0px;
}
.occasions p {
  margin: 5px;
  text-align: left;
}
.occasions h5 {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
}
.occasions-time {
    font-size: 22px;
    font-weight: 600;
}

.occasions a {
  text-decoration: none;
}

a.occasions-button  {
    display: block;
    font-size: 12px;
    padding: 5px 10px;
    color: #666;
    background-color: transparent;
    border: 1px solid #666 !important;
    border-radius: 10px;
    cursor: pointer;
    float: left;
}
a.occasions-button:hover {
    color: #fff;
    background-color: #333 !important;
    border: 1px solid #333 !important;
}

.owl-carousel-occasions {
    width: 100% !important;
}    
.owl-carousel.owl-carousel-occasions .owl-item img {
    display: block;
    width: 100%;
    height: 299px;
    object-fit: cover;
    object-position: center;
}
.panel-body-occasions {
    padding: 0px 0px 5px 0px !important;
}
.panel-heading-occsn-date-lg {
    padding: 19px 0px 7px 0px !important;
    border: none !important;
    background-color: transparent !important;
    position: absolute;
    top: 0px;
}
.occsn-head-date-text-lg {
    padding: 4px 12px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    background-color: #ff9e20 !important;
    width: 100%;
}
.occasion-content {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #000;
}
.shade-occasion {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.1), rgba(255,255,255,0.2), rgba(255,255,255,0.5), rgba(255,255,255,0.9), rgba(255,255,255,1));
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
}
.occasion-view a {
    display: inline-block;
    width: auto !important;
}
.occasion-view img {
    width: auto !important;
}    
.occasions.owl-theme .owl-dots {
    display: inline-block;
    right: 30px;
    position: absolute;
    bottom: -23px;
} 

.media-filter {
    padding: 5px 5px;
}
.media-filter a {
    font-size: 12px;
    padding: 1px 10px;
    color: #666;
    background-color: transparent;
    border: 1px solid #666 !important;
    float: left;
    border-radius: 20px;
}
.owl-carousel.media-filter {
    width: 87% !important;
    margin-left: 24px;
}
.media-filter a:hover, .media-filter a:active, .media-filter a:focus {
  text-decoration: none;
  color: #ffffff;
  display: block;
  background: #333;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}  
     
.media-filter .owl-nav .owl-prev:after,
.media-filter .owl-nav .owl-prev:after, .media-filter .owl-nav .owl-next:after {
  content: '';
  position: absolute;
  bottom: 2px;
  margin: auto;
  width: 25px;
  height: 25px;
}

.media-filter .owl-nav .owl-prev:after {
  background-image: url("../../DefaultHome/images/c_ar.png")!important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  right: -20px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.media-filter .owl-nav .owl-next:after{
  background-image: url("../../DefaultHome/images/c_ar.png") !important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  right: -35px
}
.media-filter .owl-nav button{
  font-size: 0!important
}

.media-filter .owl-nav{
  height: 0;
}
.media-view a {
    display: inline-block;
    width: auto !important;
}
.media-view img {
    width: auto !important;
}  

.magazine-filter {
    padding: 5px 5px;
}
.magazine-filter a {
    font-size: 12px;
    padding: 1px 10px;
    color: #666;
    background-color: transparent;
    border: 1px solid #666 !important;
    float: left;
    border-radius: 20px;
}
.owl-carousel.magazine-filter {
    width: 87% !important;
    margin-left: 24px;
}
.magazine-filter a:hover, .magazine-filter a:active, .magazine-filter a:focus {
  text-decoration: none;
  color: #ffffff;
  display: block;
  background: #333;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}  
     
.magazine-filter .owl-nav .owl-prev:after,
.magazine-filter .owl-nav .owl-prev:after, .magazine-filter .owl-nav .owl-next:after {
  content: '';
  position: absolute;
  bottom: 2px;
  margin: auto;
  width: 25px;
  height: 25px;
}

.magazine-filter .owl-nav .owl-prev:after {
  background-image: url("../../DefaultHome/images/c_ar.png")!important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  right: -20px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.magazine-filter .owl-nav .owl-next:after{
  background-image: url("../../DefaultHome/images/c_ar.png") !important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  right: -35px
}
.magazine-filter .owl-nav button{
  font-size: 0!important
}

.magazine-filter .owl-nav{
  height: 0;
}

.magazine-view a {
    display: inline-block;
    width: auto !important;
}
.magazine-view img {
    width: auto !important;
} 


.tab-social-area {
    border: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    outline: none;
    min-height: 618px;
    height: 618px;
    overflow-y: auto;
}
     

.nav-custom li a img {
    width: 26px;
} 

.tab-gallery-area {
    border: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    outline: none;
}
.nav-custom>li.active>a, .nav-custom>li.active>a:focus, .nav-custom>li.active>a:hover {
    color: #333;
    cursor: default;
    background-color: #ff9e20;
    border: 1px solid #ff9e20;
    border-bottom-color: transparent;
}
.nav-custom-gallery>li.active>a, .nav-custom-gallery>li.active>a:focus, .nav-custom-gallery>li.active>a:hover {
    color: #333;
    cursor: default;
    background-color: #ff9e20;
    border: 1px solid #ff9e20;
    border-bottom-color: transparent;
}

.nav-custom>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-size: 18px;
    font-weight: 600;
    padding: 4px 15px;
    color: #333;
}
.nav-custom>li>a:hover { background-color: #ddd; }

.nav-custom-gallery>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-size: 18px;
    font-weight: 600;
    padding: 4px 15px;
/*    background-color: #ddd;*/
    color: #333;
}
.nav-custom-gallery>li>a:hover { 
    background-color: #ddd; 
}
.info-plus{
    line-height: 0.50 !important;
    font-size: 26px !important;
    padding: 7px 0px 0px 0px !important;
    position: absolute;
    top: -1px;
    left: 5px;
}
.info-plus strong {
    color: #666;
    background-color: #fff;
    border: 1px solid #666 !important;
    float: left;
    border-radius: 20px;
    padding: 0px 0px 5px 0px;
}
.info-plus strong:hover, .info-plus strong:focus, .info-plus strong:active {
    text-decoration: none;
    color: #ffffff;
    display: block;
    background: #333;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.timeline-plus{
    line-height: 0.50 !important;
    font-size: 26px !important;
    
}
.timeline-plus strong {
    color: #666;
    background-color: #fff;
    border: 1px solid #666 !important;
    float: left;
    border-radius: 20px;
    padding: 0px 0px 5px 0px;
}
.timeline-plus strong:hover, .timeline-plus strong:focus, .timeline-plus strong:active {
    text-decoration: none;
    color: #ffffff;
    display: block;
    background: #333;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}


.event-plus {
    line-height: 0.50 !important;
    font-size: 26px !important;
    padding: 7px 0px 0px 0px !important;
    position: absolute;
    top: 33px;
    left: 10px;
    z-index: 6;
}
.event-plus strong {
    color: #666;
    background-color: #fff;
    border: 1px solid #666 !important;
    float: left;
    border-radius: 20px;
    padding: 0px 0px 5px 0px;
}
.event-plus strong:hover, .event-plus strong:focus, .event-plus strong:active {
    text-decoration: none;
    color: #ffffff;
    display: block;
    background: #333;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}




.media-plus {
    line-height: 0.50 !important;
    font-size: 26px !important;
    padding: 7px 0px 0px 0px !important;
    position: absolute;
    top: 34px;
    left: 9px;
    z-index: 6;
}
.media-plus strong {
    color: #666;
    background-color: #fff;
    border: 1px solid #666 !important;
    float: left;
    border-radius: 20px;
    padding: 0px 0px 5px 0px;
}
.media-plus strong:hover, .media-plus strong:focus, .media-plus strong:active {
    text-decoration: none;
    color: #ffffff;
    display: block;
    background: #333;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}



.magazine-plus{
    line-height: 0.50 !important;
    font-size: 26px !important;
    padding: 7px 0px 0px 0px !important;
    position: absolute;
    top: 34px;
    left: 9px;
    z-index: 6;
}
.magazine-plus strong {
    color: #666;
    background-color: #fff;
    border: 1px solid #666 !important;
    float: left;
    border-radius: 20px;
    padding: 0px 0px 5px 0px;
}
.magazine-plus strong:hover, .magazine-plus strong:focus, .magazine-plus strong:active {
    text-decoration: none;
    color: #ffffff;
    display: block;
    background: #333;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}


.rss-list {
    margin-bottom: 0px;
}
.rss-list-item {
    padding: 10px 5px;
    border-radius: 0px !important;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 0px;
}
.rss-list-item:last-child {
    border-bottom: none;
}
.panel-heading-rss {
    padding: 0px 5px !important;
    border: none !important;
    background-color: transparent !important;
    font-size: 24px;
    font-weight: 600;
}
.panel-body-rss {
    padding: 5px 0px 0px 0px !important;
}
     
.panel-heading-new-learn {
    padding: 0px 5px !important;
    border: none !important;
    background-color: transparent !important;
    font-size: 24px;
    font-weight: 600;
}
.panel-body-new-learn {
    padding: 5px 5px !important;
}
.owl-carousel-learn {
    width: 100% !important;
}
.new-learn .owl-nav .owl-prev:after,
.new-learn .owl-nav .owl-prev:after, .new-learn .owl-nav .owl-next:after {
    content: '';
    position: absolute;
    bottom: 0px;
    margin: auto;
    width: 25px;
    height: 25px;
    top: -242px;
}

.new-learn .owl-nav .owl-prev:after {
  background-image: url("../../DefaultHome/images/c_ar.png")!important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  right: -10px;
  -webkit-transform: rotate(180deg) translate(20px,0px);
      -ms-transform: rotate(180deg) translate(20px,0px);
          transform: rotate(180deg) translate(20px,0px);
}

.new-learn .owl-nav .owl-next:after{
  background-image: url("../../DefaultHome/images/c_ar.png")!important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  right: -5px
}
.new-learn .owl-nav button{
  font-size: 0!important
}

.new-learn .owl-nav{
  height: 0;
}

 .new-learn .item {
    padding: 5px;
    border: 1px solid #ddd;
}
.owl-carousel.owl-carousel-learn .owl-item img {
    display: block;
    width: 100%;
    height: 140px;
    object-fit: cover;
    object-position: center;
}
  
.form-area {
    position: fixed;
    background: #fff;
    height: 100%;
    right: -550px;
    top: 0px;
    z-index: 9;
    overflow: auto;
    box-shadow: -3px 8px 10px rgba(0,0,0,0.4);
    -webkit-transition: all 400ms cubic-bezier(0.410, 0.235, 0.385, 0.685);
    -o-transition: all 400ms cubic-bezier(0.410, 0.235, 0.385, 0.685);
    transition: all 400ms cubic-bezier(0.410, 0.235, 0.385, 0.685);
    -webkit-transition-timing-function: cubic-bezier(0.410, 0.235, 0.385, 0.685);
    -moz-transition: all 400ms cubic-bezier(0.410, 0.235, 0.385, 0.685);
    -o-transition-timing-function: cubic-bezier(0.410, 0.235, 0.385, 0.685);
    transition-timing-function: cubic-bezier(0.410, 0.235, 0.385, 0.685);
}
.slide-open {
    right:0px !important;
}

.timeline-toggle {
    display: none;
}
.timeline-back {
    display: none;
}
 .overlay{
    background: rgba(0,0,0,0.4);
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 10;
 } 
.popup-menu {
    display: none;
    position: absolute;
    font-size: 14px ;
    z-index: 7;
    top: 30px;
    left: 24px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.popup-menu ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.popup-menu ul li{
    cursor: pointer;
}
.popup-menu ul li a {
    color: #333;
    display: block;
    text-decoration: none;
    padding: 10px 20px;
}
.popup-menu ul li a:hover {
    background-color: #ddd;
    color: #333 !important;
    text-decoration: none;
}
.panel-heading-question {
    padding: 0px 5px !important;
    border: none !important;
    background-color: transparent !important;
    font-size: 24px;
    font-weight: 600;
}
.panel-body-question {
    padding: 5px 5px 0px 5px !important;
    border-radius: 0px 0px 5px 5px;
    outline: none;
    min-height: 360px !important;
    height: 360px !important;
    overflow-y: auto;
}
.question-text-head {
    font-size: 20px;
}
.question-plus{
    line-height: 0.50 !important;
    font-size: 26px !important;
    padding: 7px 0px 0px 0px !important;
    float: right;
}
.question-plus strong {
    color: #666;
    background-color: transparent;
    border: 1px solid #666 !important;
    float: left;
    border-radius: 20px;
    padding: 0px 0px 5px 0px;
}
.question-plus strong:hover, .question-plus strong:focus, .question-plus strong:active {
    text-decoration: none;
    color: #ffffff;
    display: block;
    background: #333;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
hr.question {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #eee;
}

.panel-heading-feed {
    padding: 0px 5px !important;
    border: none !important;
    background-color: transparent !important;
    font-size: 24px;
    font-weight: 600;
}
.panel-body-feed {
    padding: 5px 5px !important;
    min-height: 210px !important;
    height: 210px !important;
    overflow-y: auto;
}
.feed-text-head {
    font-size: 16px;
}
.feed-text-head span {
    padding: 3px;
    border: 1px solid #333;
    border-radius: 17px;
    font-size: 13px;
}
.feed-section p {
    font-size: 12px;
    color: #000000;
    padding-top: 5px;
}
.feed-refresh {
    font-size: 18px !important;
    padding: 5px 0px 0px 0px !important;
    float: right;
}
.feed-refresh strong {
    color: #666;
    background-color: transparent;
}
.feed-refresh strong:hover, .feed-refresh strong:focus, .feed-refresh strong:active {
    text-decoration: none;
    color: #000;
    display: block;
}
hr.feed {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #eee;
}

.rss-refresh {
    font-size: 18px !important;
    padding: 5px 0px 0px 0px !important;
    float: right;
}
.rss-refresh strong {
    color: #666;
    background-color: transparent;
}
.rss-refresh strong:hover, .rss-refresh strong:focus, .rss-refresh strong:active {
    text-decoration: none;
    color: #000;
    display: block;
}

.learn-refresh {
    font-size: 18px !important;
    padding: 8px 0px 0px 0px !important;
    float: right;
    margin-right: 40px;
}
.learn-refresh strong {
    color: #666;
    background-color: transparent;
}
.learn-refresh strong:hover, .learn-refresh strong:focus, .learn-refresh strong:active {
    text-decoration: none;
    color: #000;
    display: block;
}
.occasion-plus{
    line-height: 0.50 !important;
    font-size: 26px !important;
    padding: 7px 0px 0px 0px !important;
    position: absolute;
    bottom: 10px;
    right: 5px;
    z-index: 9;
}
.occasion-plus strong {
    color: #666;
    background-color: #fff;
    border: 1px solid #666 !important;
    float: left;
    border-radius: 20px;
    padding: 0px 0px 5px 0px;
}
.occasion-plus strong:hover, .occasion-plus strong:focus, .occasion-plus strong:active {
    text-decoration: none;
    color: #ffffff;
    display: block;
    background: #333;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.icon-bar{
    background: #000;
}

/* 24/4/20 START */

.info-web.owl-theme .owl-dots .owl-dot {
    min-width: 1em;
}
.events.owl-theme .owl-dots .owl-dot {
    min-width: 1em;
}
.occasions.owl-theme .owl-dots .owl-dot {
    min-width: 1em;
}
.panel-padding-area {
    min-height: 2136px;
    height: 2136px;
    overflow-x: hidden;
    overflow-y: auto;
}
.tab-social-area {
    min-height: 608px;
    height: 608px;
}
#profilePic {
    position: relative;
    top: -10px;
}
#myNavbar .header-search {
    background: #fff !important;
    border: 1px solid #b2b2b2 !important;
}
#myNavbar .header-search-btn {
    background: #fff !important;
    border: 1px solid #b2b2b2 !important;
    min-width: 2em;
}
#myNavbar .navbar-form {
    position: relative;
    top: 4px;
}
.navbar-custom {
    margin-bottom: 0;
    position: fixed;
    z-index: 99;
    /*width: calc(100% - 1em);*/
    width: 100%;
}
#DeltaPlaceHolderMain .article-body {
    padding-top: 50px;
}

/*#s4-workspace input[type=button],#s4-workspace input[type=reset],#s4-workspace input[type=submit],#s4-workspace button*/
/* input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover, button:hover */

#s4-workspace button {
    min-width: 2em;
}
#s4-workspace button:hover {
    border-color: none;
    background-color: none;
}
.general-comment-btn {
    background: #eaeaea;
}

/* 24/4/20 END */

/* responsive css START */

@media (max-width: 1899px) and (min-width: 1600px) {

    .tab-social-area {
        border: 1px solid #ddd;
        border-radius: 0px 0px 5px 5px;
        outline: none;
        min-height: 566px !important;
        height: 566px !important;
        overflow-y: auto;
    }
    .panel-padding-area {
        padding: 5px 5px;
        min-height: 2150px !important;
        height: 2150px !important;
        overflow-y: scroll;
    }

}

@media (max-width: 1599px) and (min-width: 1536px) {

    .tab-social-area {
        border: 1px solid #ddd;
        border-radius: 0px 0px 5px 5px;
        outline: none;
        min-height: 580px !important;
        height: 580px !important;
        overflow-y: auto;
    }

}

@media only screen and (min-width: 1920px) {

    .tab-social-area {
        border: 1px solid #ddd;
        border-radius: 0px 0px 5px 5px;
        outline: none;
        min-height: 598px !important;
        height: 598px !important;
        overflow-y: auto;
    }
    .panel-padding-area {
        padding: 5px 5px;
        min-height: 2151px !important;
        height: 2151px !important;
        overflow-y: scroll;
    }

}

/* on screen css START */
@media only screen  and (device-width: 1366px) {

    .navbar-custom {
        width: calc(100% - 1em);
    }

}

@media only screen  and (device-width: 1280px) {

    .navbar-custom {
        width: calc(100% - 1em);
    }

}
/* on screen css END */

@media only screen and (min-width: 1200px) {

    li.dropdown-custom ul li {
        display: inline-flex;
    }
    .open>.dropdown-menu#company {
        display: flex;
        flex: 1 auto;
        left: -470px;
        padding: 0px 0;
    }

}

@media (max-width: 425px) and (min-width: 320px) {

    .general-comment-area {
        width: 78%;
        float: left;
        resize: none !important;
        min-height: 50px !important;
    }

}

@media (max-width: 736px) and (min-width: 640px) {

    .owl-carousel.timeline-filter {
        width: 90% !important;
        margin-left: 25px;
    }

    .owl-carousel.media-filter {
        width: 90% !important;
        margin-left: 24px;
    }

    .owl-carousel.event-filter {
        width: 90% !important;
        margin-left: 26px;
    }
        
    .owl-carousel.magazine-filter {
        width: 91% !important;
        margin-left: 24px;
    }

}

@media (max-width: 812px) and (min-width: 768px) {

    .owl-carousel.info-filter {
        width: 91% !important;
        margin-left: 25px;
    }
        
    .owl-carousel.media-filter {
        width: 84% !important;
        margin-left: 24px;
    }

    .owl-carousel.magazine-filter {
        width: 84% !important;
        margin-left: 24px;
    }
        
    .owl-carousel.timeline-filter {
        width: 83% !important;
        margin-left: 25px;
    }
    
}

@media (max-width: 425px) and (min-width: 376px) {

    .owl-carousel.media-filter {
        width: 83% !important;
        margin-left: 24px;
    }

    .owl-carousel.timeline-filter {
        width: 82% !important;
        margin-left: 25px;
    }

    .owl-carousel.magazine-filter {
        width: 83% !important;
        margin-left: 24px;
    }

}

@media (max-width: 375px) and (min-width: 320px) {

    .owl-carousel.info-filter {
        width: 82% !important;
        margin-left: 25px;
    }   
    .owl-carousel.media-filter {
        width: 80% !important;
        margin-left: 24px;
    }

    .owl-carousel.event-filter {
        width: 77% !important;
        margin-left: 26px;
    }

    .owl-carousel.magazine-filter {
        width: 80% !important;
        margin-left: 24px;
    }
        
    .owl-carousel.timeline-filter {
        width: 79% !important;
        margin-left: 25px;
    }
    .nav-custom-gallery>li>a {
        font-size: 17px !important; 
    }

}

@media (max-width: 767px) and (min-width: 640px) {

    .owl-carousel.info-filter {
        width: 90% !important;
        margin-left: 25px;
    }

}

@media (max-width: 767px) and (min-width: 320px) {

    .owl-carousel-prayer {
        padding-top:5px;
    }

}


@media only screen  and (device-width: 568px) and (orientation: landscape) {

    .owl-carousel.timeline-filter {
        width: 89% !important;
        margin-left: 25px;
    }
    .owl-carousel.event-filter {
        width: 88% !important;
        margin-left: 26px;
    }

}

@media (max-width: 991px) and (min-width: 378px) {

    .new-learn .owl-nav .owl-prev:after, .new-learn .owl-nav .owl-prev:after, .new-learn .owl-nav .owl-next:after {
        content: '';
        position: absolute;
        bottom: 0px;
        margin: auto;
        width: 25px;
        height: 25px;
        top: -224px;
    }

}


@media (max-width: 374px) and (min-width: 320px) {

    .panel-heading-new-learn {
        padding: 0px 5px !important;
        border: none !important;
        background-color: transparent !important;
        font-size: 18px;
        font-weight: 600;
    }
    .new-learn .owl-nav .owl-prev:after, .new-learn .owl-nav .owl-prev:after, .new-learn .owl-nav .owl-next:after {
        content: '';
        position: absolute;
        bottom: 0px;
        margin: auto;
        width: 25px;
        height: 25px;
        top: -235px;
    }
    .learn-refresh {
        font-size: 18px !important;
        padding: 2px 0px 0px 0px !important;
        float: right;
        margin-right: 40px;
    }

}


@media (max-width: 1024px) and (min-width: 320px) {

    .panel-padding-area {
        padding: 5px 5px;
        height: auto !important;
        overflow-y: auto;
    }
    .slide-area {
        display: block;
        right: -940px;
        z-index: 11;
        position: fixed;
        background: #fff;
        height: 100%;
        top: 0px;
        overflow: auto;
        box-shadow: -3px 8px 10px rgba(0,0,0,0.4);
        -webkit-transition: all 400ms cubic-bezier(0.410, 0.235, 0.385, 0.685);
        -o-transition: all 400ms cubic-bezier(0.410, 0.235, 0.385, 0.685);
        transition: all 400ms cubic-bezier(0.410, 0.235, 0.385, 0.685);
        -webkit-transition-timing-function: cubic-bezier(0.410, 0.235, 0.385, 0.685);
        -moz-transition: all 400ms cubic-bezier(0.410, 0.235, 0.385, 0.685);
        -o-transition-timing-function: cubic-bezier(0.410, 0.235, 0.385, 0.685);
        transition-timing-function: cubic-bezier(0.410, 0.235, 0.385, 0.685);
    }
    .container-mobile {
        padding-right: 25px;
        padding-left: 30px;
    }

    .timeline-toggle {
        display: block;
        position: fixed;
        cursor: pointer;
        color: white;
        background-color: #ff9e20 !important;
        z-index: 9;
        border-radius: 0 25px 25px 0;
        left: -3px;
        top: 70px;
        padding: 10px 8px;
    }
    .timeline-back {
        display: block;
        padding: 5px 0px;
        font-size: 20px;
    }
    .panel-mob-mt5 {margin-top:5px;}

    a.timeline-close {
        font-size: 14px;
        border: 1px solid #ddd;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
       
    .owl-carousel.owl-carousel-general-popup .owl-item img {
        display: block;
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
    }

}

/*media-query-classes*/