
body {
    font-family: "Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif !important;
}
h3 {
    font-weight: 400;
}
button:focus {
    outline: none !important;	
}
.d-none {
    display: none !important;
}
.font-12 {
    font-size: 12px;
}
.m-0 {
    margin: 0;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-8 {
    margin-bottom: 8px;
}
.mr-8 {
    margin-right: 8px;
}
.ml-4 {
    margin-left: 4px;
}
.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.pt-8 {
    padding-top: 8px;
}
.w-121 {
    width: 121px;
}
.wpx-36 {
    width: 36px !important;
}

/*custom scroll*/
.scrollbar-panel::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
.scrollbar-panel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.scrollbar-panel::-webkit-scrollbar-thumb {
  background: #888888; 
  border-radius: 10px;
}

/* Handle on hover */
.scrollbar-panel::-webkit-scrollbar-thumb:hover {
  background: #555555; 
}
.custom-panel {
    margin: 10px 0;
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
}
.panel-head {
    color: #1b1b1b;
    padding: 8px 15px;
    background-color: #ffffff;
}
.panel-body {
    background-color: #ffffff;
}
.custom-form-group .form-control {
    border-radius: 0;
    box-shadow: none;
}
.custom-form-group .form-control:focus {
    border-color: #1d6ec0;
}
.custom-btn,
.custom-btn:focus {
    background-color: #1d6ec0;
    border-color: #1d6ec0;
    color: #ffffff;
    border-radius: 2px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.custom-btn:hover {
    color: #1d6ec0;
    background-color: #fff;
    border-color: #1d6ec0;
}
.custom-btn-two-cancel {
    border-radius: 2px;
    color: #fff;
    background-color: #7B7A7A;
    border-color: #7B7A7A;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.custom-btn-two-cancel:hover, .custom-btn-two-cancel:focus {
    background: #ffffff;
    color: #7B7A7A;
    border-color: #7B7A7A;
}


.approval-right-top-box {
    padding: 10px 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background-color: #ffffff;
}
.approval-right-top-box-two {
    margin-bottom: 20px;
}
.approval-right-time-box-one,
.approval-right-time-box-two {
    border-right: 1px solid #d2d2d2;
}
.approval-right-time-box-one,
.approval-right-time-box-two,
.approval-right-time-box-three {
    padding: 10px;
}
@media (max-width: 525px) {
    .approval-right-time-box-one,
    .approval-right-time-box-two,
    .approval-right-time-box-three {
        width: 100%;
    } 
    .approval-right-time-box-one,
    .approval-right-time-box-two {
        border-right: 0;
        border-bottom: 1px solid #d2d2d2;
    } 
}
@media (max-width: 425px) {
    .approval-box-isPhone {
        width: 100%;
    }
}
.approval-thead-checkbox label {
    min-height: 15px;
}

.approval-edit-lock-btn-box {
    display: flex;
}
.approval-edit-lock-btn-box .custom-edit-btn {
    margin-right: 0px;
}
.approval-edit-lock-btn-box .custom-edit-btn,
.approval-edit-lock-btn-box .custom-lock-btn {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    border: 0;
    padding: 0;
    transition: all 0.3s;
    background-color: #e7e7e7;
    margin: 0 2px;
}
.approval-edit-lock-btn-box .custom-edit-btn {
    color: #1d6ec0;
    display: block;
}
.approval-edit-lock-btn-box .custom-edit-btn:hover,
.approval-edit-lock-btn-box .custom-delete-btn:hover {
    background-color: #cccccc;
}

.approval-table {
    margin-top: 20px;
    border: 1px solid #d2d2d2;
}
.custom-table {
    background-color: #ffffff;
}
@media (max-width: 1199px) {
    .approval-table .custom-table {
        min-width: 1170px;
    }
}
.approval-table .custom-table {
    margin-bottom: 0;   
}
.approval-table .custom-table tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}
.approval-table .custom-table thead tr {
    background-color: #ffffff !important;
    border-top: 0 !important;
}
.approval-table .table tbody tr {
    border-top: 1px solid #d2d2d2;
}
.approval-table .table>thead>tr>th {
    width: 10%;
    border-bottom: 0;
    font-weight: 400;
    white-space: nowrap;
}
.white-space-nowrap {
    white-space: nowrap;
}
.approval-table .table>tbody>tr>td {
    border-top: 0;
    padding: 10px 8px;
    word-break: break-word;
}
.approval-table-ellipsis-1,
.approval-table-ellipsis-2 {
    display: inline;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.approval-table-ellipsis-1 {
    -webkit-line-clamp: 1;
}
.approval-table-ellipsis-2 {
    -webkit-line-clamp: 2;
}
.approval-footer-btn-group {
    margin-top: 14px;
}
.approval-footer-btn-group .w-87 {
    width: 87px;
}
.approval-footer-btn-group .custom-btn-two-danger,
.approval-footer-btn-group .custom-btn-two-danger:focus {
    border-radius: 2px;
    color: #fff;
    background-color: #7B7A7A;
    border-color: #7B7A7A;
}
.approval-footer-btn-group .custom-btn-two-danger:hover {
    background: #ffffff;
    color: #7B7A7A;
    border-color: #7B7A7A;
}
.approved-form-control {
    border-radius: 0;
    box-shadow: none;
    text-align: center;
}
.approved-form-control:focus {
    border-color: #1d6ec0;
    box-shadow: none;
}
.approval-modal-footer {
    text-align: center;
}

.chip-panel {
    overflow-x: auto;
}
.chip-box {
    display: flex;
    padding: 0 0 3px 0;
}
.upload-chip {
    border-radius: 20px;
    border: 1px solid #d2d2d2;
    padding: 4px 10px;
    margin-right: 4px;
    font-size: 12px;
    height: 28px;
    white-space: nowrap;
    background-color: #ffffff;
}
.upload-chip:hover {
    background-color: #f2f2f2;
}
.close-round {
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0px 7px 0 rgba(0,0,0,0.23);
    opacity: 1;
    text-align: center;
    line-height: 22px;
}
.close-round:hover {
    opacity: 1;
    background-color: #333333;
    color: #ffffff;
}
.close-icon {
    position: relative;
    top: -2px;
    left: 0px;
}
.border-0 {
    border: 0 !important;
}
.description-read-mode {
    font-size: 12px;
    color: #1d6ec0;
    text-decoration: underline;
}

/* new css added on 04/10/2021 */

#dvpieChart::before {
    content: "";
    font-family: initial;
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 15px;
    width: 70px;
    height: 15px;
    z-index: 1;
}

@media screen and (max-width: 767px) {
    .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
        white-space: normal;
    }
    .approval-btn-position {
        margin-top: 8px;
    }
}
@media screen and (max-width: 575px) {
    .approval-btn-position {
        text-align: center;
    }
}
@media (max-width: 425px) {
    .approval-inbox-istab .col-xs-6 {
        width: 100%;
    }
}
