	/*PAGE COMMON ELEMENTS CSS*/
	body {
	     overflow-y: auto !Important;
	     -ms-overflow-style: scrollbar;	     
	}
	*/
	#s4-bodyContainer{
		direction:rtl;
	}
	.navbar-header {
		float: right;
	}
	.Navigation ul {
		float: right;
	}
	.Navigation ul li.navItem {
		float: right !important;
	}
	.footer-bg{
		background-position: left;
	}
	.form-horizontal .control-label {
		text-align: left !important;
	}
	.mutliSelect ul{
	    right: 0;
    	left: auto !important;
	}
	.dropdown dd .mutliSelect ul li input[type=checkbox] {
		 margin: 0px 0px 3px 6px !Important;
	}
	.card>.nav-tabs>li{
	  /* float: right !Important;*/
	}
	.card>.nav-tabs{
	    padding-right: 0px !important;
	}
	#quote-carousel .carousel-control.left {
    	left: -5px;
    }
	.pdng-left0 {
		padding-right: 0px;
	}
	.panel-title > a>i.short-full {
		float: left !important;
	}
	.modal-header .close.h4-color {
		left: 10px !important;
	}
	#closeAnnouncement{
		margin-left:0px !important
	}
	/*.sp-peoplepicker-initialHelpText {
	top: 0px !important;
		left:inherit !important;
		right: 0px !important;
	}*/
	#thbodyNewFolder tr td label {
		float: left !important;
		padding-left: 15px;
		padding-right:0px !important;
	}
	ul.multiselect-container.dropdown-menu{
		right: 0;
		left: auto;
	}
	.state-label {
		padding-right:15px !important;
		padding-left:27px;
	}
	#overlay-content{
		direction:rtl;
	}
	.res-right-arrow {
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
		-o-transform:rotate(180deg);
		transform: rotate(180deg);
	}
	.thought-day,.tip-day {
		text-align: right;
	}
	div#NewTask button.btn.btn-outline-primary.btn-md.new-task{
		float:left;
	}
	div#NewTask {
		padding: 0px 0px 5px 0px !important;
	    margin-left:0px !important;
	}
	.radio-div label {
	    float: right !important;
	}
	.back-div button#Back {
		float: left;
		margin-left: 0px !important;
	}
	.text-1.pull-right{
		float:none !important;
	}
	.col-md-10.col-xs-12.foot-text1{
		text-align: right;
	}
	ul.multiselect-container.dropdown-menu li.multiselect-item.multiselect-all a.multiselect-all label.checkbox, 
	ul.multiselect-container.dropdown-menu li a label.checkbox{
		padding-right: 20px;
		padding-left: 0px !important;
	}
	span#TechAdmin_Company div .sp-peoplepicker-topLevel,
	span#HRAdmin_Company div .sp-peoplepicker-topLevel,
	span#ProjectAdmin_Company div .sp-peoplepicker-topLevel,
	span#BannersContributors_Company div .sp-peoplepicker-topLevel,
	span#MediaGalleryContributors_Company div .sp-peoplepicker-topLevel,
	span#GeneralAnnouncementContributors_Company div .sp-peoplepicker-topLevel,
	span#EmergencyAnnouncementContributors_Company div .sp-peoplepicker-topLevel,
	span#PollsContributors_Company div .sp-peoplepicker-topLevel,
	span#EventsContributors_Company div .sp-peoplepicker-topLevel,
	span#OccasionContributors_Company div .sp-peoplepicker-topLevel,
	span#BannersContributors_Department div .sp-peoplepicker-topLevel,
	span#MediaGalleryContributors_Department div .sp-peoplepicker-topLevel,
	span#DocumentsContributors_Department div .sp-peoplepicker-topLevel,
	span#SuggestionContributors_Department div .sp-peoplepicker-topLevel,
	span#SuggestionApprovers_Department div .sp-peoplepicker-topLevel,
	span#NewInitiativeContributors_Department div .sp-peoplepicker-topLevel,
	span#DiscussionContributors_Department div .sp-peoplepicker-topLevel,
	span#DiscussionApprovers_Department div .sp-peoplepicker-topLevel	
	{
		padding: 3px 0px 3px 25px !important;
	}
	input#TechAdmin_Company_TopSpan_EditorInput,
	input#ProjectAdmin_Company_TopSpan_EditorInput,
	input#HRAdmin_Company_TopSpan_EditorInput,
	input#BannersContributors_Company_TopSpan_EditorInput,
	input#MediaGalleryContributors_Company_TopSpan_EditorInput,
	input#GeneralAnnouncementContributors_Company_TopSpan_EditorInput,
	input#EmergencyAnnouncementContributors_Company_TopSpan_EditorInput,
	input#PollsContributors_Company_TopSpan_EditorInput,
	input#EventsContributors_Company_TopSpan_EditorInput,
	input#OccasionContributors_Company_TopSpan_EditorInput,
	input#BannersContributors_Department_TopSpan_EditorInput,
	input#MediaGalleryContributors_Department_TopSpan_EditorInput,
	input#DocumentsContributors_Department_TopSpan_EditorInput,
	input#SuggestionContributors_Department_TopSpan_EditorInput,
	input#NewInitiativeContributors_Department_TopSpan_EditorInput,
	input#DiscussionContributors_Department_TopSpan_EditorInput,
	input#DiscussionApprovers_Department_TopSpan_EditorInput,
	input#SuggestionApprovers_Department_TopSpan_EditorInput	
	{
		margin-left: 0px;
		margin-right: 5px;
	}
	span#BannersContributors_Department_TopSpan_InitialHelpText,
	span#MediaGalleryContributors_Department_TopSpan_InitialHelpText,
	span#DocumentsContributors_Department_TopSpan_InitialHelpText,
	span#SuggestionContributors_Department_TopSpan_InitialHelpText,
	span#NewInitiativeContributors_Department_TopSpan_InitialHelpText,
	span#DiscussionContributors_Department_TopSpan_InitialHelpText,
	span#DiscussionApprovers_Department_TopSpan_InitialHelpText,
	span#SuggestionApprovers_Department_TopSpan_InitialHelpText {
		right: 10px !important;
		left: auto !important;
	}
	/*PAGE COMMON ELEMENTS CSS*/
	
	/*HOME PAGE */
	.col-md-6.promoted-div {
	    padding-left: 15px;
	    padding-right: 0px !important;
	}
	.col-md-12.news-box.padd-right-2.padd-left-2 {
		margin-right: 15px;
	}
	.view-all-3{
		left: 33px;
	}
	.col-sm-12.view-all-3 {
		right: 0px !important;
		left: 30px;
	}
	.col-sm-12.view-all-3 .row span.pull-right nb {
		padding-left: 30px;
	}
	.social-webpart ul li {
		border-left: 1px solid #fff;
		border-right:none;
	}
	.social-webpart ul li:last-child {
		border-left: none;
	}
	.full-width-tabs > ul.nav.nav-tabs > li:last-child {
		border-top-left-radius: 3px;
		border-top-rigth-radius:0px !Important;
	}
	ul.galleryContainer li:nth-child(1), ul.galleryContainer li:nth-child(5) {
		padding-right: 0px;
		padding-left:5px !Important;
	}
	.slider .overlay .content a.navigationControls.prev {
		right: 0;
	}
	.slider .overlay .content a.navigationControls.next {
		left: 0;
		right: auto;	
	}
	.slider .overlay .closebtn{
		left: -30px;
		right: inherit !important;
	}
	.calendar-div{
		float:right !important;
	}
	/*END HOME PAGE */
	
	/*DEPARTMENT PAGE */
	#departmentalNewJoinee li.news-item table tbody tr td:first-child {
		padding-right: 0px !important;
		padding-left: 15px !important;
	}
	/*END DEPARTMENT PAGE */
	
	/*MY DOCUMENT */
	label.send-email {
		float:left !Important;
		padding-top: 0px !Important;
	}	
	div#home div div div.row .col-md-4.pull-left {
		float: right !important;
	}
	div#home div div div.row .col-md-4.pull-left .row .openMuSharingGroupPopup {
		float: right !important;
	}
	div#home div div div.row .col-md-4.pull-left .row .openMuSharingGroupPopup span.glyphicon-user {
		float: right !important;
		padding-left: 8px;
	}
	.doc-resp-cls .panel-heading .panel-title {
		direction: rtl;
	}
	.doc-resp-cls .panel-heading .panel-title a.accordion-toggle:after{
		float:left;
	}
	a.doc_icon img {
		padding-left: 5px;
		padding-right:0px;
		float:right;
	}
	.doc-icon img {
		margin-bottom: 5px;
		margin-right:0px !important;
		margin-left:6px;
	}
	a.accordion-toggle.doc-toggle label {
		padding-right: 5px;
		padding-left:0px !important;
	}
	#tableTempMyDocuments,
	#tableTempSharedWithMe,
	#tableTempEmpOffice365{
		text-align: right;
		direction: rtl;
	}
	#tableTempMyDocuments thead.panel-heading tr th h6,
	#tableTempEmpOffice365 thead.panel-heading tr th h6
	{
		text-align: right;
	}
	#tablenavMyDocuments,
	#tablefooter div#tablenav,#tablenavSharedWithMe{
		float: right !important;
	}
	#tablenavMyDocuments div,
	#tablenav div,
	#tablenavSharedWithMe div{
		float:right !Important;
		margin-right:0px !important;
		margin-left: 15px;
		direction: rtl;
	}
	#tablelocationMyDocuments,
	#tablelocationSharedWithMe {
		float: left !important;
	}
	#tablelocationSharedWithMe div {
		float:right !important;
		margin-left:0px !important;
		margin-right:15px;
		direction:rtl;
	}
	#tablelocationMyDocuments div {
		float:right !important;
		margin-left:0px !Important;
		margin-right:15px;
		direction: rtl;
	}
	#tablelocation select,
	#tablelocationMyDocuments select,
	#tablelocationSharedWithMe select{
		margin-right:0px !Important;
		margin-left:3px;
	}
	#MyDocuments{
		float:right !Important; 
	}
	.search-addnew-res button.btn.btn-outline-primary{
		float:left !important;		
	}
	.search-addnew-res button.btn.btn-outline-primary label{
		margin-right:0px !important;
		float: left !important
	}
	.search-addnew-res label:nth-of-type(1) {
		margin-left: 0px !important;
		float: right !important;
	}
	.search-addnew-res label:nth-of-type(2) {
		float: right !important;
	}
	#od-commands {
		float: left !important;
		margin-left: 10px !important;
		margin-right:0px !important;
	}
	div#od-logoff a {
		float: left !important;
	}
	#od-items {
		float: right !important;
	}
	/*END MY DOCUMENTS*/
	
	/*EMPLOYEE DIRECTORY*/
		div#custom-search-input div.input-group span.input-group-btn button.btn {
			margin-right: 0px;
			margin-left: 0px !important;
		}
		.pagination>li:first-child>a, .pagination>li:first-child>span {
			margin-left: 0;
			border-bottom-left-radius:0px !Important;
			border-top-left-radius:0px !Important;
			border-bottom-right-radius: 4px;
			border-top-right-radius: 4px;
		}
		.pagination {
			padding-right: 0px;
		}
		.pagination>li>a, 
		.pagination>li>span{
			float: right !important;
		}
	/*END EMPLOYEE DIRECTORY*/
	
	/*MY DASH BOARD */
	div#NotificationDetailsHTML .table .left-label {
		text-align: left;
	}
	ul.EmplyoeeAwordHTML h5 {
		float: left !important;
	}
	.prifile-picture {
		float: left;
	}
	.mydash-p {
		text-align:right !Important;
	}
	a.btn.btn-outline-primary.newTask {
		float:left !important;
	}
	label.col-md-0.margin_bottom.label_font_normal {
		float: right !important;
		padding-right: 15px !important;
		padding-left: 0px !important;
	}
	.tinytable th{
	    text-align: right !important;
	}
	.tinytable .head h6{
		background: url('../../Images/sort.gif') left no-repeat !important;
	    padding-right: 10px !Important;
  	    padding-left:0px !Important;
	}
	.tinytable .asc h6 {
		background: url('../../Images/asc.png') left no-repeat !important;
		padding-right: 10px !Important;
  	    padding-left:0px !Important;
	}
	.tinytable .desc h6 {
		background: url('../../Images/desc.png') left no-repeat !important;
		padding-right: 10px !Important;
  	    padding-left:0px !Important;
	}
	#tablenavApprovalInbox div, 
	#tablenavApprovalOutbox div, 
	#tablenavTasksInbox div, 
	#tablenavTasksOutbox div, 
	#tablenavApprovalInbox, 
	#tablenavApprovalOutbox, 
	#tablenavTasksInbox, 
	#tablenavTasksOutbox,
	#tablenavViewAllPolls {
		float:right !Important;
		margin-left: 15px;
		margin-right:0px !Important;
	}
	#tablelocation {
		float:left !Important;
	}
	#tablelocation div {
		float:right !Important;
		margin-left:0px !important;
		margin-right: 15px;
		direction: rtl;
	}
	.newTask span.glyphicon.glyphicon-plus{
		padding-right:0px !Important;
		padding-left:5px !Important;
	}
	.padding-left-4 {
		padding-right:4px;
	}
	div#notes .sticky-note .handle .saveNotes {
		float: right !important;
		padding: 8px 6px 0px 0px !important;
	}
	div#notes .sticky-note .handle .closeNotes{
		float:left !Important;
        padding: 8px !important;
	}
	div#notes .sticky-note .handle .deleteNotes{
		float:left !Important;
        padding: 8px !important;
	}
	/*END MY DASH BOARD */
	
	/*Projects*/
	.float_right {
		float: left !important;
	}
	div.dataTables_wrapper div.dataTables_filter {
		text-align: left !important;
	}
	div.dataTables_wrapper div.dataTables_filter input {
		margin-right:0.5em !important;
		margin-left:0em !important;
	}
	table#myFirstTable thead tr th {
		text-align: right !important;
	}
	table.dataTable thead .sorting:after {
		left: 8px;
	    right: inherit !important;
	}
	table.dataTable thead>tr>th.sorting, 
	table.dataTable thead>tr>th.sorting_desc, 
	table.dataTable thead>tr>th.sorting_asc {
	padding-left: 30px !Important;
	padding-right:8px !Important;
	}
	table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child,
	table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
		border-right-width:1px !important;
		/*border-left-width:0px;*/
	}
	div.dataTables_wrapper div.dataTables_paginate {
		text-align: left !important;
	}
	.pagination>li:last-child>a, .pagination>li:last-child>span {
		border-bottom-right-radius:0px !important;
		border-bottom-left-radius: 4px;
		border-top-right-radius:0px !important;
		border-top-left-radius: 4px;
	}
	ul#myTab {
	padding-right:0px !important;
	}
	/*End Projects*/
/*OrgChart*/
	div#people {
	direction:ltr !important;
	}
	.get-org-chart .get-oc-tb a.get-minus{
		float:left !important;
		margin: 11px 3px 0 15px !important;
	}
	.get-org-chart .get-oc-tb a.get-plus{
		float:left !important;
	}
	#OfficeLocation{
		float:right !important;
		margin-left:0px !important;
		margin-right:15px !important;
		direction:rtl;
	}
	.get-org-chart .get-oc-tb input{
		direction:rtl;
	}
	.get-org-chart .get-oc-tb a.get-prev,
	.get-org-chart .get-oc-tb a.get-next,
	.get-org-chart .get-oc-tb input{
		float:right !important;
	}
/*End OrgChart*/
		
/*******Responsive*********************/
@media (min-width: 320px){
	.ticker-container ul {
	    margin-right: 160px;
	    margin-left:0px !important;
	}
	.ticker-container .ticker-caption{
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
		-o-transform:rotate(180deg);    
		transform: rotate(180deg);
	}
	.ticker-container .ticker-caption p{
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
		-o-transform:rotate(180deg); 
		transform: rotate(180deg);
	    padding-left: 0px;
	    padding-top: 0px;
	    padding-right: 15px;
	    padding-bottom:6px;
	}
	.ticker-container .ticker-caption nb{
		width:100%;
	}
	.ticker-container .ticker-caption nb p{
		float:right;
		text-align: right;
	}	
}
@media (max-width: 375px){
	.poll-button-div {
		width: 100%;
	}		
}
@media only screen and (max-width: 640px){
	#tablelocation div {
	    margin-right: 0px !Important;
	}
}
@media screen and (min-width: 768px){
	.Navigation ul.nav li.navItem.dropdown ul.dropdown-menu {
		right: 0;
		left: auto !Important;
	}
	.nav  li  a{
		background: url('../../images/line.png') no-repeat left;
	}
	.nav  li ul a{
		background:transparent;
	}
	.nav-tabs > li.active > a, 
	.nav-tabs > li.active > a:hover, 
	.nav-tabs > li.active > a:focus {
		/*background-color: #ddd !important;*/
	}
}
@media (max-width: 768px){
	.center-text {
	    text-align:right !important;
	}	
}
@media screen and (max-width: 767px){
	label.col-lg-7.col-md-7.col-sm-4.col-xs-12.control-label.state-label {
		text-align:right !important;
	}
	.slider .overlay .closebtn {
		left: -20px !important;
	    font-size: 25px !Important;
	}
	.modal-body .form-horizontal .control-label {
	    text-align:right !important;
	}
	.Navigation ul li.navItem:first-child a {
		margin-top: 0px;
	}
	.Navigation ul li.navItem {
		 float:none !important;
	}
	.navbar-toggle {
		margin-bottom: 35px !important;
	}
		.navbar-default, 
	.navbar-header {
		float:none;
	}
	.navbar-collapse {
		margin-top: 10px;
	}
	.padding-left-4 {
		padding-right:15px !important;
	}
	.navbar-brand {
		float:right;
		padding: 3px 30px 3px 3px;
		font-size: 18px;
		line-height: 20px;
	}
	.navbar-header .navbar-toggle {
		float:left;
	    margin-left:15px!Important;
	    margin-right:0px !Important;
	}
	div#bs-example-navbar-collapse-1 {
		width: 89%;
		margin-left: auto;
		margin-right: auto;
	}
	.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	text-decoration: none !Important;
	color: #262626 !Important;
	background-color: #f5f5f5 !Important;
	}
	.Navigation ul{
		width:100% !Important;
		padding: 0px !important;
		margin: 0px 0px !Important;
	}
	.Navigation ul.dropdown-menu{
		margin: 0px 0px !Important;
	}
	.nav > li > a {
	padding: 0px 0px 0px 0px !important;
	}
		
	.table-responsive > .employee-table-responsiv > thead > tr > th:first-child, 
	.table-responsive > .employee-table-responsiv > tbody > tr > th:first-child, 
	.table-responsive > .employee-table-responsiv > tfoot > tr > th:first-child, 
	.table-responsive > .employee-table-responsiv > thead > tr > td:first-child, 
	.table-responsive > .employee-table-responsiv > tbody > tr > td:first-child, 
	.table-responsive > .employee-table-responsiv > tfoot > tr > td:first-child,
	.table-responsive > .table-bordered > thead > tr > th:first-child, 
	.table-responsive > .table-bordered > tbody > tr > th:first-child, 
	.table-responsive > .table-bordered > tfoot > tr > th:first-child, 
	.table-responsive > .table-bordered > thead > tr > td:first-child, 
	.table-responsive > .table-bordered > tbody > tr > td:first-child, 
	.table-responsive > .table-bordered > tfoot > tr > td:first-child {
    	border-right: 0px !important;
	}
	.table-responsive > .employee-table-responsiv > thead > tr > th:last-child, 
	.table-responsive > .employee-table-responsiv > tbody > tr > th:last-child, 
	.table-responsive > .employee-table-responsiv > tfoot > tr > th:last-child, 
	.table-responsive > .employee-table-responsiv > thead > tr > td:last-child, 
	.table-responsive > .employee-table-responsiv > tbody > tr > td:last-child, 
	.table-responsive > .employee-table-responsiv > tfoot > tr > td:last-child,
	.table-responsive > .table-bordered > thead > tr > th:last-child, 
	.table-responsive > .table-bordered > tbody > tr > th:last-child, 
	.table-responsive > .table-bordered > tfoot > tr > th:last-child, 
	.table-responsive > .table-bordered > thead > tr > td:last-child, 
	.table-responsive > .table-bordered > tbody > tr > td:last-child, 
	.table-responsive > .table-bordered > tfoot > tr > td:last-child {
		border-left: 0px !important;
	}	
}
@media screen and (max-width:992px){
	.col-md-12.news-box.padd-right-2.padd-left-2 {
		margin-right:0px !Important;
  	    padding-right:0px;
	}
	.table-responsive > .employee-table-responsiv > thead > tr > th:first-child, 
	.table-responsive > .employee-table-responsiv > tbody > tr > th:first-child, 
	.table-responsive > .employee-table-responsiv > tfoot > tr > th:first-child, 
	.table-responsive > .employee-table-responsiv > thead > tr > td:first-child, 
	.table-responsive > .employee-table-responsiv > tbody > tr > td:first-child, 
	.table-responsive > .employee-table-responsiv > tfoot > tr > td:first-child,
	.table-responsive > .table-bordered > thead > tr > th:first-child, 
	.table-responsive > .table-bordered > tbody > tr > th:first-child, 
	.table-responsive > .table-bordered > tfoot > tr > th:first-child, 
	.table-responsive > .table-bordered > thead > tr > td:first-child, 
	.table-responsive > .table-bordered > tbody > tr > td:first-child, 
	.table-responsive > .table-bordered > tfoot > tr > td:first-child {
    	border-right: 0px !important;
	}
	.table-responsive > .employee-table-responsiv > thead > tr > th:last-child, 
	.table-responsive > .employee-table-responsiv > tbody > tr > th:last-child, 
	.table-responsive > .employee-table-responsiv > tfoot > tr > th:last-child, 
	.table-responsive > .employee-table-responsiv > thead > tr > td:last-child, 
	.table-responsive > .employee-table-responsiv > tbody > tr > td:last-child, 
	.table-responsive > .employee-table-responsiv > tfoot > tr > td:last-child,
	.table-responsive > .table-bordered > thead > tr > th:last-child, 
	.table-responsive > .table-bordered > tbody > tr > th:last-child, 
	.table-responsive > .table-bordered > tfoot > tr > th:last-child, 
	.table-responsive > .table-bordered > thead > tr > td:last-child, 
	.table-responsive > .table-bordered > tbody > tr > td:last-child, 
	.table-responsive > .table-bordered > tfoot > tr > td:last-child {
		border-left: 0px !important;
	}
	.table-responsive > .employee-table-responsiv > tbody > tr:last-child > th, 
	.table-responsive > .employee-table-responsiv > tfoot > tr:last-child > th, 
	.table-responsive > .employee-table-responsiv > tbody > tr:last-child > td, 
	.table-responsive > .employee-table-responsiv > tfoot > tr:last-child > td,
	.table-responsive > .table-bordered > tbody > tr:last-child > th, 
	.table-responsive > .table-bordered > tfoot > tr:last-child > th, 
	.table-responsive > .table-bordered > tbody > tr:last-child > td, 
	.table-responsive > .table-bordered > tfoot > tr:last-child > td {
		border-bottom: 0px !important;
	}
}
@media screen and (max-width:425px){
	.col-md-2.col-sm-4.col-xs-12.foot-text2 {
		padding-right: 0px !important;
		padding-left: 20px;
		text-align: left;
		padding-top: 10px;
		width: 85px !important;
	}
	.ticker-container ul {
		margin-right: 0px !important;
	}
}
@media screen and (min-width:426px){
/*	.col-md-2.col-sm-4.col-xs-12.foot-text2 {
		padding-right: 0px;
		padding-left: 100px;
		text-align: left;
		padding-top: 10px;
	}	*/
}
@media (max-width: 425px) and (min-width: 320px){
	#ddlMeetingStartTime, #ddlMeetingEndTime, #ddlEvetStartTime, #ddlEvetEndTime {
	    float:right !important;
	}
	#ddlMeetingStartMinutes, #ddlMeetingEndMinutes, #ddlEvetStartMinutes, #ddlEvetEndMinutes {
		float:right;
		margin-right: 5px;
		margin-left:0px !Important;
	}	
}
@media (max-width: 485px) and (min-width: 426px){
	.float-left-cls {
	    float: right !Important;
	}
	.get-org-chart .get-oc-tb input {
		margin-right: 15px !Important;
	}	
}
@media (max-width: 640px) and (min-width: 425px){
	#ddlMeetingStartTime, #ddlMeetingEndTime, #ddlEvetStartTime, #ddlEvetEndTime {
	    float:right !important;
	}
	#ddlMeetingStartMinutes, #ddlMeetingEndMinutes, #ddlEvetStartMinutes, #ddlEvetEndMinutes {
		float:right;
		margin-right: 5px;
		margin-left:0px !important;
	}	
}
@media (max-width: 641px) and (min-width: 486px){
	.float-left-cls {
		float:right !important;
	}
}
@media (max-width: 767px) and (min-width: 641px){
	.float-left-cls {
	    float: right !important;
	}
	#ddlMeetingStartTime, #ddlMeetingEndTime, #ddlEvetStartTime, #ddlEvetEndTime {
		float: right !important;
	}
	#ddlMeetingStartMinutes,#ddlMeetingEndMinutes,#ddlEvetStartMinutes,#ddlEvetEndMinutes{
		float:right !important;
		margin-right:5px;
		margin-left:0px  !important;
	}
}
@media (max-width:1199px) and (min-width:1025px){
	.nav-margin {
	 	margin-left:0px !important;
	 	margin-top:3% !important;
	 	width: 85% !important;
	}
	
}
@media (max-width: 1365px) and (min-width: 1200px){
	.nav-margin {
	 	margin-left:0px !important;
	 	margin-top:2% !important;
	 	width: 85% !important;
	}
	.nav > li > a {
		padding-top:5px;
	}   
}
@media (max-width: 1280px) and (min-width: 1200px){
	.doc-type-input {
	    float:right !important;
	}
	button.btn.btn-outline-primary.doc-type-sub {
		float:right !important;
		margin-left:0px !Important;
		margin-right:10px !Important;
	}	
}
@media (max-width: 1366px) and (min-width: 1338px){
	.doc-type-input {
		float: right !important;
	}
	button.btn.btn-outline-primary.doc-type-sub {
		float:right !important;
		margin-left:0px !Important;
		margin-right:10px !Important;
	}
}
@media (min-width: 1200px){
	.col-md-10.col-xs-12.foot-text1{
		    padding-right: 0px !important;
	}
	.titan-footer .footer-bg {
		padding-right: 0px !important;
	}	
}
/*******bootstrap**********************/
@media (min-width: 768px){
	.col-sm-1, 
	.col-sm-2, 
	.col-sm-3, 
	.col-sm-4, 
	.col-sm-5, 
	.col-sm-6, 
	.col-sm-7, 
	.col-sm-8, 
	.col-sm-9, 
	.col-sm-10, 
	.col-sm-11, 
	.col-sm-12 {
	    float:right;
	}	
}

@media (min-width: 992px){
	.col-md-1,
	.col-md-2, 
	.col-md-3, 
	.col-md-4, 
	.col-md-5, 
	.col-md-6, 
	.col-md-7, 
	.col-md-8, 
	.col-md-9, 
	.col-md-10, 
	.col-md-11, 
	.col-md-12 {
	    float:right;
	}	
}

	.pull-right {
	    float:left!important;
	}
	.col-xs-1,
	.col-xs-2, 
	.col-xs-3, 
	.col-xs-4, 
	.col-xs-5, 
	.col-xs-6, 
	.col-xs-7, 
	.col-xs-8, 
	.col-xs-9, 
	.col-xs-10, 
	.col-xs-11, 
	.col-xs-12 {
		float: right;
	}
.btn {
	margin-left: 3px !important;
	margin-right:0px !important;
}
.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    float: right;
    margin-right: -20px;
    margin-left:0px !Important;
}
.pull-left {
    float:right !important;
}
input#searchByKeyWord{
	float:right !important;
}
.top_item{
	direction:rtl;
}
#aUser .SignIn .ms-welcome-root .ms-core-menu-arrow {
    margin-right: 3px;
    margin-left: 0px !important;
}
.text-1 {
    padding-right:0px !important;
    margin-left: 1.4% !important;
}
label.facilitylabel {
    margin-left: 2px;
    margin-right: 0px;
}
/*EmployeeSynchronous*/
.synch-div {
    float: left !important;
}
#query, #queryOffice365 {
    float: right !important;
}
.col-md-2.col-xs-12.foot-text2 {
    text-align: left;
    padding-left: 120px;
    padding-right:0px !important;
}
.titan-footer{
    direction: rtl;
}
.QuotationBy {
    padding-right:0px !important;
    padding-left: 4px;
}
.total-item-div{
	float:left !important;
}
@-ms-viewport {
	width:auto !important;
}
div#dvUser .text-1 .link-color-2{
float:right !Important;	
}
div#dvUser div.text-1{
	float:left !Important;
}
.ms-core-menu-arrow{
	margin-right:3px;
	margin-left:0px !Important;
}
body #s4-workspace{
	 direction:rtl;
}