*{margin:0; padding:0; outline:0}
#tablewrapper {
	/* width:980px;  */
	
	margin:0 auto
	}
#tableheader {height:55px}
.search {
	/* float:left; padding:6px; border:1px solid #c6d5e1; */
 /* background:#fff */
 }
#tableheader select {float:left; font-size:12px; width:135px; padding:2px 4px 4px ; margin-left: 33px;}
#tableheader input {float:left; font-size:12px; width:225px; padding:2px 4px 4px; margin-left:4px}
.details {float:right; padding-top:12px}
.details div {float:left; margin-left:15px; font-size:12px}
.tinytable {/*width:979px; border-left:1px solid #c6d5e1; border-top:1px solid #c6d5e1;*/ border-bottom:none}
.tinytable th { 

/* background-color:#0072c6 !important; */
  
     text-align:left;
                /* color:#cfdce7 !important;  */
				border:1px solid #fff; 
				border-right:none
				}
.tinytable th h6 {font-size:12px !important; 
                 
                    /* color:#cfdce7 !important; */
					font-weight:bold !important;}
.tinytable td {padding:4px 6px 6px; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1}
.tinytable .head h6 {background:url("sort.gif") right no-repeat !important; cursor:pointer;margin-top:0px !important;margin-bottom:0px !important;}
.tinytable .desc, .sortable .asc {/*background:url("header-selected-bg.gif"*/)}
.tinytable .desc h6 {background:url("desc.png")  right no-repeat; cursor:pointer;}
.tinytable .asc h6 {background:url("asc.png")   right no-repeat; cursor:pointer;}
.tinytable .head:hover, .tinytable .desc:hover, .tinytable .asc:hover {
	/*color:#fff !important;*/
	color: #333 !important;
	}
.tinytable .evenrow td {
	/* background:#fff */
	}
.tinytable .oddrow td {
	/* background:#ecf2f6 */
	}
.tinytable td.evenselected {
	/* background:#ecf2f6 */
	}
.tinytable td.oddselected {
	/* background:#dce6ee */
	}
.tinytable tfoot {
	/* background:#fff; */
	font-weight:bold}
.tinytable tfoot td {padding:6px 8px 8px}
#tablefooter {height:19px; margin-top:10px}
#tablenav {float:left}
#tablenav img {cursor:pointer}
#tablenav div {float:left; margin-right:15px}
#tablelocation {float:right; font-size:12px}
#tablelocation select {margin-right:3px}
#tablelocation div {float:left; margin-left:15px}
.page {margin-top:2px; font-style:italic}
#selectedrow td 
{	
	/* background:#c6d5e1 */	
	}
	/*For Second Table*/
	
#tablefooterAllocated {height:15px; margin-top:20px}
#tablenavAllocated {float:left}
#tablenavAllocated img {cursor:pointer}
#tablenavAllocated div {float:left; margin-right:15px}
#tablelocationAllocated {float:right; font-size:12px}
#tablelocationAllocated select {margin-right:3px}
#tablelocationAllocated div {float:left; margin-left:15px}
.page {margin-top:2px; font-style:italic}
#selectedrowAllocated td 
{	
	/* background:#c6d5e1 */	
}


#tablefooterOffice365 {height:15px; margin-top:20px}
#tablenavOffice365 {float:left}
#tablenavOffice365 img {cursor:pointer}
#tablenavOffice365 div {float:left; margin-right:15px}
#tablelocationOffice365 {float:right; font-size:12px}
#tablelocationOffice365 select {margin-right:3px}
#tablelocationOffice365 div {float:left; margin-left:15px}
.page {margin-top:2px; font-style:italic}
#selectedrowOffice365 td 
{	
	/* background:#c6d5e1 */	
}

	
	
	
	