
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
button:focus {
    outline: none !important;	
}
.font-12 {
    font-size: 12px;
}
.w-50 {
    width: 50%;
}
.w-25 {
    width: 25%;
}
.w-20 {
    width: 20%;
}
.w-18 {
    width: 18%;
}
.w-10 {
    width: 10%;
}
.w-102 {
    width: 102px;
}
.w-70 {
    width: 70px;
}
.b-400 {
    font-weight: 400;
}
.m-0 {
    margin: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mt-8 {
    margin-top: 8px !important;
}
.ml-0 {
    margin-left: 0 !important;
}
.mt-4 {
    margin-top: 4px !important;
}
.mb-8 {
    margin-bottom: 8px !important;
}
.mt-10 {
    margin-top: 10px;
}
.mt-14 {
    margin-top: 14px;
}
.mt-16 {
    margin-top: 16px;
}
.mt-29 {
    margin-top: 29px !important;
}
.ml-4 {
    margin-left: 4px;
}
.mr-4 {
    margin-right: 4px;
}
.mr-8 {
    margin-right: 8px;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-15 {
    margin-bottom: 15px;
}
.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.pr-8 {
    padding-right: 8px;
}
.pt-8 {
    padding-top: 8px;
}
.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.pt-0 {
    padding-top: 0;
}
.d-none {
    display: none;
}
.position-relative {
    position: relative;
}
.vertical-align-middle {
    vertical-align: middle !important;
}
.cursor-pointer {
    cursor: pointer;
}
.text-center {
    text-align: center !important;
}
.scrollbar-panel::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
.scrollbar-panel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.scrollbar-panel::-webkit-scrollbar-thumb {
  background: #888888; 
  border-radius: 10px;
}

/* Handle on hover */
.scrollbar-panel::-webkit-scrollbar-thumb:hover {
  background: #555555; 
}
.custom-panel {
    margin: 10px 0;
    border: 1px solid #d4d4d4;
}
.panel-head {
    color: #1b1b1b;
    padding: 8px 15px;
}
.custom-form-group .form-control {
    border-radius: 0;
    box-shadow: none;
}
.custom-form-group .form-control:focus {
    border-color: #1d6ec0;
}
.custom-btn {
    background-color: #1d6ec0;
    border-color: #1d6ec0;
    color: #ffffff;
    border-radius: 2px !important;
    transition: color 0.15s ease-in-out !important, background-color 0.15s ease-in-out!important, border-color 0.15s ease-in-out!important, box-shadow 0.15s ease-in-out!important, -webkit-box-shadow 0.15s ease-in-out!important;
}
.custom-btn:hover {
    color: #1d6ec0 !important;
    background-color: #fff;
    border-color: #1d6ec0;
}
.custom-btn:focus {
    color: #fff;
    text-decoration: none;
}

.custom-btn-two {
    border-radius: 16px !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    font-size: 10px !important;
    padding: 1px 3px;
    width: 39px;
    /*min-width: 4em;*/
    min-width: 5em;
}
.custom-btn-two-success:hover,
.custom-btn-two-success:focus {
    background: #ffffff;
    color: #4cae4c;
}
.custom-btn-two-danger,
.custom-btn-two-danger {
    background: #ffffff;
    color: #d43f3a;
}
.custom-btn-two-danger:hover  {
    background: #d43f3a;
    color: #ffffff;
}
.custom-btn-two-danger:focus {
    background: #ffffff;
    color: #d43f3a;
    border-color: #d43f3a;
}
.custom-btn-two-cancel {
    border-radius: 2px;
    color: #fff;
    background-color: #7B7A7A;
    border-color: #7B7A7A;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.custom-btn-two-cancel:hover, .custom-btn-two-cancel:focus {
    background: #ffffff;
    color: #7B7A7A;
    border-color: #7B7A7A;
}
.table-responsive-2,
.custom-table-border {
    border: 1px solid #d2d2d2;
}
.custom-table {
    margin-bottom: 0;   
}
.custom-table tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}
.custom-table thead tr {
    background-color: #ffffff !important;
    border-top: 0 !important;
}
.custom-table tbody tr {
    border-top: 1px solid #d2d2d2;
}
.custom-table>thead>tr>th {
    border-bottom: 0;
    font-weight: 400;
    white-space: nowrap;
}
.custom-table>tbody>tr>td {
    border-top: 0;
    padding: 10px 8px;
}
.custom-table .progress {
    background-color: #ffffff;
}
.custom-table .progress-success {
    border: 1px solid #5cb85c;
}
.task-name-box {
    display: inline-block;
    min-height: 45px;
}
.custom-table .progress-danger {
    border: 1px solid #d9534f;
}
.in-out-tab {
    border-radius: 2px !important;
}
@media screen and (max-width: 767px) {
    .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
        white-space: normal;
    }
}   

.group-taks-item {
    text-align: left;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 2px 8px 0 rgb(0, 0, 0, 0.17);
    z-index: 10;    
    overflow: auto;
    max-height: 280px;
    max-width: 300px;
    margin: 10px auto;
}
.modal.in .group-taks-item {
    transform: translate(0px,50%) !important;
}
.sticky-box {
    position: sticky;
    top: 0;
}
.group-taks-item-panel {
    padding-left: 0;
    list-style-type: none;
    min-width: 165px;   
    margin-bottom: 0;
    position: relative;
}
.group-taks-item-panel li {
    padding: 4px 12px;
    word-break: break-all;
}
.group-taks-item-panel li:nth-child(odd) {
    background-color: #f7f7f7;
}
.custom-progress {
    height: 10px;
    box-shadow: inset 0px 1px 4.5px rgb(0 0 0 / 50%);
}
.ellipsis-1,
.ellipsis-2 {
    display: inline;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.ellipsis-1 {-webkit-line-clamp: 1;}
.ellipsis-2 {-webkit-line-clamp: 2;}
.custom-nav>li>a {
    color: #1b1b1b;
    background-color: #eeeeee;
}
.custom-nav>li.active>a, .custom-nav>li.active>a:focus, .custom-nav>li.active>a:hover {
    background-color: #1d6ec0;
}
@media (max-width: 375px) {
    .custom-nav .nav-text-isPhone {
        font-size: 16px;
    }
    .custom-nav .in-out-tab {
        padding: 10px;
    }
}
.custom-panel .modal-footer {
    text-align: center;
}
.custom-nav-main {
    width: 100%;
    background-color: #ffffff;
}
.custom-nav-main.nav-justified>li>a {
    border-radius: 0 !important;
    margin: 0 1px;
}
.custom-nav-main.nav-justified>li:nth-child(1)>a {
    margin-left: 0;
}
.custom-nav-main.nav-justified>li:nth-child(4)>a {
    margin-right: 0;
}
@media (max-width: 767px) {
    .custom-nav-main.nav-justified>li {
        width: 50%;
        margin: 0;
        float: left;
    }
    .custom-nav-main.nav-justified>li>a {
        margin: 1px;
        margin-bottom: 0;
    }
    .custom-nav-main.nav-justified>li:nth-child(2)>a {
        margin-right: 0;
    }
    .custom-nav-main.nav-justified>li:nth-child(3)>a {
        margin-left: 0 !important;
    }
}
.tab-pane-main {
    padding: 10px 14px 0;
    border: 1px solid #ddd;
    border-top: 0;
    background-color: #ffffff;
}
.footer-btn-group {
    text-align: center;
}
@media (max-width: 390px) {
    .footer-btn-group button {
        margin-bottom: 8px !important;
    }
}
.chip-panel {
    overflow-x: auto;
}
.chip-box {
    display: flex;
    padding: 0 0 3px 0;
}
.upload-chip {
    border-radius: 20px;
    border: 1px solid #d2d2d2;
    padding: 6px 10px;
    margin-right: 4px;
    font-size: 12px;
    height: 28px;
    white-space: nowrap;
}
.upload-chip:hover {
    background-color: #f2f2f2;
}
.filter-align {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.close-round {
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0px 7px 0 rgba(0,0,0,0.23);
    opacity: 1;
    text-align: center;
    line-height: 22px;
}
.close-round:hover {
    opacity: 1;
    background-color: #333333;
    color: #ffffff;
}
.search-box {
    max-width: 208px;
    margin-bottom: 0;
}
.custom-panel-box .inbox-istab {
    margin-top: 8px !important;
}
.custom-panel-box .table-responsive {
    word-break: break-word;
} 
.custom-panel-box .table-responsive-2 {
    word-break: break-word;
} 
@media (max-width: 991px) {
    .filter-align-button {
        text-align: center;
    }
    .custom-panel-box .custom-table {
        border: 0; 
        min-width: 910px;
    }
    .custom-panel-box .table-responsive {
        overflow-x: auto;
        border: 1px solid #ddd;
        margin-bottom: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    } 
    .custom-panel-box .table-responsive-2 {
        overflow-x: auto;
        border: 1px solid #ddd !important;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }  
    .table-responsive-2 .custom-table {
        min-width: 800px;
    }
    .custom-panel-box .panel-body {
        padding-bottom: 0;
    }
}
@media (max-width: 767px) {
    .custom-panel-box .task2-align .button-box {
        text-align: center;
    }
}
@media (max-width: 575px) {
    .custom-panel-box .inbox-istab {
        display: flex;
        flex-direction: column-reverse;
    }
    .custom-panel-box .inbox-istab .col-xs-6 {
        width: 100%;
    }
    .search-box {
        margin: auto;
    }
    .custom-panel-box .inbox-istab .add-task-position {
        margin-bottom: 10px;
        text-align: center;
    }
}
@media (max-width: 425px) {
    .custom-panel-box .inbox-istab .col-xs-6 {
        width: 100%;
    }
    .custom-panel-box .task2-align .col-xs-6 {
        width: 100%;
    }
}
/*check*/
.task2-align {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}




/* button*/
.btn-toggle.active {
    background-color: #1d6ec0 !important;;
}
.btn-toggle.active {
    transition: background-color 0.25s;
}
.example .btn-toggle {
    top: 50%;
    transform: translateY(-50%);
}
.btn-toggle {
    margin: 0 64px;
    padding: 0;
    position: relative;
    border: none;
    height: 24px;
    width: 48px;
    border-radius: 24px;
    color: #6b7381;
    background: #bdc1c8;
}
.btn-toggle.active:before {
    opacity: 0.5;
}
.btn-toggle:before, .btn-toggle:after {
    color: #4c4c4c;
}
.btn-toggle:before {
    content: 'Close';
    left: -56px;
}
.btn-toggle:before, .btn-toggle:after {
    line-height: 24px;
    width: 64px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
}
.btn-toggle:after {
    content: 'Open';
    right: -56px;
    opacity: 0.5;
}
.btn-toggle.active:after {
    opacity: 1;
}
.btn-toggle > .handle {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background: #fff;
    transition: left 0.25s;
}
.btn-toggle.active > .handle {
    left: 27px;
    transition: left 0.25s;
}

.status-toggle .btn-toggle {
    margin-top: 0px;
}
.word-break-word {
    word-break: break-word;
}
.resize-none {
    resize: none;
}
.approved-details-btn {
    margin-top: 25px;
}
.deit-delete-btn-box {
    display: flex;
}
.custom-edit-btn {
    margin-right: 6px;
}
.custom-edit-btn,
.custom-delete-btn {
    height: 30px;
    width: 30px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    border: 0;
    padding: 0;
    transition: all 0.3s;
    background-color: #e7e7e7;
    color: #1d6ec0;
}
.custom-edit-btn:hover,
.custom-delete-btn:hover {
    background-color: #cccccc;
}
@media (max-width: 1190px) {
    .approval-in-table {
        padding: 0;
    }
    .approval-in-table .custom-table {
        min-width: 1100px;
        border-left: 0; 
        border-right: 0; 
        border-bottom: 0; 
    }
    .approval-inbox-custom-panel .panel-body,
    .approval-outbox-custom-panel .panel-body {
        padding-bottom: 0;
    }
}
@media (min-width: 767px) {
    .dependencies-save-align-top {
        margin-top: 33px;
        text-align: right;
    }
}



/*
    NEWLY ADDED CSS
    16/09/2020
*/
.custom-table>thead>tr>th {
    white-space: nowrap;
}
.d-flex {
    display: flex;
}
.task-inbox-chat .timesheet-entry-chat-main-panel {
    overflow: auto;
    max-height: 320px;
    margin-top: 5px;
}
.task-inbox-chat .timesheet-entry-reply-box {
    padding: 10px;
    background: #e6e6e6;
    margin-top: 5px;
    clear: both;
}

.task-inbox-chat .timesheet-entry-reply-box:first-child {
    margin-top: 0px;
}
.task-inbox-chat .timesheet-entry-reply-author-detail {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.task-inbox-chat .timesheet-entry-reply-author-detail span {
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
}
.task-inbox-chat .timesheet-entry-page-title {
    display: flex;
    margin-bottom: 4px;
}
.task-inbox-chat .timesheet-entry-reply-box h4 {
    font-size: 14px;
    margin-top: 0px;
    word-break: break-word;
    margin: 0;
}
.task-inbox-chat .timesheet-entry-reply-box h4 {
    font-size: 14px;
    margin-top: 0px;
    word-break: break-word;
    margin: 0;
}
.task-inbox-chat .timesheet-entry-question-edit-button a, .task-inbox-chat .timesheet-entry-question-delete-button a {
    font-size: 14px;
    color: #666;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.task-inbox-chat .timesheet-entry-question-edit-button p, .task-inbox-chat .timesheet-entry-question-delete-button p {
    display: inline-block;
    font-size: 14px;
    margin: 0;
}
@media (max-width: 350px) {
    .task-inbox-chat .timesheet-entry-reply-author-detail span {
        font-size: 13px;
    }
}
    
    #mySliderDiv {
        margin-bottom: 5px;
        overflow: hidden;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 5px 0px 5px 5px;
    }

    

    #mySliderDiv img {
        width: 80px;
        margin-right: 15px;
        cursor: pointer;
        transition: all ease-out 0.2s;
    }

    

    
    #mySliderDiv img:hover {
        box-shadow: 0px 1px 8px 1px #656565;
    }

    #mySliderDiv .my_event_active {
        /* box-shadow: 0px 1px 8px 1px #5f5f5f; */
        padding: 2px;
        border: 1px solid #000;
        border-radius: 4px;
        transform: scale(1.1);
   }


















/* Modal Css View Event Calender 13/10/20, 16/10/20 -----START----- */ 

    .common-modal-header {
        position: absolute;
        z-index: 10;
    }
    button.close{
        background:white;
    }
    .close{
        text-decoration: none;
        cursor: pointer;
    }
    .common-modal-header .bg-white-round-btn {
        min-width: auto !important;
        font-weight: bold !important;
        font-size: 18px;
        top: 10px;
        background: #fff;
        text-shadow: 0px 0px 4px #fff;
        padding: 4px 6px !important;
        border-radius: 50%;
        opacity: 1;
    }
    .common-modal-header .bg-white-round-btn:hover {
        background: #000;
        color: #fff !important;
        opacity: 1;
    }
    .panel-heading-common-popup {
        padding: 14px 0px 7px 0px !important;
        border: none !important;
        background-color: transparent !important;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .common-head-text-popup {
        font-size: 16px;
        padding: 4px 10px;
        color: white;
        letter-spacing: 1px;
        background-color: #24bad6 !important;
        width: 100%;
        font-weight: 600;
    }
    .modal-body-bg {
        height: 300px;
        border-radius: 6px;
        padding-left: 0;
        padding-right: 0;
    }
    .approved-details-btn, .btndetails, .btndetailsoutbox {
        margin: 23px 0px 0px 0px !important;
        display: inline-block;
        width: auto;
        float: left;
        min-width: 2em;
    }
    .my_events_calendar_img_box {
        /*text-align: center;*/
        float: left;
        width: 100%;
    }
    #labelImageURL,#OutboxlabelImageURL {
        float: left;
        width:  100px;
        height: 300px;
        object-fit: cover;   
    }
    .my_events_calendar_img_box #labelImageURL, .my_events_calendar_img_box #OutboxlabelImageURL {
        width: 100%;
    }
    .shade-common-popup {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0.2), rgba(0,0,0,0.5), rgba(0,0,0,0.9), rgba(0,0,0,1));
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
    }
    .common-content-popup {
        font-size: 14px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        color: #fff;
        width: 100%;
        word-break: break-word;
    }
    .common-content-popup p {
        margin-bottom: 5px;
    }
     #labelEventTitle {
        width: auto;
        padding-left: 5px;
    }
    #myViewEventModal .panel-body, #OutboxViewEventModal .panel-body {
        padding: 10px 10px 5px 10px;
        background: #fff;
    }
    #myViewEventModal .panel-body .form-group, #OutboxViewEventModal .panel-body .form-group {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 5px !important;
    }
    #myViewEventModal .panel-body .form-group label, #OutboxViewEventModal .panel-body .form-group label {
        padding-top: 0 !important;
    }
    #myViewEventModal .panel-body .form-group label, #OutboxViewEventModal .panel-body .form-group label {
        margin-bottom: 10px;
    }
    .my_events_calendar_btns {
        text-align: center;
    }

    /* Modal Css View Event Calender 13/10/20, 16/10/20 -----END----- */








