
body {
    font-family: "Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif !important;
}


h3 {
    font-weight: 400;
}
button:focus {
    outline: none !important;   
}

/*custom scroll*/
.scrollbar-panel::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
.scrollbar-panel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.scrollbar-panel::-webkit-scrollbar-thumb {
  background: #888888; 
  border-radius: 10px;
}

/* Handle on hover */
.scrollbar-panel::-webkit-scrollbar-thumb:hover {
  background: #555555; 
}

.custom-form-group .form-control {
    border-radius: 0;
    box-shadow: none;
}
.custom-form-group .form-control:focus {
    border-color: #1d6ec0;
}
.custom-btn,
.custom-btn:focus {
    background-color: #1d6ec0;
    border-color: #1d6ec0;
    color: #ffffff;
    border-radius: 2px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.custom-btn:hover {
    color: #1d6ec0;
    background-color: #fff;
    border-color: #1d6ec0;
}
.custom-btn-two-cancel {
    border-radius: 2px;
    color: #fff;
    background-color: #7B7A7A;
    border-color: #7B7A7A;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.custom-btn-two-cancel:hover, .custom-btn-two-cancel:focus {
    background: #ffffff;
    color: #7B7A7A;
    border-color: #7B7A7A;
}
.close-round {
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0px 7px 0 rgb(0 0 0 / 23%);
    opacity: 1;
    text-align: center;
    line-height: 22px;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.close-icon {
    position: relative;
    top: -2px;
    left: 0px;
}
.close-round:hover {
    opacity: 1;
    background-color: #333333;
    color: #ffffff;
}
.custom-panel {
    margin: 10px 0;
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
}
.panel-head {
    color: #1b1b1b;
    padding: 8px 15px;
    background-color: #ffffff;
}
.panel-head-text {
    font-size: 24px;
    margin: 0;
    font-weight: 400;
}
.panel-body {
    background-color: #ffffff;
}




.document-types-card {
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 11%);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel-head-sub-text {
    margin: 0;
    padding-top: 8px;
    font-size: 16px;
}

.document-types-card .document-types-card-top {
    font-size: 20px;
}
.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.document-types-card-bottom {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;  
}
.document-types-card-panel {
    width: calc(100% - 74px);
}
.document-types-last-modified {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
}
.document-types-card-bottom .members-card-head {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    border: 2px solid #bbbbbb;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    overflow: hidden;
    transition: all 0.5s;
}
.document-types-card-bottom .members-card-head>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.document-types-card-bottom .members-card-body-info {
    padding-left: 12px;
    padding-right: 17px;
    width: calc(100% - 40px);
}
.document-types-card-bottom .member-name, .member-email {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
}
.document-types-card-bottom .member-name {
    margin-bottom: 4px;
    margin-top: 0px;
}
.document-types-card-bottom .member-email {
    margin-bottom: 4px;
}
.document-types-card-top-number {
    font-size: 46px;
    color: #1d6ec0;
}
.document-types-card-top-number:hover {
    text-decoration: none;
}

@media (max-width: 767px) {
    .document-types-card-top-number {
        font-size: 30px;
    }
    .document-types-card-panel {
        width: calc(100% - 50px);
    }
}
@media (max-width: 767px) {
    .document-types-card {
        flex-wrap: wrap;
    }
    .document-types-card-panel {
        width: 100%;
    }
    .document-types-card-top-number {
        margin-top: 4px;
        width: 100%;
        text-align: right;
    }
}



/*----30-09-2021-----*/


.flexing{
   display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flexing span,
.userdetails h3{
 margin:0 !important;
 padding:0 !important;

}
.userdetails {
padding: 3px 3px;	
}

.flexing p{
   margin:0;
   padding:0 3px !Important;	
}

.userdate1{
padding: 3px 3px !important;	
}

h1.panel-head-text {
    margin-bottom: 10px;
}

/*************************Documents filter Start************************/

.documents-filter {
    padding: 5px 5px;
}
.documents-filter a {
    font-size: 12px;
    padding: 1px 10px;
    color: #333;
    background-color: #fff;
    border: 1px solid #999 !important;
    float: left;
    border-radius: 20px;
}
.owl-carousel.documents-filter {
    /*width: 86%;*/
    width: calc(100vw - 148px);
    margin-left: 23px;
}
.documents-filter a:hover, .documents-filter a:active, .documents-filter a:focus {
  text-decoration: none;
  color: #ffffff;
  display: block;
  /*background: #24bad6;
  border: 1px solid #24bad6 !important;*/
  background: #494948;
  border: 1px solid #494948 !important;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}  
     
.documents-filter .owl-nav .owl-prev:after,
.documents-filter .owl-nav .owl-prev:after, .documents-filter .owl-nav .owl-next:after {
  content: '';
  position: absolute;
  bottom: 4px;
  margin: auto;
  width: 25px;
  height: 25px;
}

.documents-filter .owl-nav .owl-prev:after {
  background-image: url(../images/c_ar.png)!important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  right: -25px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.documents-filter .owl-nav .owl-next:after{
  background-image: url(../images/c_ar.png) !important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  right: -40px
}
.documents-filter .owl-nav button{
  font-size: 0!important
}

.documents-filter .owl-nav{
  height: 0;
}
.documents-plus {
    line-height: 0.50 !important;
    font-size: 26px !important;
    padding: 7px 0px 0px 0px !important;
    position: absolute;
    top: 47px;
    left: 5px;
    z-index: 6;
}
.documents-plus strong {
    color: #333;
    background-color: #fff;
    border: 1px solid #999 !important;
    float: left;
    border-radius: 20px;
    padding: 0px 0px 5px 0px;
}
.documents-plus strong:hover, .documents-plus strong:focus, .documents-plus strong:active {
    text-decoration: none;
    color: #ffffff;
    display: block;
    background: #24bad6;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.owl-carousel.documents-filter .owl-stage {
    width: 3500px !important;
}

/*************************Documents filter end************************/


