#overlay h4{
	line-height:1.1;
}

.backBlock{
    overflow: hidden !important;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-right {
    float: none;
}

.dropdown-submenu.pull-right>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.mt-40{ margin-top:40px;}
.mt-35{ margin-top:42px;}
.padding-top-50{
 padding-top:50px;	
}

@media screen and (min-width: 768px){
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -16px !important; margin-top:-23px;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev {
    margin-right: -16px !important; margin-top:-23px;
}

}

.full-width-tabs > ul.nav.nav-tabs {
    display: table;
    width: 100%;
    table-layout: fixed;
	border-bottom:0px;

	
}
.full-width-tabs > ul.nav.nav-tabs > li:first-child {
	float: none;
	display: table-cell;
	background-color:#e1e1df ;
	border-top-left-radius: 3px;	
}
.full-width-tabs > ul.nav.nav-tabs > li:last-child{
	border-top-right-radius: 3px;
}
.full-width-tabs > ul.nav.nav-tabs > li > a {
    text-align: center;
	background:none;
	    padding-top: 7px;
    padding-bottom: 7px;
	/*border-right:1px solid #fff !important;*/
	
	

}
.take-all-space-you-can{
    width:100%;
}

.nav-tabs>li>a{ margin-right:0px; border:0px !important;}



#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    
    z-index:1032;
}


<!--curtain Page css --><!--curtain Page css --><!--curtain Page css --><!--curtain Page css -->

#overlay {
    display: none;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
	z-index:5000;
   /* background-color: rgba(0, 0, 0, 0.5);*/
	
   /*filter: blur(1px);*/
}

#overlay-content {
	
    width: 100%;
    height: 100%;
    padding: 20px;
    position: fixed;
	/*background:url(../Images/blur.png) repeat;*/	
	/*background: url('/sites/TITAN_2_2_1_DEV/_catalogs/masterpage/Titan2/Images/blur.png') repeat;*/
	/* background-image:url('../Images/blur.png');
	 background-repeat:repeat;*/

    /*left: 50%;
    top: 50%;*/
   /* margin-left: -400px;
    margin-top: -300px;*/
    color: #fff;
	z-index:5000;
	opacity:0.9;
}
.curtain_text{ font-weight:lighter; font-family:'Oswald'; text-align:right }
.curtain_text1{font-weight:lighter; font-size:14px; font-family:'Microsoft JhengHei UI';  text-align:center; color:#fff; line-height:1.5em; letter-spacing:1.2px;}
.no_decorate{text-decoration:none; color:#fff}
.no_decorate:hover{text-decoration:none; color:#999}
.bottom_quote{  position:absolute; bottom:5%; right:20px;}
.tip-text{font-family:'Microsoft JhengHei UI'; font-weight:lighter; color:#fff; font-size:30px; letter-spacing:1.5px}
.tip-text2{font-family:'Microsoft JhengHei UI'; font-weight:lighter; color:#fff; font-size:20px; letter-spacing:1.5px}
.tip-text3{font-family:'Microsoft JhengHei UI'; font-weight:lighter; color:#fff; font-size:16px; letter-spacing:1.5px}

.ceo_image{ width:100%; /*width:250px;*/height:100%; /*height:245px;*/ padding: 10px 0px 10px 10px;}


@media (max-width:991px){
	.col-md-5.ceo_image_div {
	    width: 245px;
	    margin-left:auto !Important;
	    margin-right:auto !Important;
	}
	.left-side-div{
		padding-left: 0px;
		padding-right: 0px;
	}
	.thought-day{
		padding-left: 0px;
		padding-right: 0px;
	}
	.tip-day{
		padding-left: 0px;
		padding-right: 0px
	}
	.my-digital{
	padding-left: 0px;
		padding-right: 0px
	}
}
@media (max-width:360px) and (min-width:320px){
.col-md-5.ceo_image_div {
	padding-left:0px !important;
	padding-right:0px !important;
	width:230px !important;
	height:225px !important;
	
}
	.col-md-12.thought-day h1 {
	    margin-top: 0px !important;
	}
	.res-right-arrow{
		    width: 80px !important;
		    margin-top: 30px !important;
	}
	.my-digital {
		width: 170px !important;
	}
	div.thought-quotionby{
		height:auto !important;
		overflow-y:auto;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	h2.tipOfTheDay {
		height:auto !Important;
	}
}
@media (max-width:425px) and (min-width:361px){
	div.thought-quotionby{
			height:auto !important;
			overflow-y:auto;
			margin-top: 20px;
			margin-bottom: 10px;
		}
	h2.tipOfTheDay {
		height:auto !Important;
	}
	.col-md-12.thought-day h1 {
	    margin-top: 0px !important;
	}
	.padding-5 {
	    padding-left: 5px;
	    padding-right: 5px;
	}
	.res-right-arrow{
		width: 80px !important;
		margin-top: 30px !important;
	}
	.my-digital {
		width: 170px !important;
	}
}

@media (max-width:480px) and (min-width:426px){
	div.thought-quotionby{
		height:auto !Important;
		overflow-y:auto;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	h2.tipOfTheDay {
		height:auto !Important;
	}
	.col-md-12.thought-day h1 {
	    margin-top: 0px !important;
	}
	.res-right-arrow{
		    width: 80px !important;
		    margin-top: 32px !important;
	}
	.my-digital {
		width: 170px !important;
	}
}
@media (max-width:640px) and (min-width:481px){
	div.thought-quotionby{
		height:auto !important;
		overflow-y:auto;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	h2.tipOfTheDay {
		height:auto !Important;
	}
	.col-md-12.thought-day h1 {
	    margin-top: 0px !important;
	}
	.res-right-arrow{
		    width: 80px !important;
		    margin-top: 30px !important;
	}
	.my-digital {
		width: 170px !important;
	}
}
@media (max-width:767px) and (min-width:641px){
	div.thought-quotionby{
		height:auto !important;
		overflow-y:auto;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	h2.tipOfTheDay {
		height:auto !Important;
	}
	.col-md-12.thought-day h1 {
	    margin-top: 0px !important;
	}
	.res-right-arrow{
		    width: 80px !important;
		    margin-top: 30px !important;
	}
	.my-digital {
	width: 170px !important;
	}
}
@media (max-width:991px) and (min-width:768px){
	div.thought-quotionby{
		height:auto !important;
		overflow-y:auto;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	h2.tipOfTheDay {
		height:auto !Important;
	}
	.col-md-12.thought-day h1 {
	    margin-top: 0px !important;
	}
	.pic_center {
	    text-align: center;
	    padding-top: 0px;
	}
	.res-right-arrow{
		    width:100px !important;
		    margin-top: 42px !important;
	}
	.pic_center{
	    text-align: center !important
	}
	.top10 {
		margin-top: 0px !important;
	}
	.myDigitalWorkplace{
		width: 245px !Important;
	}
}
@media (max-width:1024px) and (min-width:992px){
	.col-md-5.ceo_image_div {
		width: 185px;
		height: 185px;
	}
	.tip-text{
		    font-size: 30px !Important;
	}
	.my-digital{
	    width: 250px !important;
	}
	.res-right-arrow{
		width: 100px !important;
		margin-top: 42px !important;
	}
	.top10 {
		margin-top: 0px !important;
	}
}
@media (max-width:1200px) and (min-width:1025px){
	.col-md-5.ceo_image_div {
	    width: 185px;
	    height: 185px;
	    float:right;
	}
	.col-md-12.thought-day h1 {
	    margin-top: 0px !important;
	}
	div#overlay-content div.col-md-6 {
	    margin-top: 0px;
	}
	.tip-text{
		    font-size: 30px !Important;
	}
	.my-digital{
	    width: 250px !important;
	}
	.res-right-arrow{
		width: 100px !important;
		margin-top: 42px !important;
	}
	.top10 {
		margin-top: 0px !important;
	}
}
@media (max-width:1280px) and (min-width:1201px){
	.col-md-5.ceo_image_div {
	    width: 185px;
	    height: 185px;
	    float:right;
	}
	.col-md-12.thought-day h1 {
	    margin-top: 0px !important;
	}
	div#overlay-content div.col-md-6 {
	    margin-top: 0px;
	}
	.my-digital{
	    width: 250px !important;
	}
	.res-right-arrow{
		width: 100px !important;
		margin-top: 42px !important;
	}
	.top10 {
		margin-top: 0px !important;
	}
}

@media (max-width:1300px) and (min-width:1281px){
	.col-md-5.ceo_image_div {
	    width: 185px !Important;
	    height: 185px !Important;
	    float: right;
	}	
}
@media (max-width:1366px) and (min-width:1281px){
	.col-md-5.ceo_image_div{
			width:245px;
		    height: 245px;
	}
	.my-digital{
	    width: 250px !important;
	}
	.res-right-arrow{
		width: 100px !important;
		margin-top: 42px !important;
	}
	.top10 {
		margin-top: 0px !important;
	}
}
@media (max-width:1440x) and (min-width:1367px){
	.col-md-5.ceo_image_div{
			width:245px;
		    height: 245px;
	}
	.my-digital{
	    width: 250px !important;
	}
	.res-right-arrow{
		width: 100px !important;
		margin-top: 42px !important;
	}
	.top10 {
		margin-top: 0px !important;
	}
}




@media (max-width:767px)
{
	h4.tip-text3.CEOName,h4.tip-text3.ChairmanName{
		height:50px;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		overflow-y:scroll;
	}
	.top10{margin-top:0px !important;}
	.mt-40{ margin-top:20px;}
	.mt-35{ margin-top:20px;}
	.pic_center{ text-align:center !important;padding-top:0px !important;}
	.curtain_text1{font-weight:lighter; font-family:'Microsoft JhengHei UI'; text-align:left; color:#efefef; font-size:16px;}
	.tip-text{ font-size:20px !important;font-weight: 500;}
	.tip-text2{font-size:14px !important;font-weight: 500;}
	.tip-text3{ font-size:14px;}
	.wrapfix{ clear:both !important}

}
	.col-md-12.curtain_text1.ChairmanMessage,.col-md-12.curtain_text1.CEOMessage, .col-md-12.curtain_text1.ManagerMessage{
		text-transform:none !important;
		height:280px;
		overflow-y:auto;
	}
	div.thought-quotionby{
		height: 110px;
		/* overflow-y:auto; */
		margin-top: 20px;
		margin-bottom: 10px;
	}
	h2.thougthOfTheDay{
		margin-top:0px;
		margin-bottom:0px;
	}
	h2.tipOfTheDay{
		height: 100px;
		overflow-y:auto;
	}
	.carousel-inner>.item {
	background-color: transparent !important;
	}
