/* New chatbox Popup Css Start */

.new-media .common-popup-description-text {
    font-size: 12px;
    text-align: justify;
    word-break: break-word;
}

.new-media .common-popup-like-button a {
    font-size: 20px;
    color: #333333;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

    .new-media .common-popup-like-button a:hover {
        color: #24bad6;
    }

.new-media .common-popup-like-button p {
    display: inline-block;
    font-size: 14px;
    margin: 0px;
}

.new-media .image-toggle {
    display: inline-block;
    float: right;
}

.new-media .attachment-badge-popup {
    display: block;
    text-align: center;
}

    .new-media .attachment-badge-popup a {
        font-size: 12px;
        margin-top: 3px;
        margin-left: 3px;
        padding: 5px 10px;
        color: #333 !important;
        background-color: transparent !important;
        border: 1px solid #999999 !important;
        width: auto;
        float: left;
        border-radius: 20px;
    }

        .new-media .attachment-badge-popup a:first-child {
            margin-left: 0px;
        }

/*New code added on 05-06-2020*/
.new-media .modal-body {
    padding: 15px !important;
}

.new-media .modal-body-bg {
    height: 150px !important;
    border-radius: 6px !important;
}

.new-media .common-modal-close, #AttachmentView .close {
    min-width: auto !important;
    font-weight: bold !important;
    font-size: 18px;
    top: 10px;
    background: #fff;
    text-shadow: 0px 0px 4px #fff;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-shadow: 0 0px 7px 0 rgb(0 0 0 / 23%);
    opacity: 1;
    text-align: center;
    line-height: 22px;
    padding: 0px 0px 0px 0px !important;
    color: #000;
}

    #Announcement_Alert .common-modal-close:hover, #Announcement_Alert .common-modal-close:focus,
    #AttachmentView .close:hover, #AttachmentView .close:focus {
        background: #000;
        color: #fff !important;
    }

#AttachmentView .close {
    top: 12.5px;
}

.new-media .common-modal-header {
    position: absolute;
    z-index: 10;
}

.new-media .common-title-popup {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
}

.new-media .common-name-popup {
    font-size: 14px;
}

.new-media .common-type-popup {
    font-size: 12px;
}

.new-media .common-head-text-popup-Alert {
    font-size: 16px;
    padding: 4px 10px;
    color: #000;
    letter-spacing: 1px;
    background-color: #f00 !important;
    width: 100%;
    font-weight: 600;
}

.new-media .common-head-text-popup {
    font-size: 16px;
    padding: 4px 10px;
    color: #000;
    letter-spacing: 1px;
    background-color: #ff9e20 !important;
    width: 100%;
    font-weight: 600;
}

.new-media .panel-heading-common-popup {
    padding: 14px 0px 7px 0px !important;
    border: none !important;
    background-color: transparent !important;
    position: absolute;
    top: 0px;
    left: 0px;
}

.new-media .common-popup-link {
    font-size: 12px;
    padding-top: 10px !important;
}

    .new-media .common-popup-link a {
        word-break: break-word;
        color: #337ab7 !important;
    }

.new-media .common-content-popup {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #000;
    word-break: break-word;
    padding-bottom: 10px;
}

    .new-media .common-content-popup p {
        margin-bottom: 5px;
    }

.new-media .shade-common-popup {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6), rgba(216, 216, 216,0.7));
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

.new-media .common-media-image .carousel-inner .item img {
    display: block;
    width: 100%;
    /*height: 350px;*/
    height: 300px;
    object-fit: contain;
    object-position: center;
}

.new-media .carousel-inner {
    border-radius: 5px;
}

.new-media .carousel-indicators-custom {
    bottom: -30px;
}

    .new-media .carousel-indicators-custom li {
        background: #D6D6D6 !important;
        border: 1px solid #D6D6D6 !important;
        border-radius: 10px;
    }

    .new-media .carousel-indicators-custom .active {
        width: 12px !important;
        height: 12px !important;
        background: #869791 !important;
    }

.new-media .arrow-custom {
    background-image: none !important;
    width: 100% !important;
    /*top: 340px !important;*/
    top: 290px !important;
    left: 13px;
    color: #333 !important;
    opacity: 1 !important;
}

.new-media .left.arrow-custom .glyphicon {
    left: 0px !important;
    top: 20px !important;
    transform: rotate(180deg) translate(20px,0px);
}

.new-media .right.arrow-custom .glyphicon {
    /*left: 13px !important;*/
    /*top: 19px !important;*/
    left: 0px !important;
    top: 17px !important;
}

.new-media .common-popup-description-more {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    font-weight: 600;
    padding: 3px 8px;
    border-radius: 20px;
    color: #fff;
}

    .new-media .common-popup-description-more:hover {
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        padding-left: 8px;
        margin-left: 5px;
        color: #fff;
    }

.new-media .common-image-section-popup {
    height: 100%;
}

    .new-media .common-image-section-popup img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 4px;
    }

.new-media .commom-user-image-popup img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.new-media .attachment-badge-popup a > i.fa {
    padding-left: 5px;
}

#AttachmentView .modal-title {
    font-size: 19px;
    margin-top: 0px;
}

#AttachmentView .modal-footer {
    text-align: center;
}

    #AttachmentView .modal-footer .btn-outline-secondary:hover, #AttachmentView .modal-footer .btn-outline-secondary:focus {
        border-color: #7b7a7a;
        color: #4c4c4c;
        background: #fff;
    }

@media (max-width: 767px) and (min-width: 320px) {

    .new-media .commom-user-details-popup {
        padding-top: 10px;
    }

    .new-media .commom-user-image-popup img {
        width: 60px;
        height: 60px;
    }

    .new-media .shade-common-popup {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6), rgba(216, 216, 216,0.7));
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
    }
}

@media (max-width: 425px) and (min-width: 320px) {

    .new-media .common-media-image .carousel-inner .item img {
        display: block;
        width: 100%;
        height: 200px;
        /*object-fit: cover;*/
        object-fit: contain;
        object-position: center;
    }

    .new-media .arrow-custom {
        top: auto !important;
        bottom: -25px !important;
    }
}

/* New chatbox Popup Css End */

/* new css added on 31/8/2021 for modal-chat-boxses START */

.toast {
    opacity: 1;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    width: 15%;
    z-index: 1000;
    background: #ffffff;
    box-shadow: 0 4px 20px rgb(0 0 0 / 30%);
    height: 40px;
    font-size: 19px;
    background: aliceblue;
}
.toast-body {
    padding-left: 10px;
    font-weight: bold;
}
.info-content-detail #description {
    margin-bottom: 16px;
    padding-bottom: 0;
}
.link-container {
    margin-bottom: 16px;
}
.link-box {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    white-space: normal !important;
    word-break: break-all;
}
.link-box .link-item {
    color: #337ab7 !important;
}
.view-more-replies {
    font-size: 12px;
    padding: 5px 10px;
    color: #333 !important;
    background-color: #e6e6e6 !important;
    width: 110px;
    float: none;
    border-radius: 20px;
    margin: 5px auto;
    cursor: pointer;
    box-shadow: 0 0 2px #4a4a4a;
}
.chatAttach_xlsx .chip-icon-box a, .chatAttach_Others .chip-icon-box a,
.chatAttach_PDF .chip-icon-box a, .chatAttach_Docx .chip-icon-box a {
    padding: 9px 0px;
    font-size: 13px;
}
.attachment-badge .upload-chip {
    font-size: 10px;
    line-height: 11px;
    margin-top: 3px;
    margin-right: 4px;
    padding: 3px 5px;
    color: #666 !important;
    background-color: white !important;
    /* border: 1px solid #e1e1e1 !important; */
    border: 1px solid #bbbbbb !important;
    width: auto;
    float: left;
    /* border-radius: 20px; */
    border-radius: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    position: relative;
    padding-right: 16px;
}
.attachment-badge .upload-chip.chatAttach_Image .chip-text-box {
    white-space: normal !important;
    width: 100%;
    display: block;
}
.attachment-badge .upload-chip.chatAttach_Image .chip-text-box img {
    width: 100%;
}
#ToastPopup {
    border-radius: 20px;
    background: #fff;
    /*padding: 7px 14px;*/
    padding: 8px 10px;
    width: auto;
    font-size: 17px;
    z-index: 9999;
}
#ToastPopup .toast-body {
    padding: 0px 0px;
}
#ToastPopup .toast-body span {
    text-transform: capitalize;
    margin-right: 7px;
}
#ToastPopup .toast-body #scrollChat {
    color: #000;
    min-width: 1em !important;
    top: 0px !important;
    right: auto !important;
    left: 0px !important;
    text-align: center;
    position: relative;
    font-size: 23px;
}
#AttachDoc div a {
    color: #333 !important;
}
#AttachDoc {
    float: left;
    margin-bottom: 20px;
}
#AttachDoc div {
    font-size: 12px;
    margin-top: 6px;
    margin-left: 0px;
    margin-right: 6px;
    padding: 5px 10px;
    color: #333 !important;
    background-color: transparent !important;
    border: 1px solid #999999 !important;
    width: auto;
    float: left;
    border-radius: 20px;
}
#AttachDoc div a:last-child {
    margin-left: 10px;
}
.chatAttach_Docx, .chatAttach_PDF, .chatAttach_xlsx, .chatAttach_Others {
    height: 41px !important;
}
.attachment-badge .upload-chip {
    padding-right: 18px;
}
.attachment-badge .upload-chip.chatAttach_Image {
    padding: 5px 2px !important;
    border: none !important;
    white-space: normal;
}
#seemorebtnOccasion {
    padding-bottom: 10px;
}
#AttachmentView .modal-dialog {
    margin: 10px auto;
}
#AttachmentView .modal-title {
    /*font-size: 17px;
    margin-top: 0px;
    margin-left: 0px;*/
    font-size: 19px;
    margin-top: 0px;
    margin-left: 0px;
    /*font-weight: 600;*/
}
#AttachmentView .modal-footer {
    text-align: center;
}

.chatAttach_Docx, .chatAttach_PDF, .chatAttach_xlsx, .chatAttach_Others {
    height: 44px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatAttach_Docx .chip-text-box, .chatAttach_PDF .chip-text-box, .chatAttach_xlsx .chip-text-box, .chatAttach_Others .chip-text-box {
    display: flex;
    /*justify-content: center;*/
    justify-content: flex-start;
    align-items: center;
}
#AttachmentView {
    z-index: 1060;
}
.wish-popup-area-image img {
    /*border-radius: 4px;*/
    border-radius: 50%;
    width: 103px !important;
    height: 103px !important;
    object-fit: cover;
}
#myModalforwish .modal-title {
    font-size: 19px;
}

/* chatbox code */

.experiences-inner-card-btn-panel {
    padding: 14px 14px 0;
}
#Announcement_Alert {
    overflow-x: hidden;
}
.new-media-chat-area {
    padding-bottom: 20px;
    float: left;
    /* width: 100%; */
}
#_AttachDocument a {
    word-break: break-word;
}
#ToastPopupAnn {
    border-radius: 20px;
    background: #fff;
    /* padding: 7px 14px; */
    padding: 8px 10px;
    width: auto;
    font-size: 17px;
    z-index: 9999;
}
#ToastPopupAnn .toast-body {
    padding: 0px 0px;
}
#ToastPopupAnn .toast-body span {
    text-transform: capitalize;
    margin-right: 7px;
}
#ToastPopupAnn .toast-body #scrollChatAnn {
    color: #000;
    min-width: 1em !important;
    top: 0px !important;
    right: auto !important;
    left: 0px !important;
    text-align: center;
    position: relative;
    font-size: 23px;
}

/* new css added on 02/8/2021 for modal-chat-boxses END */

/* new css added on 01/9/2021, 02/9/2021 for modal-chat-boxses START */

.experiences-inner-card-btn-panel .experiences-inner-card-btn-item .experiences-inner-card-btn-panel-dot span {
    margin-top: 2px !important;
    padding: 0px 0px !Important;
    visibility: hidden;
}
.experiences-comment-container-count .experiences-inner-card-btn-item .experiences-inner-card-btn-panel-count > a {
    padding-left: 0px;
    padding-right: 0px;
    color: #000000;
    position: relative;
    top: -3px;
}
#photo-view-with-comments {
    overflow-x: hidden;
}
.show-inner-likes-box-hide {
    transform: translate(146%);
    /* transform: translate(16%); */
    opacity: 0;
}
.main-chat-text-area-border {
    padding: 10px;
    box-shadow: 0 0 2px #4a4a4a;
    border-radius: 10px;
    background: #e6e6e6;
    margin: 0px 1px 0px 0px;
}

.main-chat-text-area {
    position: relative;
    word-break: break-all;
    text-align: justify;
    font-weight: 400;
    color: #4a4a4a;
}
.upload-outer-chip-box-3 {
    position: relative;
    z-index: 100;
    bottom: auto;
    top: 0;
    width: 100%;
    /* padding: 0px 2px 5px 2px; */
    padding: 0px 30px 5px 2px;
    font-size: 13.5px;
    font-weight: 400;
}
.reply-text-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 18px;
}
.attachment-badge {
    display: block;
    text-align: center;
    width: 100%;
}
.chip-box {
    display: flex;
    padding: 0 0 3px 0;
    flex-wrap: wrap;
}
.reply-box-my .chip-box {
    justify-content: flex-end;
    margin-top: 8px;
    word-break: break-all;
}
.comment-container .attachment-badge {
    margin-top: 8px;
    word-break: break-all;
}
.main-comment-panel {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 1;
}
.main-comment-panel .comment-area {
    width: 100%;
    margin-right: 8px;
}
.main-comment-panel .comment-btn-pannel {
    display: flex;
}
.main-comment-panel .mr-8 {
    margin-right: 8px;
}
.main-comment-panel .comment-btn-pannel .btn {
    padding: 5px;
    border-radius: 10px !important;
    background: #ffffff;
    border-color: #e1e1e1;
    box-shadow: 0 8px 20px 1px rgb(0 0 0 / 9%);
    position: relative;
}
.main-comment-panel .comment-btn-pannel .btn {
    padding: 5px;
    border-radius: 10px;
    background: #ffffff;
    /* border-color: #e1e1e1; */
    border-color: #bbbbbb;
    box-shadow: 0 8px 20px 1px rgb(0 0 0 / 9%);
    position: relative;
    transition: all 0.35s;
}
.main-comment-panel .btn-file-upload {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.main-comment-panel input.btn-file-upload[type=file] {
    font-size: 0px;
}
.main-comment-panel .comment-btn-pannel .btn img {
    max-width: 22px;
}
.main-comment-panel .comment-btn-pannel .btn {
    padding: 5px;
    border-radius: 10px;
    background: #ffffff;
    /*border-color: #e1e1e1;*/
    border-color: #bbbbbb;
    box-shadow: 0 8px 20px 1px rgb(0 0 0 / 9%);
    position: relative;
    transition: all 0.35s;
}
.main-comment-panel .comment-btn-pannel .btn:hover {
    /* border-color: #bbbbbb;*/
    box-shadow: 0 0 0 3px rgb(0 0 0 / 9%);
}
.main-comment-panel .comment-btn-pannel .btn:hover > div {
    transform: rotate(-45deg);
    transition: all 0.35s;
}
.main-comment-panel .comment-btn-pannel button.btn:hover img {
    transform: rotate(45deg);
    transition: all 0.35s;
}.main-comment-panel .btn-file-upload {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.main-comment-panel input.btn-file-upload[type=file] {
    font-size: 0px;
}
.main-comment-panel .comment-btn-pannel .btn img {
    max-width: 22px;
}
.main-comment-panel .comment-btn-pannel .btn {
    padding: 5px;
    border-radius: 10px;
    background: #ffffff;
    /*border-color: #e1e1e1;*/
    border-color: #bbbbbb;
    box-shadow: 0 8px 20px 1px rgb(0 0 0 / 9%);
    position: relative;
    transition: all 0.35s;
}
.main-comment-panel .comment-btn-pannel .btn:hover {
	/* border-color: #bbbbbb;*/
	box-shadow: 0 0 0 3px rgb(0 0 0 / 9%);
}
.main-comment-panel .comment-btn-pannel .btn:hover > div {
	transform: rotate(-45deg);
	transition: all 0.35s;
}
.main-comment-panel .comment-btn-pannel button.btn:hover img {
    transform: rotate(45deg);
    transition: all 0.35s;
}
.main-comment-panel .comment-btn-pannel button {
    min-width: 2em !important;
}
.chat-main-panel {
    overflow: auto;
    max-height: 210px;
    /* max-height: 186px; */
    padding-right: 12px;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 16px;
    margin-bottom: 1px;
}
.chat-main-panel {
    padding-bottom: 10px;
}
.ml0 {
    margin-left: 0 !important;
}
.mr0 {
    margin-right: 0 !important;
}
.reply-box-ext {
    padding: 2px 5px;
    background: #ffffff;
    clear: both;
    width: auto;
    max-width: 80%;
    margin-bottom: 5px;
}
.reply-author-detail {
    font-size: 14px;
    font-weight: 500;
    /* display: inline-block; */
    display: block;
}
.emojionearea .emojionearea-picker.emojionearea-picker-position-left, .emojionearea .emojionearea-picker.emojionearea-picker-position-right {
    margin-right: -104px !important;
    top: 30px !important;
}

#comments .main-chat-text-area .emojionearea .emojionearea-button.active + .emojionearea-picker-position-left, #comments .main-chat-text-area .emojionearea .emojionearea-button.active + .emojionearea-picker-position-right {
    margin-right: -92px !important;
    top: 30px !important;
}
.reply-author-detail span {
    font-size: 13.5px !important;
    font-weight: 400 !important;
}
.reply-author-detail span {
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
}
.msg-like-img {
    position: relative;
    top: -2px;
}
.my-chat-edit-delete-panel .emojioneemoji, .upload-outer-chip-box-3 .emojioneemoji {
	/*width: 22px;*/
	/*width: 19.5px;*/
	width: 16px;
}
.reply-text-line {
	overflow: hidden;
	/*max-height: 70px;*/
	max-height: 19px;
	line-height: 17px;
}
.replymsg {
	/*display: inline-block;*/
}
.attachment-badge-name {
	display: inline-block;
	margin: 0px 5px 0px 0px;
}
#oldfilename .attachment-badge-name:first-child {
	margin: 0px 5px 0px 0px;
}
#oldfilename .Closebtn {
	cursor: pointer;
}
#NewAttachmentFiles {
	margin: 1px 0px 0px 0px;
	float: left;
	/*overflow: auto;*/
	/*max-height: 48px;*/
}
.comment-upload-chip .closeBtn {
	cursor: pointer;
}
.comment-upload-chip {
	font-size: 10px;
	line-height: 11px;
	margin-top: 3px;
	margin-right: 4px;
	padding: 3px 6px;
	color: #666 !important;
	background-color: white !important;
	/* border: 1px solid #e1e1e1 !important; */
	border: 1px solid #bbbbbb !important;
	width: auto;
	float: left;
	/* border-radius: 20px; */
	border-radius: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	position: relative;
}
.main-comment-panel .emojionearea .emojionearea-editor {
	/*max-height: 7em;*/
	max-height: 6em;
}
.reply-inside-text-box {
	background: #fff;
}
.others-reply-text-box {
	background: #e6e6e6;
}
.main-comment-panel .emojionearea-editor {
	margin-right: 0px;
}
.main-comment-panel .emojionearea-editor::-webkit-scrollbar-track {
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.main-comment-panel .emojionearea-editor::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}
.main-comment-panel .emojionearea-editor::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #999;
}
.experiences-inner-card-btn-panel-icon .like-img {
	cursor: pointer;
}
.chat-main-panel {
	padding-bottom: 10px;
}
.my-chat-edit-delete-panel {
    position: relative;
}
.reply-box-ext h4 {
    /* font-size: 14px; */
    font-size: 13.5px;
    margin-top: 0px;
    word-break: break-all;
    text-align: justify;
    font-weight: 400;
    border-radius: 10px;
    padding: 8px 10px;
    /* box-shadow: 0 0 2px #9c9c9c; */
    box-shadow: 0 0 2px #4a4a4a;
    margin-bottom: 5px;
    color: #4a4a4a;
    background: #e6e6e6;
}
.mt-4 {
    margin-top: 4px;
}
.chat-edit-delete-panel {
    position: absolute;
    top: -15px;
    right: 3px;
    height: 30px;
    width: 30px;
    background: #ffffff;
    border-radius: 50%;
    /* border: 1px solid #e1e1e1; */
    border: 1px solid #bbbbbb;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
    opacity: 0;
    transition: all 0.3s;
    cursor: pointer;
}
.chat-edit-delete-panel img {
    max-width: 20px;
    width: 100%;
}
.chat-edit-delete-dropdown {
    top: 0px;
    border-radius: 10px;
    min-width: 100px;
    border: 0;
    /* box-shadow: 0 2px 12px rgb(0 0 0 / 18%); */
    box-shadow: 0 2px 12px rgb(74 74 74 / 44%);
}
.chat-edit-delete-dropdown li {
    padding-left: 10px;
}
.my-chat-edit-delete-panel:hover .chat-edit-delete-panel {
    opacity: 1;
}
.chat-edit-delete-dropdown li a, .chat-edit-delete-dropdown li button {
    padding: 3px 10px 3px 4px;
    border-bottom: 1px solid #cccccc;
    background: #ffffff;
    width: 100%;
    text-align: left;
    border-radius: 0px;
    color: #262626;
    cursor: pointer;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > button:hover, .dropdown-menu > li > button:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    cursor: pointer !important;
}
.chat-edit-delete-dropdown li:last-child a, .chat-edit-delete-dropdown li:last-child button {
    border-bottom: 0;
}
.reply-box-my {
    padding: 2px 0px;
    background: #ffffff;
    text-align: right;
    width: 100%;
    float: right;
    max-width: 80%;
    margin-bottom: 5px;
}
.reply-box-my h4 {
    /* font-size: 14px; */
    font-size: 13.5px;
    margin-top: 0px;
    word-break: break-all;
    text-align: justify;
    font-weight: 400;
    border-radius: 10px;
    padding: 8px 10px;
    /* box-shadow: 0 0 2px #9c9c9c; */
    box-shadow: 0 0 2px #4a4a4a;
    margin-bottom: 5px;
    color: #4a4a4a;
}
.chat-edit-delete-panel {
    position: absolute;
    top: -15px;
    right: 3px;
    height: 30px;
    width: 30px;
    background: #ffffff;
    border-radius: 50%;
    /* border: 1px solid #e1e1e1; */
    border: 1px solid #bbbbbb;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
    opacity: 0;
    transition: all 0.3s;
    cursor: pointer;
}
.chip-text-box {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.attachment-badge .upload-chip.chatAttach_Image .chip-text-box {
    white-space: normal !important;
    width: 100%;
    display: block;
}
.attachment-badge .upload-chip.chatAttach_Image .chip-text-box img {
    width: 100%;
}

.show-comment-panel::-webkit-scrollbar-track {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.show-comment-panel::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.show-comment-panel::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #999;
}

.scrollbar-panel::-webkit-scrollbar-track {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.scrollbar-panel::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.scrollbar-panel::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #999;
}

.custom-scroll::-webkit-scrollbar-track {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #999;
}

.media-gallery-detail-panel-body {
    overflow: hidden;
}
.album-head-box {
    margin-bottom: 0px;
}
#divNoRecord {
    text-align: center;
    font-size: 18px;
    color: #747474;
    border: 1px dashed #474747;
    background-color: #ffffff;
    /* box-shadow: 0 0 12px 0 rgb(0 0 0 / 12%); */
    border-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px 10px;
}
.media-gallery-detail-panel-body .album-row-info.media-gallery-detail-null-no-data {
    /*height: 140px;*/
    min-height: 140px;
}
#divNoRecord {
    height: 140px;
}
.new-media-chat-area {
    padding-bottom: 10px !important;
}

.mt-14 {
    margin-top: 14px;
}
.reply-text-box {
    /* font-size: 14px; */
    font-size: 13.8px;
    word-break: break-all;
    text-align: justify;
    font-weight: 400;
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: 0 0 2px #9c9c9c; */
    box-shadow: 0 0 2px #4a4a4a;
    color: #4a4a4a;
}
.reply-inside-text-box {
    background: #fff;
    display: block;
}
.msg-like-img {
    max-width: 16px;
    margin: 0px 4px 0px 6px;
}
.reply-author-detail .countInnerLikes {
    cursor: pointer;
}
#photo-view-with-comments .modal-header {
    border-bottom: none !important;
}
.comment-container .attachment-badge a {
    border: none;
    max-width: 220px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.chip-icon-box a {
    margin-left: 5px;
}
.attachment-badge-name {
    max-width: 140px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.reply-box-my .countInnerLikes {
    cursor: pointer;
}

/* new css added on 01/9/2021, 02/9/2021 for modal-chat-boxses END */

/* responsive css START */

@media only screen and (min-width: 1200px) {

    .media-gallery-detail-panel-body .album-row-info {
        overflow: auto;
        /*height: 546px;*/
        max-height: 546px;
        padding-right: 0;
        margin-right: -10px;
    }

}

@media (max-width: 1199px) and (min-width: 992px) {

    #photo-view-with-comments .modal-dialog {
        width: auto;
        margin: 20px 20px;
    }

}

@media (max-width: 1024px) and (min-width: 992px) {

    .album-card-footer-flex-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .media-gallery-user-btn-item .media-gallery-user-btn-panel-count>span {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

}

@media (max-width: 991px) and (min-width: 768px) {

    .album-card-footer-flex-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #photo-view-with-comments .album-detail-footer {
        margin-bottom: 20px;
    }
    .experiences-comment-container-count .experiences-inner-card-btn-item .experiences-inner-card-btn-panel-count > a {
        margin-top: 0;
        top: 0;
    }
    #photo-view-with-comments .modal-dialog {
        width: auto;
        margin: 20px 20px;
    }

}

@media only screen and (max-width: 767px) {

    .slider-panel .carousel-inner>.item {
        height: 170px;
    }
    .album-detail-right {
        margin-top: 10px;
    }
    #photo-view-with-comments .modal-dialog {
        width: auto;
        margin: 20px 20px;
    }
    #photo-view-with-comments .album-detail-footer {
        margin-bottom: 20px;
    }
    .experiences-comment-container-count .experiences-inner-card-btn-item .experiences-inner-card-btn-panel-count > a {
        margin-top: 0;
        top: 0;
    }

}

@media (max-width: 575px) and (min-width: 320px) {

    .album-card-footer-flex-box .album-card-footer-date {
        font-size: 12px;
    }
    .media-gallery-user-btn-item .media-gallery-user-btn-panel-count {
        font-size: 12px !important;
    }
    .album-card-footer-flex-box .media-gallery-user-btn-item .media-gallery-user-btn-panel-count>a {
        font-size: 12px !important;
    }
    .album-user-info-grid {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
    .album-user-info-grid .album-user-details-box {
        margin-top: 10px;
    }
    .album-detail-right {
        position: absolute;
        bottom: 25px;
    }
    .album-data-box {
        justify-content: flex-end;
    }
    #photo-view-with-comments .album-detail-footer {
        margin-top: 15px;
    }

}
